/**
  * Breakpoints are defined in scss because they can't be referenced as a css variables
  */
$breakpoints-foundation: (
  xs: 320px,
  sm: 414px,
  md: 610px,
  lg: 1024px,
  xl: 1140px,
  xxl: 1168px,
);
