@use "../functions" as *;
@use "./breakpoints" as *;
@use "./typography" as *;

:root {
  --ilo-scale: 1; // default scale for the design system

  /**
    * Layout
  */
  --ilo-layout-max-width: #{px-to-rem(1300px)};
  --ilo-layout-padding: #{px-to-rem(20px)};

  /**
    * Colors
    */
  --ilo-color-white: rgba(255, 255, 255, 1);
  --ilo-color-blue: rgba(30, 45, 190, 1);
  --ilo-color-blue-lighter: rgba(235, 245, 253, 1);
  --ilo-color-blue-light: rgba(190, 220, 250, 1);
  --ilo-color-blue-dark: rgba(35, 0, 80, 1);
  --ilo-color-blue-medium: rgba(210, 213, 242, 1);
  --ilo-color-blue-ramp: rgba(33, 18, 124, 1);
  --ilo-color-blue-dark-ramp: rgba(35, 0, 80, 0.5);
  --ilo-color-gray-charcoal: rgba(45, 45, 45, 1);
  --ilo-color-gray-accessible: rgba(109, 109, 109, 1);
  --ilo-color-gray-light: rgba(237, 240, 242, 1);
  --ilo-color-gray-light-semi-transparent: rgba(237, 240, 242, 0.25);
  --ilo-color-gray-base: rgba(184, 196, 204, 1);
  --ilo-color-red: rgba(250, 60, 75, 1);
  --ilo-color-red-light: rgba(254, 216, 219, 1);
  --ilo-color-red-dark: rgba(200, 48, 60, 1);
  --ilo-color-red-ramp: rgba(250, 60, 75, 0.2);
  --ilo-color-yellow: rgba(255, 205, 45, 1);
  --ilo-color-yellow-light: rgba(255, 245, 200, 1);
  --ilo-color-yellow-ramp: rgba(255, 205, 45, 0.2);
  --ilo-color-green: rgba(140, 225, 100, 1);
  --ilo-color-green-light: rgba(232, 249, 224, 1);
  --ilo-color-green-ramp: rgba(140, 225, 100, 0.2);
  --ilo-color-turquoise: rgba(5, 210, 210, 1);
  --ilo-color-purple: rgba(150, 10, 85, 1);

  /* New colors */
  --ilo-color-brand-800: rgba(35, 0, 80, 1);
  --ilo-color-brand-600: rgba(30, 45, 190, 1);
  --ilo-color-brand-100: rgba(235, 245, 253, 1);
  --ilo-color-yellow-500: rgba(250, 180, 40, 1);

  --ilo-color-notification-type-error: var(--ilo-color-red);
  --ilo-color-notification-type-info: var(--ilo-color-blue);
  --ilo-color-notification-type-success: var(--ilo-color-green);
  --ilo-color-notification-type-warning: var(--ilo-color-yellow);
  --ilo-color-background-default: var(--ilo-color-white);
  --ilo-color-background-active: var(--ilo-color-blue);
  --ilo-color-background-highlight: var(--ilo-color-gray-light);
  --ilo-color-background-hover: var(--ilo-color-blue-lighter);
  --ilo-color-background-focus: var(--ilo-color-white);

  --ilo-color-borders-default: var(--ilo-color-gray-base);
  --ilo-color-borders-hover: var(--ilo-color-blue);
  --ilo-color-borders-active: var(--ilo-color-blue);
  --ilo-color-borders-focus: var(--ilo-color-yellow);

  /**
    * Sizing
    */
  --ilo-breakpoint-xs: #{map-get($breakpoints-foundation, "xs")};
  --ilo-breakpoint-sm: #{map-get($breakpoints-foundation, "sm")};
  --ilo-breakpoint-md: #{map-get($breakpoints-foundation, "md")};
  --ilo-breakpoint-lg: #{map-get($breakpoints-foundation, "lg")};
  --ilo-breakpoint-xl: #{map-get($breakpoints-foundation, "xl")};
  --ilo-breakpoint-xxl: #{map-get($breakpoints-foundation, "xxl")};
  --ilo-border-radius: calc(#{px-to-rem(2)} * var(--ilo-scale));

  /**
    * Font-size
    */
  --ilo-font-size-2xsm: calc(#{px-to-rem(10)} * var(--ilo-scale));
  --ilo-font-size-xsm: calc(#{px-to-rem(12)} * var(--ilo-scale));
  --ilo-font-size-sm: calc(#{px-to-rem(14)} * var(--ilo-scale));
  --ilo-font-size-md: calc(#{px-to-rem(16)} * var(--ilo-scale));
  --ilo-font-size-lg: calc(#{px-to-rem(18)} * var(--ilo-scale));
  --ilo-font-size-xlg: calc(#{px-to-rem(24)} * var(--ilo-scale));
  --ilo-font-size-2xlg: calc(#{px-to-rem(28)} * var(--ilo-scale));
  --ilo-font-size-3xlg: calc(#{px-to-rem(32)} * var(--ilo-scale));
  --ilo-font-size-4xlg: calc(#{px-to-rem(36)} * var(--ilo-scale));
  --ilo-font-size-5xlg: calc(#{px-to-rem(44)} * var(--ilo-scale));

  /**
    * Font-weight
    */
  --ilo-font-weight-regular: 400;
  --ilo-font-weight-medium: 500;
  --ilo-font-weight-bold: 700;

  /**
    * Line Height
    */
  --ilo-line-height-xsm: 115%;
  --ilo-line-height-sm: 120%;
  --ilo-line-height-md: 125%;
  --ilo-line-height-lg: 130%;
  --ilo-line-height-xlg: 135%;
  --ilo-line-height-2xlg: 145%;
  --ilo-line-height-3xlg: 150%;

  /**
    * Letter spacing
    */
  --ilo-letter-spacing-xsm: -0.035em;
  --ilo-letter-spacing-sm: -0.02em;
  --ilo-letter-spacing-md: 0em;
  --ilo-letter-spacing-lg: 0.02em;

  /**
    * Spacing
    */
  --ilo-spacing-base: calc(#{px-to-rem(4)} * var(--ilo-scale));

  /**
    * Transition
    */
  --ilo-transition-duration: 150ms;
  --ilo-transition-timing-function: ease-out;

  /**
    * Border
    */
  --ilo-border-xs: calc(#{px-to-rem(1)} * var(--ilo-scale));
  --ilo-border-sm: calc(#{px-to-rem(1.5)} * var(--ilo-scale));
  --ilo-border-md: calc(#{px-to-rem(2)} * var(--ilo-scale));
  --ilo-border-lg: calc(#{px-to-rem(4)} * var(--ilo-scale));

  /**
    * Links
    */
  --ilo-link-color-default-light: var(--ilo-color-blue-dark);
  --ilo-link-color-default-dark: var(--ilo-color-white);

  --ilo-link-color-visited-light: var(--ilo-color-purple);
  --ilo-link-color-visited-dark: var(--ilo-color-gray-base);

  --ilo-link-color-hover-light: var(--ilo-color-blue);
  --ilo-link-color-hover-dark: var(--ilo-color-blue);

  --ilo-link-color-active-light: var(--ilo-color-blue-dark);
  --ilo-link-color-active-dark: var(--ilo-color-blue-dark);

  --ilo-link-color-focus-light: var(--ilo-color-blue-dark);
  --ilo-link-color-focus-dark: var(--ilo-color-blue-dark);

  --ilo-link-background-default-light: transparent;
  --ilo-link-background-default-dark: transparent;

  --ilo-link-background-hover-light: transparent;
  --ilo-link-background-hover-dark: var(--ilo-color-white);

  --ilo-link-background-focus-light: var(--ilo-color-yellow);
  --ilo-link-background-focus-dark: var(--ilo-color-yellow);
}
