@use "../../../../icons" as *;
@use "../../../../functions" as *;
@import "../../../../mixins";
@import "../../../../config";

.ilo--nav-mobile-menu {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 13px spacing(2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ilo-color-blue-dark);
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: var(--ilo-color-blue-lighter);
      color: var(--ilo-color-blue);
      border-bottom-color: var(--ilo-color-blue);
    }
  }

  &__link {
    @include typography("highlight-medium");
    text-decoration: none;
    color: inherit;
  }

  &__marked {
    width: px-to-rem(24px);
    height: px-to-rem(24px);
    @include icon("check", var(--ilo-color-blue-dark));
  }
}
