node_modules/
.next/
dist/
pages/
lib/
storybook-static/
next/
.turbo

brand-assets/dist/
brand-assets/node_modules/

icon-builder-helpers/node_modules/

icons/es/
icons/lib/
icons/node_modules/
icons/svg/
icons/umd/

icons-react/es/
icons-react/lib/
icons-react/next/
icons-react/node_modules/
icons-react/umd/

react/lib/
react/node_modules/
react/storybook-static/

styles/build/
styles/node_modules/

themes/build/
themes/node_modules/

