version: '3'
services:
    backend:
        image: "ghcr.io/international-labour-organization/ilo_base_theme:1.x"
        ports:
            - 8082:80
        volumes:
            - ./dist/components:/opt/drupal/modules/ilo_base_theme_companion/dist/components/
            - ./dist/styles/index.css:/opt/drupal/modules/ilo_base_theme_companion/dist/css/index.css