@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--accordion {
  $transition-timing: 0.15s;

  &--button {
    align-items: center;
    background-color: $color-ux-background-default;
    background-position: calc(100% - px-to-rem(6px)) center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px) px-to-rem(24px);
    border: none;
    border-top: 2px solid map-get($color, "accordion", "border");
    color: $color-ux-labels-actionable;
    display: flex;
    fill: $color-ux-labels-actionable;
    flex-direction: row;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "section");
    @include font-styles("label-medium");
    justify-content: space-between;
    margin: 0;
    padding: px-to-rem(calc($spacing-ui-padding-lg - 6px)) px-to-rem(36px)
      px-to-rem(calc($spacing-ui-padding-lg - 6px)) 0;
    text-align: left;
    transition: border $transition-timing ease-out,
      background $transition-timing ease-out, color $transition-timing ease-out;
    width: 100%;
    @include dataurlicon("add", $color-ux-labels-actionable);

    &--large {
      @include font-styles("headline-6");
      padding: px-to-rem(calc($spacing-ui-padding-lg - 3px)) px-to-rem(36px)
        px-to-rem(calc($spacing-ui-padding-lg - 3px)) 0;
    }

    &:hover,
    &:focus {
      background-color: $color-ux-background-hover;
      border-top-color: $color-ux-borders-hover;
      color: $color-ux-labels-hover;
      cursor: pointer;
      fill: $color-ux-labels-hover;

      &[aria-expanded="true"] {
        @include dataurlicon("minus", $color-ux-labels-hover);
      }

      &[aria-expanded="false"] {
        @include dataurlicon("add", $color-ux-labels-hover);
      }
    }

    @include breakpoint("large") {
      @include font-styles("label-medium");
      padding: px-to-rem(calc($spacing-ui-padding-xl - 14px)) px-to-rem(36px)
        px-to-rem(calc($spacing-ui-padding-xl - 14px)) 0;

      &--large {
        @include font-styles("headline-6");
        padding: px-to-rem(calc($spacing-ui-padding-lg - 3px)) px-to-rem(36px)
          px-to-rem(calc($spacing-ui-padding-lg - 3px)) 0;
      }
    }

    &[aria-expanded="true"] {
      @include dataurlicon("minus", $color-ux-labels-actionable);
    }

    &[aria-expanded="false"] {
      @include dataurlicon("add", $color-ux-labels-actionable);
    }
  }

  &--panel {
    --height: auto;
    color: $color-ux-labels-default;
    font-family: $fonts-copy;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-out, padding 0.5s ease-out;

    .ilo--accordion--innerpanel {
      padding-bottom: px-to-rem($spacing-ui-padding-xxl);
      padding-top: px-to-rem(8px);
    }

    @include font-styles("label-medium");

    &--open {
      height: var(--height);
      transition: height 0.5s ease-out, padding 0.5s ease-out;
    }

    &.collapsing,
    &.expanding {
      height: 0;
      position: relative;
      overflow: hidden;
      visibility: visible;
      -webkit-transition-property: height, padding, visibility;
      transition-property: height, padding, visibility;
      transition-duration: attr(data-transition);
      -webkit-transition-duration: attr(data-transition);
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;
    }

    @include breakpoint("large") {
      @include font-styles("label-large");
    }
  }
}
