@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";
@import "../config";

.#{$prefix}--accordion {
  --ilo-accordion-color-icon: var(--ilo-color-blue-dark);

  // This provides a reference to the outerclass within nested declarations
  $accordion: &;

  // Accordion contents can add lots of height so the transition timing can't
  // be too fast which is why we're using a custom value here.
  $transition-timing: 500ms;

  // If the accordion item is scrollable, then this is its max-height
  $scroll-max-height: 300px;

  &--icon {
    width: 24px;
    height: 24px;
  }

  &--button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-block: spacing(4);
    padding-inline-end: spacing(1);
    background-color: $color-ux-background-default;
    border: none;
    border-top: 2px solid $color-base-neutrals-lighter;
    font-family: var(--ilo-fonts-display);
    color: $color-ux-labels-actionable;
    font-weight: $type-weights-section;
    transition: all $transition-timing ease-in-out;
    @include typography("highlight-medium");

    &__large {
      @include typography("highlight-large");
      padding-block: spacing(5);
    }

    &[aria-expanded="true"] {
      background-color: $color-base-blue-light;
      #{$accordion}--icon {
        @include icon("minus", var(--ilo-color-blue));
      }
    }

    &[aria-expanded="false"] {
      #{$accordion}--icon {
        @include icon("plus", var(--ilo-color-blue-dark));
      }
    }

    &:hover,
    &:focus {
      --ilo-accordion-color-icon: var(--ilo-color-blue);
      border-top-color: $color-ux-borders-hover;
      color: $color-ux-labels-hover;
      cursor: pointer;
    }

    @include breakpoint("md") {
      @include typography("highlight-medium");

      &__large {
        @include typography("highlight-large");
        padding: spacing(5) 0;
      }
    }
  }

  &--panel {
    $panel: &;

    max-height: 0;
    transition: all $transition-timing cubic-bezier(0, 1, 0, 1);
    overflow: hidden;

    #{$accordion}--innerpanel {
      padding-bottom: spacing(9);
      padding-top: spacing(2);
      padding-inline-end: spacing(8);
    }

    &__open {
      max-height: 100vh;
      transition: all $transition-timing ease-in-out;

      &#{$panel}__scroll {
        max-height: $scroll-max-height;
        overflow-y: auto;
      }
    }
  }
}
