@use "../functions" as *;

.ilo--audio-player {
  position: relative;

  &--progress-bar {
    height: px-to-rem(8px);
    background-color: var(--ilo-color-gray-accessible);
    position: relative;
  }
  &--progress-complete {
    height: 100%;
    width: 40%;
    background-color: var(--ilo-color-yellow-500);
    position: absolute;
    top: 0;
    left: 0;
  }
  &--body {
    display: flex;
    align-items: center;
    color: var(--ilo-color-gray-light);
    background-color: var(--ilo-color-gray-charcoal);
    padding: spacing(3);
  }
  &--left {
    flex: 1;
  }
  &--track-name {
    font-size: var(--ilo-font-size-sm);
    font-weight: var(--ilo-font-weight-medium);
    line-height: var(--ilo-line-height-sm);
  }
  &--track-details {
    display: flex;
    font-size: var(--ilo-font-size-xsm);
    line-height: var(--ilo-line-height-xsm);
  }
  &--track-creator::before {
    content: "•";
    margin-right: spacing(2);
  }
  &--track-creator {
    margin-left: spacing(2);
  }
  &--center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing(3);
  }
  &--play-button {
    display: flex;
    align-items: center;
    background-color: var(--ilo-color-yellow-500);
    border-radius: 50%;
    cursor: pointer;
    padding: spacing(1);
  }
  &--play-button:hover {
    background-color: var(--ilo-color-brand-100);
  }
  &--play-icon {
    color: var(--ilo-color-brand-800);
  }
  &--right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &--duration-played {
    font-size: var(--ilo-font-size-sm);
    line-height: var(--ilo-line-height-sm);
  }
  &--duration-total {
    font-size: var(--ilo-font-size-xsm);
    line-height: var(--ilo-line-height-xsm);
  }
  &--separator {
    height: 32px;
    border-left: 1px solid var(--ilo-color-gray-accessible);
    margin: spacing(1) 0 spacing(1) spacing(3);
  }
  &--volume {
    display: flex;
    align-items: center;
    padding: spacing(2) spacing(2);
    cursor: pointer;
    border: none;
  }
  &--volume:hover,
  &--volume__active {
    background-color: var(--ilo-color-brand-100);
  }
  &--volume:hover &--volume-icon,
  &--volume__active &--volume-icon {
    color: var(--ilo-color-brand-600);
  }
  &--volume-modal {
    background-color: var(--ilo-color-brand-100);
    height: px-to-rem(138px);
    width: px-to-rem(40px);
    position: absolute;
    right: spacing(3);
    top: px-to-rem(-150px);
    z-index: 2;
    padding: spacing(2);
    display: flex;
    justify-content: center;
    visibility: hidden;
  }
  &--volume-modal__visible {
    visibility: visible;
  }
  &--volume-track {
    height: 100%;
    width: 4px;
    background-color: var(--ilo-color-gray-base);
    position: relative;
  }
  &--volume-track-filled {
    height: 40%;
    width: 100%;
    background-color: var(--ilo-color-brand-600);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &--volume-track-filled::after {
    content: "";
    width: px-to-rem(16px);
    height: px-to-rem(16px);
    background-color: var(--ilo-color-brand-600);
    border-radius: 50%;
    position: absolute;
    top: px-to-rem(-8px);
    left: px-to-rem(-6px);
    cursor: pointer;
  }
}
