@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";
@import "../config";

.#{$prefix}--breadcrumb {
  $breadcrumb: &;

  --ilo-breadcrumb-background-color: var(--ilo-color-white);
  --ilo-breadcrumb-link-color: var(--ilo-color-blue-dark);
  --ilo-breadcrumb-link-hover-color: var(--ilo-color-blue);

  position: relative;
  z-index: 10;

  &__theme {
    &__dark {
      --ilo-breadcrumb-background-color: var(--ilo-color-blue-dark);
      --ilo-breadcrumb-link-color: var(--ilo-color-white);
      --ilo-breadcrumb-link-hover-color: var(--ilo-color-white);
    }
  }

  &--inner {
    display: inline-flex;
    // Local variable set in the Hero for alignment
    padding-inline-start: var(--breadcrumb-padding);
    padding-inline-end: spacing(12);
    padding-block: spacing(4);
    background-color: var(--ilo-breadcrumb-background-color);
    @include cornercut(spacing(12), 100%, "right", "bottom");

    [dir="rtl"] & {
      @include cornercut(spacing(12), 100%, "left", "bottom");
    }
  }

  &--items,
  &--context {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
  }

  &--item,
  &--context__collapse {
    padding-inline: spacing(7) spacing(1);
    position: relative;

    &:before {
      content: "";
      left: 0;
      position: absolute;
      background-repeat: no-repeat;
      @include icon("chevron_right", var(--ilo-breadcrumb-link-color));
      background-size: px-to-rem(24px);
      height: px-to-rem(24px);
      width: px-to-rem(24px);

      [dir="rtl"] & {
        left: auto;
        right: 0;
        @include icon("chevron_left", var(--ilo-breadcrumb-link-color));
      }
    }
  }

  &--context {
    $context: &;
    position: relative;

    &--button {
      display: none;
      padding: 0;
      margin: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      width: px-to-rem(24px);
      height: px-to-rem(24px);
      background-size: px-to-rem(24px);
      @include icon("dot_menu", var(--ilo-breadcrumb-link-color));

      &:hover {
        cursor: pointer;
        @include icon("dot_menu", var(--ilo-breadcrumb-link-hover-color));
      }
    }

    &--menu {
      display: none;
      position: fixed;
      width: px-to-rem(120px);
      z-index: 10;

      &__visible {
        display: inline-block;
      }
    }

    &__collapse {
      padding-inline: spacing(6) 0;

      #{$breadcrumb}--items {
        display: none;
      }

      #{$context}--button {
        display: inline-block;
      }
    }
  }

  &--item {
    align-items: center;
    display: flex;

    &__first {
      align-items: center;
      display: flex;
      position: relative;
      // Make sure the outline is visible when focused
      padding-inline-start: 2px;
      width: px-to-rem(24px);
      height: px-to-rem(24px);

      // No chevron before the home icon
      &:before {
        content: none;
      }

      #{$breadcrumb}--link {
        height: 24px;
        width: 24px;
        position: relative;

        &:hover,
        &:focus {
          &:after {
            @include icon("home", var(--ilo-breadcrumb-link-hover-color));
          }
        }

        &:after {
          content: "";
          display: block;
          height: 24px;
          width: 24px;
          position: relative;
          @include icon("home", var(--ilo-breadcrumb-link-color));
        }
      }
    }
  }

  &--link {
    display: inline-flex;
    align-items: center;
    color: var(--ilo-breadcrumb-link-color);
    height: px-to-rem(16px);
    padding-block: 0;
    text-decoration: none;

    &--label {
      white-space: nowrap;
      overflow-x: clip;
      text-overflow: ellipsis;
      max-width: 30ch;
      font-family: var(--ilo-fonts-copy);
      font-weight: 400;
      @include typography("body-xsmall");

      &:hover,
      &:focus {
        color: var(--ilo-breadcrumb-link-hover-color);
        text-decoration: underline;
        text-underline-offset: px-to-rem(4px);
        text-decoration-thickness: px-to-rem(2px);
      }
    }
  }
}
