@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";
@import "../config";

.#{$prefix}--breadcrumb {
  $breadcrumb: &;

  position: relative;
  z-index: 10;

  &--inner {
    display: inline-flex;
    // Local variable set in the Hero for alignment
    padding-inline-start: var(--breadcrumb-padding);
    padding-inline-end: spacing(12);
    padding-block: spacing(4);
    background-color: $color-base-neutrals-white;
    @include cornercut(spacing(12), 100%, "right", "bottom");

    [dir="rtl"] & {
      @include cornercut(spacing(12), 100%, "left", "bottom");
    }
  }

  &--items,
  &--context {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
  }

  &--item,
  &--context__collapse {
    background-repeat: no-repeat;
    @include dataurlicon("arrowright", $color-link-text-default);
    background-position: left;
    padding-inline: spacing(6) spacing(4);

    [dir="rtl"] & {
      background-position: right;
      background-repeat: no-repeat;
      @include dataurlicon("arrowleft", $color-link-text-default);
    }
  }

  &--context {
    $context: &;
    position: relative;

    &--button {
      display: none;
      padding: 0;
      margin: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16px 4px;
      position: relative;
      width: px-to-rem(42px);
      height: px-to-rem(16px);
      @include dataurlicon("dotmenu", $color-link-text-default);

      &:hover {
        cursor: pointer;
        @include dataurlicon("dotmenu", $color-base-blue-medium);
      }
    }

    &--menu {
      display: none;
      position: fixed;
      width: px-to-rem(120px);
      z-index: 10;

      &__visible {
        display: inline-block;
      }
    }

    &__collapse {
      padding-inline: spacing(3) spacing(1);

      #{$breadcrumb}--items {
        display: none;
      }

      #{$context}--button {
        display: inline-block;
      }
    }
  }

  &--item {
    align-items: center;
    display: flex;

    &__first {
      align-items: center;
      display: flex;
      position: relative;
      // Make sure arrow doesn't appear before house even in RTL
      background: none !important;
      // Make sure the outline is visible when focused
      padding-inline-start: 2px;

      &:hover,
      &:focus {
        #{$breadcrumb}--link {
          &:after {
            @include dataurlicon("home", $color-link-text-hover);
          }
        }
      }

      #{$breadcrumb}--link {
        background: none;
        width: px-to-rem(16px);
        height: px-to-rem(16px);
        position: relative;

        &:after {
          background-position: center center;
          background-repeat: no-repeat;
          content: "";
          display: block;
          height: px-to-rem(16px);
          left: 0;
          position: absolute;
          top: 0;
          width: px-to-rem(16px);
          @include dataurlicon("home", $color-link-text-default);
        }
      }
    }
  }

  &--link {
    display: inline-flex;
    align-items: center;
    color: $color-link-text-default;
    height: px-to-rem(16px);
    padding-block: 0;
    text-decoration: none;

    &--label {
      white-space: nowrap;
      overflow-x: clip;
      text-overflow: ellipsis;
      max-width: 30ch;
      font-family: var(--ilo-fonts-copy);
      font-weight: 400;
      @include font-styles("body-xxs");

      &:hover,
      &:focus {
        color: $color-link-text-hover;
        text-decoration: underline;
        text-underline-offset: px-to-rem(4px);
        text-decoration-thickness: px-to-rem(2px);
      }
    }
  }
}
