@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";
@import "../config";

.#{$prefix}--button {
  --ilo-button-label-weight: 700;
  --ilo-button-labels-actionable-color: var(--ilo-color-blue-dark);
  --ilo-button-labels-active-color: var(--ilo-color-blue-light);
  --ilo-button-labels-alert-color: var(--ilo-color-white);
  --ilo-button-labels-hover-color: var(--ilo-color-blue);

  // This provides a reference to the outerclass within nested declarations
  $button: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing(2);
  font-family: var(--ilo-fonts-display);
  font-weight: var(--ilo-button-label-weight);
  border-radius: var(--ilo-border-md);
  text-decoration: none;

  [class*="__label"] {
    white-space: nowrap;
  }

  &--icon {
    position: relative;

    .#{$prefix}--icon {
      position: relative;
      bottom: px-to-rem(2px);
    }

    &--position__right {
      flex-direction: row-reverse;
    }

    &--only {
      padding: unset !important;

      .#{$prefix}--icon {
        bottom: 0 !important;
      }

      .button__label {
        @include isVisuallyHidden();
      }
    }
  }

  &__large {
    padding: spacing(3) spacing(6);
    height: px-to-rem(52px);
    @include typography("heading-4");

    &.#{$prefix}--button--icon--only {
      width: px-to-rem(52px);
    }
  }

  &__medium {
    padding: spacing(2) spacing(5);
    height: px-to-rem(44px);
    @include typography("highlight-medium-bold");

    &.#{$prefix}--button--icon--only {
      width: px-to-rem(44px);
    }
  }

  &__small {
    padding: spacing(1) spacing(4);
    height: px-to-rem(32px);
    @include typography("highlight-small-bold");

    &.#{$prefix}--button--icon--only {
      width: px-to-rem(32px);
    }

    .#{$prefix}--icon {
      bottom: px-to-rem(1px);
    }
  }

  &__primary {
    background-color: var(--ilo-color-yellow);
    border: var(--ilo-border-md) var(--ilo-color-yellow) solid;
    color: var(--ilo-button-labels-actionable-color);
  }

  &__secondary {
    background-color: var(--ilo-color-background-default);
    border: var(--ilo-border-md) var(--ilo-color-borders-default) solid;
    color: var(--ilo-button-labels-actionable-color);

    &:hover {
      background-color: var(--ilo-color-background-hover);
      border: var(--ilo-border-md) var(--ilo-color-borders-hover) solid;
    }

    &:active {
      background-color: var(--ilo-color-background-active);
      border: var(--ilo-border-md) var(--ilo-color-borders-active) solid;
      box-shadow: none;
      color: var(--ilo-button-labels-active-color);
    }
  }

  &__tertiary {
    background-color: var(--ilo-color-background-highlight);
    border: var(--ilo-border-md) var(--ilo-color-background-highlight) solid;
    color: var(--ilo-button-labels-actionable-color);
  }

  &__alert {
    background-color: var(--ilo-color-red-dark);
    border: var(--ilo-border-md) var(--ilo-color-red-dark) solid;
    color: var(--ilo-button-labels-alert-color);

    &:hover {
      background-color: var(--ilo-color-background-hover);
      border: var(--ilo-border-md) var(--ilo-color-borders-hover) solid;
      color: var(--ilo-button-labels-hover-color);
    }

    &:focus {
      background-color: var(--ilo-color-background-focus);
      border: var(--ilo-border-md) var(--ilo-color-borders-focus) solid;
      color: var(--ilo-button-labels-focus-color);
      outline: none;
    }

    &:active {
      background-color: var(--ilo-color-background-active);
      border: var(--ilo-border-md) var(--ilo-color-borders-active) solid;
      box-shadow: none;
      color: var(--ilo-button-labels-active-color);
    }
  }

  &:focus {
    background-color: var(--ilo-color-background-focus);
    border: var(--ilo-border-md) var(--ilo-color-borders-focus) solid;
    box-shadow:
      4px 4px 0 1px var(--ilo-color-borders-focus) inset,
      -4px -4px 0 1px var(--ilo-color-borders-focus) inset;
    color: var(--ilo-button-labels-focus-color);
    outline: none;
    @include globaltransition("color, background-color, border-color");

    &.#{$prefix}--small {
      box-shadow:
        3px 3px 0 1px var(--ilo-color-borders-focus) inset,
        -3px -3px 0 1px var(--ilo-color-borders-focus) inset;
    }
  }

  &:hover {
    background-color: var(--ilo-color-background-hover);
    border: var(--ilo-border-md) var(--ilo-color-borders-hover) solid;
    box-shadow: none;
    color: var(--ilo-button-labels-hover-color);
    cursor: pointer;
    @include globaltransition("color, background-color, border-color");
  }

  &:active {
    background-color: var(--ilo-color-background-active);
    border: var(--ilo-border-md) var(--ilo-color-borders-active) solid;
    box-shadow: none;
    color: var(--ilo-button-labels-active-color);
    @include globaltransition("color, background-color, border-color");
  }

  &:disabled {
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}
