@use "@ilo/themes/build/scss/tokens" as *;

.ilo--btn--label {
  padding: 5px 10px;
  transition: inherit;
}

.ilo--btn.ilo--btn--primary {
  &:hover {
    border: 2px solid $color-brand-ilo-blue;
    color: $color-brand-ilo-blue;
  }
  &:focus {
    color: $color-brand-ilo-white;
    background-color: $color-brand-ilo-yellow;
    .ilo--btn--label {
      background-color: $color-brand-ilo-dark-blue;
    }
  }
  &:active {
    background-color: $color-brand-ilo-blue;
    color: $color-brand-ilo-white;
    .ilo--btn--label {
      background-color: $color-brand-ilo-blue;
    }
  }
}
