@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--button {
  display: inline-block;
  font-family: $fonts-display;
  font-weight: map-get($type, "weights", "label");
  padding: 0;
  @include borderradius("button");

  .link__label,
  .button__label {
    display: inline-block;
  }

  &.icon {
    position: relative;

    .ilo--icon {
      height: 100%;
      max-height: px-to-rem(32px);
      max-width: px-to-rem(32px);
      position: absolute;
      width: 100%;
    }

    &.icon__position--left {
      .link__label,
      .button__label {
        padding-left: spacing(12);
      }

      .ilo--icon {
        left: px-to-rem(13px);
        top: px-to-rem(7px);
      }
    }

    &.icon__position--right {
      .link__label,
      .button__label {
        padding-right: spacing(12);
      }

      .ilo--icon {
        right: px-to-rem(13px);
        top: px-to-rem(7px);
      }
    }

    &--only {
      .button__label {
        @include isVisuallyHidden();
      }
    }
  }

  &--large {
    .link__label,
    .button__label {
      padding: spacing(3) spacing(6);
      @include font-styles("button-large");
    }

    &.icon--only {
      height: px-to-rem(45px);
      width: px-to-rem(45px);

      .ilo--icon {
        left: px-to-rem(4.5px);
        top: px-to-rem(4.5px);
      }
    }
  }

  &--medium {
    .link__label,
    .button__label {
      padding: spacing(2) spacing(5);
      @include font-styles("button-medium");
    }

    &.icon {
      .ilo--icon {
        max-height: px-to-rem(30px);
        max-width: px-to-rem(30px);
        position: absolute;
      }

      &.icon__position--left {
        .link__label,
        .button__label {
          padding-left: spacing(11);
        }

        .ilo--icon {
          left: px-to-rem(10px);
          top: px-to-rem(3px);
        }
      }

      &.icon__position--right {
        .link__label,
        .button__label {
          padding-right: spacing(11);
        }

        .ilo--icon {
          right: px-to-rem(10px);
          top: px-to-rem(3px);
        }
      }
    }

    &.icon--only {
      height: px-to-rem(36px);
      width: px-to-rem(36px);

      .ilo--icon {
        left: px-to-rem(2px);
        top: px-to-rem(2px);
      }
    }
  }

  &--small {
    .link__label,
    .button__label {
      padding: spacing(1) spacing(4);
      @include font-styles("button-small");
    }

    &.icon {
      .ilo--icon {
        max-height: px-to-rem(28px);
        max-width: px-to-rem(28px);
        position: absolute;
      }

      &.icon__position--left {
        .link__label,
        .button__label {
          padding-left: spacing(9);
        }

        .ilo--icon {
          left: px-to-rem(6px);
          top: px-to-rem(1px);
        }
      }

      &.icon__position--right {
        .link__label,
        .button__label {
          padding-right: spacing(9);
        }

        .ilo--icon {
          right: px-to-rem(6px);
          top: px-to-rem(1px);
        }
      }
    }

    &.icon--only {
      height: px-to-rem(26px);
      width: px-to-rem(26px);

      .ilo--icon {
        left: px-to-rem(0.5px);
        top: px-to-rem(0.5px);
      }
    }
  }

  &--primary {
    background-color: map-get($color, "ux", "background", "attention");
    border: map-get($borders, "base")
      map-get($color, "ux", "borders", "attention") solid;
    color: map-get($color, "ux", "labels", "actionable");
  }

  &:focus {
    background-color: map-get($color, "ux", "background", "focus");
    border: map-get($borders, "base") map-get($color, "ux", "borders", "focus")
      solid;
    box-shadow: 4px 4px 0 1px map-get($color, "ux", "borders", "focus") inset,
      -4px -4px 0 1px map-get($color, "ux", "borders", "focus") inset;
    color: map-get($color, "ux", "labels", "focus");
    outline: none;
    @include globaltransition("color, background-color, border-color");

    &.ilo--button--small {
      box-shadow: 3px 3px 0 1px map-get($color, "ux", "borders", "focus") inset,
        -3px -3px 0 1px map-get($color, "ux", "borders", "focus") inset;
    }
  }

  &:hover {
    background-color: map-get($color, "ux", "background", "hover");
    border: map-get($borders, "base") map-get($color, "ux", "borders", "hover")
      solid;
    box-shadow: none;
    color: map-get($color, "ux", "labels", "hover");
    cursor: pointer;
    @include globaltransition("color, background-color, border-color");

    &.ilo--button--small {
      box-shadow: none;
    }
  }

  &:active {
    background-color: map-get($color, "ux", "background", "active");
    border: map-get($borders, "base") map-get($color, "ux", "borders", "active")
      solid;
    box-shadow: none;
    color: map-get($color, "ux", "labels", "active");
    @include globaltransition("color, background-color, border-color");

    &.ilo--button--small {
      box-shadow: none;
    }
  }

  &:disabled {
    opacity: map-get($opacity, "disabled");
    pointer-events: none;
  }

  &--secondary {
    background-color: map-get($color, "ux", "background", "default");
    border: map-get($borders, "small")
      map-get($color, "ux", "borders", "default") solid;
    color: map-get($color, "ux", "labels", "actionable");
    @include globaltransition("color, background-color, border-color");

    &:hover {
      background-color: map-get($color, "ux", "background", "hover");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      @include globaltransition("color, background-color, border-color");
    }

    &:active {
      background-color: map-get($color, "ux", "background", "active");
      border: map-get($borders, "base")
        map-get($color, "ux", "borders", "active") solid;
      box-shadow: none;
      color: map-get($color, "ux", "labels", "active");
      @include globaltransition("color, background-color, border-color");

      &.ilo--button--small {
        box-shadow: none;
      }
    }
  }

  &--tertiary {
    background-color: map-get($color, "ux", "background", "highlight");
    border: map-get($borders, "base")
      map-get($color, "ux", "background", "highlight") solid;
    color: map-get($color, "ux", "labels", "actionable");
    @include globaltransition("color, background-color, border-color");
  }

  &--alert {
    background-color: map-get($color, "ux", "background", "alert");
    border: map-get($borders, "small") map-get($color, "ux", "borders", "alert")
      solid;
    color: map-get($color, "ux", "labels", "alert");
    @include globaltransition("color, background-color, border-color");

    &:hover {
      background-color: map-get($color, "ux", "background", "hover");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      color: map-get($color, "ux", "labels", "hover");
      @include globaltransition("color, background-color, border-color");
    }

    &:focus {
      background-color: map-get($color, "ux", "background", "focus");
      border: map-get($borders, "base")
        map-get($color, "ux", "borders", "focus") solid;
      color: map-get($color, "ux", "labels", "focus");
      outline: none;
      @include globaltransition("color, background-color, border-color");
    }

    &:active {
      background-color: map-get($color, "ux", "background", "active");
      border: map-get($borders, "base")
        map-get($color, "ux", "borders", "active") solid;
      box-shadow: none;
      color: map-get($color, "ux", "labels", "active");
      @include globaltransition("color, background-color, border-color");

      &.ilo--button--small {
        box-shadow: none;
      }
    }
  }
}

[id*="story--components-button"] div {
  .ilo--button {
    margin-right: 10px;
    margin-bottom: 10px;

    &--large.icon--only {
      transform: translateY(-6px);
    }

    &--medium.icon--only {
      transform: translateY(-5px);
    }

    &--small.icon--only {
      transform: translateY(-5px);
    }
  }
}
