@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";
@import "../config";

.#{$prefix}--callout {
  display: flex;
  transition: max-height 225ms ease-out;
  $callout: &;

  &--collapse:not(.ilo--callout--open) {
    max-height: 64px;
    overflow: hidden;
  }

  &--open {
    max-height: 300px;
    overflow: hidden;

    #{$callout}--toggle--icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(5) spacing(2);
    width: px-to-rem(40px);

    #{$callout}__icon {
      margin: spacing(1);
    }
  }

  &__content {
    padding: spacing(6);
    width: 100%;
    font-size: px-to-rem(14px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-block-end: spacing(3);
  }

  &__title {
    @include font-styles("nav-bold-b");
    font-family: var(--ilo-fonts-display);
    font-weight: 700;
  }

  &__description {
    font-weight: 400;
  }

  &--toggle {
    @include font-styles("nav-bold-b");

    background: none;
    border: none;
    color: var(--ilo-color-blue-dark);
    cursor: pointer;
    font-family: var(--ilo-fonts-display);
    font-weight: 500;
    padding-inline-end: spacing(8);
    position: relative;

    &__icon {
      @include icon("chevron_down", var(--ilo-color-blue-dark));

      background-position: right;
      background-repeat: no-repeat;
      display: inline-block;
      height: 24px;
      position: absolute;
      right: 0;
      top: 11px;
      transform: translateY(-50%) rotate(0);
      transition: transform 225ms ease-out;
      width: 24px;
    }
  }

  &__footer {
    padding-block-start: spacing(5);
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: px-to-rem(24px);
    width: px-to-rem(24px);

    &__error {
      @include icon("notification_error", var(--ilo-color-white));
    }

    &__info {
      @include icon("notification_info", var(--ilo-color-white));
    }

    &__success {
      @include icon("notification_success", var(--ilo-color-white));
    }

    &__warning {
      @include icon("notification_warning", var(--ilo-color-white));
    }
  }

  &__error {
    background: var(--ilo-color-red-ramp);

    #{$callout}__sidebar {
      background: var(--ilo-color-red);
    }
  }

  &__info {
    background: var(--ilo-color-blue-ramp);

    #{$callout}__sidebar {
      background: var(--ilo-color-blue);
    }
  }

  &__success {
    background: var(--ilo-ramp-green);

    #{$callout}__sidebar {
      background: var(--ilo-color-green);
    }
  }

  &__warning {
    background: var(--ilo-color-yellow-ramp);

    #{$callout}__sidebar {
      background: var(--ilo-color-yellow);
    }
  }
}
