@use "../functions" as *;
@import "../mixins";
@import "../config";

.#{$prefix}--callout {
  display: flex;
  transition: max-height 225ms ease-out;
  $callout: &;

  &__collapse {
    max-height: px-to-rem(64px);
    overflow: hidden;
  }

  &__open {
    max-height: px-to-rem(300px);
    overflow: hidden;

    #{$callout}--toggle--icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__error {
    background: var(--ilo-color-red-ramp);

    #{$callout}--sidebar {
      background: var(--ilo-color-red);
    }
  }

  &__info {
    background: var(--ilo-color-blue-light);

    #{$callout}--sidebar {
      background: var(--ilo-color-blue);
    }
  }

  &__success {
    background: var(--ilo-color-green-ramp);

    #{$callout}--sidebar {
      background: var(--ilo-color-green);
    }
  }

  &__warning {
    background: var(--ilo-color-yellow-ramp);

    #{$callout}--sidebar {
      background: var(--ilo-color-yellow);
    }
  }

  &--sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(5) spacing(2);
    width: px-to-rem(40px);

    #{$callout}__icon {
      margin: spacing(1);
    }
  }

  &--content {
    color: var(--ilo-color-gray-charcoal);
    padding: spacing(6);
    width: 100%;
    font-size: px-to-rem(14px);
  }

  &--header {
    display: flex;
    justify-content: space-between;
    padding-block-end: spacing(3);
  }

  &--title {
    @include typography("highlight-medium");
    font-weight: 700;
  }

  &--description {
    font-weight: 400;
  }

  &--toggle {
    @include typography("highlight-medium-bold");
    background: none;
    border: none;
    color: var(--ilo-color-blue-dark);
    cursor: pointer;
    font-weight: 500;
    padding-inline-end: spacing(8);
    position: relative;

    &--icon {
      @include icon("chevron_down", var(--ilo-color-blue-dark));
      background-position: right;
      background-repeat: no-repeat;
      display: inline-block;
      height: 24px;
      position: absolute;
      right: 0;
      top: 11px;
      transform: translateY(-50%) rotate(0);
      transition: transform 225ms ease-out;
      width: 24px;
    }
  }

  &--footer {
    padding-block-start: spacing(5);
  }

  &--icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: px-to-rem(24px);
    width: px-to-rem(24px);

    &__alert {
      &__error {
        @include icon("notification_error", var(--ilo-color-white));
      }

      &__info {
        @include icon("notification_info", var(--ilo-color-white));
      }

      &__success {
        @include icon("notification_success", var(--ilo-color-white));
      }

      &__warning {
        @include icon("notification_warning", var(--ilo-color-white));
      }
    }
  }
}
