@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

@mixin card-drop-shadow {
  filter: drop-shadow(0px -4px 16px rgba(30, 45, 190, 0.05))
    drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08))
    drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.05))
    drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.04));
}

$card-transitions: "color, background-color, border-color, opacity, fill, filter";

$link-hover-selectors: ".ilo--card--link:hover, .ilo--card--link:focus, .ilo--card--link:focus-within";

@mixin card-link-hover {
  &:has(#{$link-hover-selectors}) {
    @content;
  }
}

.ilo--card {
  $self: &;
  $transition-timing: 250ms;

  box-sizing: border-box;
  position: relative;
  background-color: var(--ilo-color-white);
  max-width: var(--max-width);
  flex: 1 1 var(--max-width);
  @include globaltransition("border-bottom, filter");

  * {
    @include globaltransition($card-transitions);
  }

  @include card-link-hover {
    @include card-drop-shadow;

    #{$self}--image--wrapper::before {
      opacity: 0.4;
    }

    #{$self}--picture {
      filter: saturate(0);
    }
  }

  &--wrap {
    height: 100%;
  }

  // The outer element for cards with corner cut
  &--wrapper {
    max-width: var(--max-width);
    @include globaltransition($card-transitions);

    @include card-link-hover {
      @include card-drop-shadow;
    }
  }

  &--image--wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--ilo-color-blue);
      height: 100%;
      width: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      opacity: 0;
      @include globaltransition("opacity");
    }
  }

  &--link {
    background: none;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 2;

    &--text {
      @include isVisuallyHidden();
    }
  }

  &--eyebrow {
    color: var(--ilo-color-purple);
    @include typography("body-small");
    margin-bottom: spacing(4);
  }

  &--title {
    color: var(--ilo-color-blue-dark);
    @include typography("heading-4");
    margin-bottom: spacing(6);
  }

  &--intro {
    color: var(--ilo-color-gray-charcoal);
    @include typography("body-medium");
  }

  &--date {
    color: var(--ilo-gray-accessible);
    @include typography("body-small");
    margin-bottom: spacing(6);
  }

  &--event-date {
    @include typography("body-small");
  }

  &--content--item {
    @include typography("body-small");
  }

  &--cta {
    position: relative;
    z-index: 2;
  }

  &__theme {
    &__light {
      background: var(--ilo-color-white);
      border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-base);
      --ilo-skeleton-element-background-color: var(--ilo-color-gray-light);
    }

    &__soft {
      background: var(--ilo-color-blue-lighter);
    }

    &__light,
    &__soft {
      #{$self}--date-extra {
        color: var(--ilo-color-gray-charcoal);
      }

      @include card-link-hover {
        border-bottom: px-to-rem(3px) solid var(--ilo-color-blue);

        #{$self}--eyebrow,
        #{$self}--title,
        #{$self}--intro,
        #{$self}--date,
        #{$self}--date-extra,
        #{$self}--content--item,
        .ilo--profile {
          color: var(--ilo-color-blue);

          .ilo--icon {
            fill: var(--ilo-color-blue);
          }
        }
      }
    }

    &__dark {
      background: var(--ilo-color-blue-dark);
      border-bottom: px-to-rem(3px) solid var(--ilo-color-red);

      @include card-link-hover {
        border-bottom: px-to-rem(3px) solid var(--ilo-color-white);
      }

      #{$self}--title {
        color: var(--ilo-color-white);
      }

      #{$self}--eyebrow,
      #{$self}--intro,
      #{$self}--date,
      #{$self}--date-extra,
      #{$self}--content--item {
        color: var(--ilo-color-gray-light);
      }

      #{$self}--content--item {
        .ilo--icon {
          fill: var(--ilo-color-gray-light);
        }
      }
    }
  }

  &__size {
    &__fluid {
      --max-width: 100% !important;
    }
  }

  // Video style
  &__isvideo {
    #{$self}--image--wrapper {
      position: relative;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        z-index: 1;
        background-position: center;
        background-size: 18px 20px;
        background-repeat: no-repeat;
      }
      &::before {
        background-color: var(--ilo-color-gray-charcoal);
      }
      &::after {
        @include icon("caret_right", var(--ilo-color-gray-light));
      }
    }
  }
}
