@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;
  $transition-timing: 150ms;

  box-sizing: border-box;
  position: relative;
  background-color: map-get($color, "base", "neutrals", "white");

  // Max width is set in the invididual card types unless fluid
  max-width: var(--max-width);
  flex: 1 1 var(--max-width);

  &__size__fluid {
    --max-width: 100% !important;
  }

  .right-to-left & {
    text-align: right;
  }

  &__action:hover,
  &__action:focus,
  &__action:focus-within {
    background: $brand-ilo-white;
    outline: none;
    text-decoration: none;

    &#{$self}__dark {
      background: $brand-ilo-white;
    }

    #{$self}--eyebrow,
    #{$self}--title,
    #{$self}--intro,
    #{$self}--date,
    #{$self}--date-extra {
      color: $brand-ilo-blue;
    }
  }

  &__theme {
    &__light {
      background: $brand-ilo-white;
    }

    &__dark {
      background: $brand-ilo-dark-blue;
      transition: background $transition-timing ease-out;

      #{$self}--eyebrow,
      #{$self}--title,
      #{$self}--intro,
      #{$self}--date,
      #{$self}--eventdate {
        color: $brand-ilo-grey-light;
        transition: color $transition-timing ease-out;
      }
    }
  }

  &__isvideo {
    #{$self}--image--wrapper {
      position: relative;

      &::before {
        @include dataurlicon("play", $brand-ilo-grey-light);
        background-color: $brand-ilo-grey-charcoal;
        background-position: center;
        background-size: 18px 20px;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 1;
      }
    }
  }

  &--wrap {
    height: 100%;
  }

  &--wrapper {
    max-width: var(--max-width);

    &:hover,
    &:focus,
    &:focus-within {
      @include card-drop-shadow;
    }
  }

  &--link {
    background: none;
    color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 2;
    @include globaltransition("color, background-color, border-color, opacity");

    &:hover,
    &:focus,
    &:focus-within {
      outline: none;
      @include globaltransition(
        "color, background-color, border-color, opacity"
      );

      + #{$self}--wrap {
        #{$self}--eyebrow {
          color: $brand-ilo-blue;
        }

        #{$self}--title {
          color: $brand-ilo-blue;
        }

        #{$self}--intro {
          color: $brand-ilo-blue;
        }

        #{$self}--date {
          color: $brand-ilo-blue;
        }

        #{$self}--eventdate {
          color: $brand-ilo-blue;
        }
      }
    }

    &--text {
      @include isVisuallyHidden();
    }
  }

  &--eyebrow {
    color: $brand-ilo-purple;
    @include font-styles("body-small");
    @include textmargin(
      "margin-bottom",
      16px,
      "headline-5",
      "display",
      "body-small",
      "copy"
    );
    @include globaltransition("color");

    #{$self}--link:hover &,
    #{$self}--link:focus &,
    #{$self}--link:focus-within & {
      color: $brand-ilo-blue;
      @include globaltransition("color");
    }
  }

  &--title {
    color: $brand-ilo-dark-blue;
    font-family: $fonts-display;
    font-weight: 700;
    @include font-styles("headline-5");
    @include textmargin(
      "margin-bottom",
      10px,
      "headline-5",
      "display",
      "body-small",
      "copy"
    );
    @include globaltransition("color");

    #{$self}--link:hover &,
    #{$self}--link:focus &,
    #{$self}--link:focus-within & {
      color: $brand-ilo-blue;
      @include globaltransition("color");
    }
  }

  &--intro {
    color: $brand-ilo-grey-charcoal;
    @include font-styles("body-small");
    @include textmargin("margin-bottom", 30px, "body-small", "copy", 0, 0);
    @include globaltransition("color");

    #{$self}--link:hover &,
    #{$self}--link:focus &,
    #{$self}--link:focus-within & {
      color: $brand-ilo-blue;
      @include globaltransition("color");
    }
  }

  &--date {
    color: $brand-ilo-grey-accessible;
    @include font-styles("body-small");
    @include textmargin("margin-bottom", 30px, "body-small", "copy", 0, 0);
    @include globaltransition("color");

    #{$self}--link:hover &,
    #{$self}--link:focus &,
    #{$self}--link:focus-within & {
      color: $brand-ilo-blue;
      @include globaltransition("color");
    }
  }

  &--event-date {
    @include font-styles("body-small");
    @include textmargin("margin-bottom", 30px, "body-small", "copy", 0, 0);
  }

  &--picture {
    max-width: 100%;
    width: 100%;
  }

  &--cta {
    position: relative;
    z-index: 2;
  }
}
