@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--cardgroup {
  $card: ".ilo--card";

  &--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

    .right-to-left & {
      flex-direction: row-reverse;
    }

    #{$card} {
      width: 100%;
    }
  }

  &--two {
    @include breakpoint("large") {
      #{$card} {
        width: calc(50% - 16px);
      }
    }
  }

  &--three {
    @include breakpoint("large") {
      #{$card} {
        width: calc(33.333% - 16px);
      }
    }
  }

  &--four {
    @include breakpoint("large") {
      #{$card} {
        width: calc(25% - 16px);
      }
    }
  }

  &--button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
  }
}
