@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--cardgroup {
  $c: &;
  $gap-size: px-to-rem(32px);

  &__collapsed {
    #{$c}--inner {
      gap: 0 !important;
    }
  }

  &__count {
    @include breakpoint("lg") {
      &__one {
        #{$c}--inner {
          grid-template-columns: 1fr;
        }
      }

      &__two {
        #{$c}--inner {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &__three {
        #{$c}--inner {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      &__four {
        #{$c}--inner {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  &--inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: $gap-size;
    row-gap: $gap-size;
    margin: auto;
    width: 100%;
  }

  .ilo--card,
  .ilo--card--wrapper {
    height: 100%;
    width: 100%;
  }

  &--button-wrap {
    display: flex;
    justify-content: center;
    margin-top: spacing(16);
    width: 100%;
  }
}
