@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--cardgroup {
  $c: &;

  &__collapsed {
    #{$c}--inner {
      gap: 0 !important;
    }
  }

  &__justify {
    &__start {
      #{$c}--inner {
        justify-content: flex-start;
      }
    }

    &__between {
      #{$c}--inner {
        justify-content: space-between;
      }
    }

    &__center {
      #{$c}--inner {
        justify-content: center;
      }
    }
  }

  &__count {
    @include breakpoint("large") {
      &__one {
        #{$c}--inner {
          gap: 0;
        }

        #{$c}--card {
          flex: 1 1 100%;
        }
      }

      &__two {
        #{$c}--inner {
          gap: 16px;
        }

        #{$c}--card {
          flex: 0 1 calc(50% - 16px);
        }
      }

      &__three {
        #{$c}--inner {
          gap: 21px;
        }

        #{$c}--card {
          flex: 0 1 calc(33.3333% - 21px);
        }
      }

      &__four {
        #{$c}--inner {
          gap: 24px;
        }

        #{$c}--card {
          flex: 0 1 calc(25% - 24px);
        }
      }
    }
  }

  &--inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 100%;

    .right-to-left & {
      flex-direction: row-reverse;
    }
  }

  .ilo--card,
  .ilo--card--wrapper {
    height: 100%;
  }

  &--button-wrap {
    display: flex;
    justify-content: center;
    margin-top: px-to-rem(64px);
    width: 100%;
  }
}
