@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: grid;
  height: px-to-rem(24px);
  margin: 0;
  position: relative;
  place-content: center;
  width: px-to-rem(24px);
  transform: none;
  cursor: pointer;

  &:before {
    content: "";
    background-color: $color-base-neutrals-light;
    height: px-to-rem(16px);
    left: px-to-rem(4px);
    position: absolute;
    top: px-to-rem(4px);
    width: px-to-rem(16px);
    z-index: 1;
  }

  &:after {
    content: "";
    background-color: $color-base-neutrals-light;
    border: px-to-rem(4px) solid $color-base-neutrals-light;
    height: px-to-rem(24px);
    left: 0;
    position: absolute;
    top: 0;
    width: px-to-rem(24px);
    z-index: 0;
  }

  &:checked {
    &:before {
      background-color: $color-base-blue-dark;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      background-size: 24px;
      @include dataurlicon("check", $color-base-neutrals-lighter);
    }

    &:after {
      background-color: $color-base-blue-dark;
      border-color: $color-base-blue-dark;
    }
  }

  &:focus {
    &:after {
      background-color: $color-base-yellow;
      border-color: $color-base-yellow;
    }

    &:checked {
      &:after {
        border-color: $color-base-yellow;
      }
    }

    outline: none;
  }

  &:disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &:invalid,
  &__error,
  &__error & {
    &:after {
      border-color: $color-base-red-medium;
    }

    &:checked {
      &:after {
        border-color: $color-base-blue-dark;
      }
    }
  }
}
