@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--context-menu {
  border-radius: px-to-rem(2px);
  background-color: var(--ilo-color-gray-light);
  display: inline-block;
  position: relative;
  width: auto;
  list-style: none;

  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 5px);
    top: px-to-rem(-5px);
    width: 0;
    height: 0;
    border-left: px-to-rem(10px) solid transparent;
    border-right: px-to-rem(10px) solid transparent;
    border-bottom: px-to-rem(12px) solid var(--ilo-color-gray-light);
  }

  &--item {
    padding: 0 spacing(2);

    &:first-of-type {
      border-top-left-radius: px-to-rem(2px);
      border-top-right-radius: px-to-rem(2px);
    }

    &:last-of-type {
      border-bottom-left-radius: px-to-rem(2px);
      border-bottom-right-radius: px-to-rem(2px);

      a {
        border-bottom: none;
      }
    }

    &:hover,
    &:focus {
      background-color: var(--ilo-color-blue-lighter);
    }

    &.endsection {
      border-bottom: px-to-rem(3px) solid var(--ilo-color-white);

      .ilo--context-menu--link {
        border-bottom: none;
      }
    }
  }

  &--link {
    border-bottom: px-to-rem($borders-base) solid var(--ilo-color-white);
    color: var(--ilo-color-blue-dark);
    display: inline-block;
    padding: spacing(4) spacing(2);
    text-decoration: none;
    width: 100%;
    @include typography("body-xsmall");

    &:active {
      color: var(--ilo-color-blue);
      outline: none;
    }

    &:hover,
    &:focus {
      color: var(--ilo-color-blue);
      outline: none;
      text-decoration: underline;
      text-decoration-thickness: px-to-rem($borders-base);
    }
  }
}
