@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--container {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--ilo-layout-max-width);
  padding: 0 var(--ilo-layout-padding);
  width: 100%;
}
