@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--context-menu {
  border-radius: px-to-rem(2px);
  background-color: $color-ux-background-highlight;
  display: inline-block;
  position: relative;
  width: auto;

  &:before {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    @include dataurlicon("halfsquaretriangle", $color-ux-background-highlight);
    content: "";
    height: px-to-rem($spacing-padding-1-5);
    position: absolute;
    left: 50%;
    top: -#{px-to-rem(6px)};
    transform: translateX(-50%) rotate(135deg);
    width: px-to-rem($spacing-padding-1-5);
  }

  &--item {
    padding: 0 px-to-rem($spacing-padding-1);

    &:last-of-type a {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background-color: $color-base-blue-light;
    }

    &.endsection {
      border-bottom: px-to-rem(3px) solid $color-base-neutrals-white;

      .ilo--context-menu--link {
        border-bottom: none;
      }
    }
  }

  &--link {
    border-bottom: px-to-rem($borders-base) solid $color-base-neutrals-white;
    color: map-get($color, "link", "text", "default");
    display: inline-block;
    font-family: $fonts-copy;
    font-weight: map-get($type, "weights", "section");
    padding: px-to-rem($spacing-padding-2) px-to-rem($spacing-padding-1);
    text-decoration: none;
    width: 100%;
    @include font-styles("body-xxs");
    letter-spacing: -0.1px;

    &:visited {
      color: map-get($color, "link", "text", "default");
    }

    &:active {
      color: map-get($color, "link", "text", "active");
      outline: none;
    }

    &:hover,
    &:focus {
      color: map-get($color, "link", "text", "hover");
      outline: none;
      text-decoration: underline;
      text-decoration-thickness: px-to-rem($borders-base);
    }
  }
}
