@use "../tokens" as *;
@import "../functions";
@import "../mixins";
@import "../animations";

.ilo--credit {
  color: #ffffff;
  display: inline-block;
  height: px-to-rem($spacing-ux-credit-height);
  padding: 0;
  position: relative;
  @include font-styles("image-credit");

  &--label {
    background-color: $color-ux-credit-background;
    @include boxpadding("credit", "large");
  }

  &:after {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    @include dataurlicon("halfsquaretriangle", $color-ux-credit-background);
    content: "";
    height: px-to-rem($spacing-ux-credit-height);
    position: absolute;
    left: 100%;
    top: -#{px-to-rem(map-get($spacing, "padding-0-5"))};
    width: px-to-rem($spacing-ux-credit-height);
  }

  @include breakpoint("large", true) {
    width: 75%;

    &--label {
      bottom: calc(100% + 1px);
      display: none;
      left: 0;
      margin-bottom: px-to-rem(map-get($spacing, "padding-1-5"));
      position: absolute;

      &:after {
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        @include dataurlicon("equilateraltriangle", $color-base-neutrals-dark);
        content: "";
        height: px-to-rem(map-get($spacing, "padding-1-5"));
        position: absolute;
        left: calc(#{px-to-rem(map-get($spacing, "padding-1-5"))} / 2);
        bottom: -#{px-to-rem(map-get($spacing, "padding-1-5"))};
        width: px-to-rem(map-get($spacing, "padding-1-5"));
      }
    }

    &:before {
      background-color: $color-base-neutrals-dark;
      background-position: calc(100% - 4px) center;
      background-repeat: no-repeat;
      background-size: px-to-rem(map-get($spacing, "padding-1-5"))
        px-to-rem(map-get($spacing, "padding-1-5"));
      @include dataurlicon("copyright", $color-base-neutrals-white);
      content: "";
      height: px-to-rem(map-get($spacing, "padding-3"));
      position: absolute;
      left: 0;
      top: 0;
      width: px-to-rem(29px);
    }

    &:after {
      left: px-to-rem(29px);
      top: 0;
    }

    &:hover {
      .ilo--credit--label {
        display: inline-block;
      }
    }
  }

  .right-to-left & {
    &:after {
      background-position: top left;
      left: auto;
      right: 100%;
      transform: scaleX(-1);
    }

    @include breakpoint("large", true) {
      &--label {
        left: auto;
        right: 0;

        &:after {
          background-position: top right;
          @include dataurlicon(
            "equilateraltriangle",
            $color-base-neutrals-dark
          );
          left: auto;
          right: calc(#{px-to-rem(map-get($spacing, "padding-1-5"))} / 2);
        }
      }

      &:before {
        background-position: 4px center;
        left: auto;
        right: 0;
      }

      &:after {
        left: auto;
        right: px-to-rem(29px);
      }
    }
  }
}
