@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--datepicker {
  cursor: pointer;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}

.ilo--input.ilo--datepicker {
  line-height: 1;
  padding: spacing(3) spacing(4) spacing(3);
}
