@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__data {
      --max-width: #{px-to-rem(600px)};

      background: $brand-ilo-light-blue;
      border-bottom: px-to-rem(3px) solid $brand-ilo-ramp-blue;
      padding: px-to-rem(48px) px-to-rem(52px);
      position: relative;
      width: 100%;

      #{$self}--content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }

      @include breakpoint("medium") {
        padding: px-to-rem(48px) px-to-rem(48px) px-to-rem(48px)
          px-to-rem(110px);

        &__columns {
          &__two {
            #{$self}--content {
              grid-template-columns: minmax(px-to-rem(200px), 32%) minmax(
                  53%,
                  1fr
                );
              column-gap: 14%;

              &__with-image {
                #{$self}--area {
                  &--image {
                    grid-column: 1 / 2;
                    grid-row: 1 / span 4;
                  }

                  &--content {
                    grid-column: 2 / 3;
                  }

                  &--files {
                    grid-column: 2 / 3;
                  }

                  &--cta {
                    grid-column: 2 / 3;
                  }

                  &--links {
                    grid-column: 2 / 3;
                  }
                }
              }

              &__no-image-with-links {
                #{$self}--area {
                  &--content {
                    grid-column: 1 / 2;
                  }

                  &--files {
                    grid-column: 1 / 2;
                  }

                  &--cta {
                    grid-column: 1 / 2;
                  }

                  &--links {
                    grid-area: 1 / 2 / 3 / 3;
                  }
                }
              }
            }
          }
        }
      }

      &#{$self}__size {
        &__narrow {
          --max-width: #{px-to-rem(600px)};

          @include cornercut(72px, 48px);
        }

        &__wide {
          --max-width: #{px-to-rem(778px)};
        }

        &__wide,
        &__fluid {
          @include cornercut(86px, 48px);
        }
      }

      #{$self}--image {
        width: 100%;
        max-width: 200px;
        margin: 0 0 #{px-to-rem(31px)};
      }

      &--content-label {
        @include font-styles("body-xs");
        @include textmargin(
          "margin-bottom",
          13px,
          "body-xs",
          "copy",
          "headline-5",
          "display"
        );
        color: $brand-ilo-grey-accessible;
      }

      #{$self}--eyebrow {
        margin: 0 0 #{px-to-rem(16px)};
      }

      &--content-copy {
        @include font-styles("headline-5");
        @include textmargin(
          "margin-bottom",
          37px,
          "headline-5",
          "display",
          "body-xs",
          "copy"
        );
        color: $brand-ilo-grey-charcoal;
        font-family: $fonts-display;
        font-weight: 500;
      }

      &--content-files,
      &--content-cta {
        margin-bottom: px-to-rem(35px);
      }

      [class*="ilo--link"] {
        @include font-styles("headline-6");
        line-height: 1.8;
        margin-inline-end: px-to-rem(12px);
        margin-bottom: px-to-rem(12px);
      }

      [class*="button"] {
        margin: px-to-rem(4px) px-to-rem(8px) px-to-rem(4px) 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
