@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__detail {
      --max-width: #{px-to-rem(343px)};

      border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-light);
      padding: spacing(8) spacing(4);
      position: relative;

      #{$self}--wrap {
        display: flex;
        flex-flow: column;
      }

      #{$self}--image--wrapper {
        width: px-to-rem(100px);
        height: auto;
        margin-bottom: spacing(8);

        picture {
          display: flex;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      #{$self}--eyebrow {
        margin-bottom: spacing(4);
      }

      #{$self}--title {
        padding: 0 0 spacing(2) 0;
        @include font-styles("headline-6");
        @include breakpoint("lg") {
          #{$self}__size__wide & {
            @include font-styles("headline-6");
          }
        }
      }

      #{$self}--intro {
        margin-bottom: spacing(8);
      }

      #{$self}--date {
        font-size: var(--ilo-font-size-sm);
        line-height: var(--ilo-line-height-xlg);
        letter-spacing: var(--ilo-letter-spacing-md);
        color: var(--ilo-color-gray-accessible);
      }

      #{$self}--date-extra {
        font-size: var(--ilo-font-size-md);
        line-height: var(--ilo-line-height-2xlg);
        letter-spacing: var(--ilo-letter-spacing-md);
        color: var(--ilo-color-gray-charcoal);
        gap: spacing(2);

        // this makes sure the para will be indented
        // if it has to wrap on two lines
        margin-inline-start: px-to-rem(-4px);
        padding-inline-start: px-to-rem(24px);
        text-indent: px-to-rem(-24px);

        .ilo--icon {
          display: inline-block;
          position: relative;
          vertical-align: sub;
          top: px-to-rem(1px);
        }
      }

      &#{$self}__size {
        &__narrow {
          --max-width: #{px-to-rem(343px)};
        }

        &__wide,
        &__fluid {
          @include breakpoint("md") {
            --max-width: #{px-to-rem(745px)};
            padding: spacing(8) spacing(4) spacing(8) spacing(0);

            #{$self}--image--wrapper {
              flex: 1 0 18%;
              height: 100%;
              margin: 0;
            }

            #{$self}--picture {
              height: auto;
            }

            #{$self}--wrap {
              flex-flow: row;
              gap: spacing(4);
            }
          }

          @include breakpoint("lg") {
            padding: spacing(8) spacing(6) spacing(8) spacing(0);

            #{$self}--wrap {
              gap: spacing(6);
            }

            #{$self}--image--wrapper {
              flex: 1 0 27%;
            }
          }

          #{$self}--title {
            @include breakpoint("lg") {
              @include font-styles("headline-5");
            }
          }
        }
      }
    }
  }
}
