@use "../functions" as *;
@import "../mixins";
@import "../animations";

.ilo--dropdown {
  &--wrapper {
    --ilo-dropdown-background-color: var(--ilo-color-white);
    --ilo-dropdown-background-color-active: var(--ilo-color-blue-lighter);
    --ilo-dropdown-color: var(--ilo-color-gray-accessible);
    --ilo-dropdown-height: #{px-to-rem(48px)};
    --ilo-dropdown-border-color: var(--ilo-color-gray-base);
    --ilo-dropdown-button-background-color: var(--ilo-color-gray-light);
    --ilo-dropdown-button-icon-color: var(--ilo-color-blue-dark);
    --ilo-dropdown-button-icon-size: calc(var(--ilo-dropdown-height) / 2);
    --ilo-dropdown-button-icon-offset: calc(
      var(--ilo-dropdown-button-icon-size) / 2
    );

    display: inline-block;
    position: relative;

    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      border: 2px solid var(--ilo-dropdown-border-color);
      background-color: var(--ilo-dropdown-button-background-color);
      height: var(--ilo-dropdown-height);
      width: var(--ilo-dropdown-height);
      right: 0;
      @include globaltransition("background-color");
    }

    &:has(select:hover):before {
      background-color: var(--ilo-dropdown-background-color-active);
    }

    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      height: var(--ilo-dropdown-button-icon-size);
      width: var(--ilo-dropdown-button-icon-size);
      right: var(--ilo-dropdown-button-icon-offset);
      top: var(--ilo-dropdown-button-icon-offset);
      @include icon("chevron_down", var(--ilo-dropdown-button-icon-color));
    }
  }

  appearance: none;
  box-sizing: border-box;
  background-color: var(--ilo-dropdown-background-color);
  height: var(--ilo-dropdown-height);
  color: var(--ilo-dropdown-color);
  width: 100%;
  margin: spacing(0);
  padding: 0 spacing(14) 0 spacing(4);
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--ilo-dropdown-border-color);
  @include typography("body-medium");
  @include globaltransition("background-color, border-color, color");

  &:hover,
  &:focus,
  &:active {
    border-left-color: var(--ilo-color-blue);
    border-left-width: px-to-rem(3px);
    padding-left: calc(#{spacing(4)} - #{px-to-rem(1px)});
    background-color: var(--ilo-dropdown-background-color-active);
    --ilo-dropdown-color: var(--ilo-color-gray-charcoal);
  }

  option {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
