@use "../tokens" as *;
@import "../mixins";
@import "../animations";

.ilo--empty {
  background: linear-gradient(108.07deg, #b8c4cc 0.17%, #ebf5fd 75.36%);
  border-radius: 4px;
  height: 100%;
  position: relative;
  width: 100%;

  &:before {
    animation-duration: 2s;
    animation-name: emptygradient;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(108.07deg, #b8c4cc 0.17%, #ebf5fd 75.36%);
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 100%;
    z-index: 1;
  }

  &.storybook {
    height: 400px;
    width: 600px;
  }
}
