@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__factlist {
      --max-width: #{px-to-rem(375px)};

      border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-base);
      padding: spacing(10) spacing(6) spacing(12);

      @include cornercut(72px, 40px);

      @include breakpoint("lg") {
        padding: spacing(12) spacing(10) spacing(14);
      }

      &#{$self}__size {
        &__wide {
          --max-width: #{px-to-rem(856px)};

          padding: spacing(12) spacing(10) spacing(14);

          @include breakpoint("md") {
            @include cornercut(87px, 48px);
          }
        }

        &__narrow {
          --max-width: #{px-to-rem(375px)};

          padding: spacing(10) spacing(6) spacing(12);
          @include cornercut(72px, 40px);
        }
      }

      &#{$self}__theme {
        &__dark {
          border-bottom: px-to-rem(3px) solid var(--ilo-color-red);

          .ilo--list--item {
            &:last-of-type {
              margin-bottom: 0;
            }
          }

          color: var(--ilo-color-white);

          #{$self}--title {
            color: var(--ilo-color-white);
          }
        }
      }

      #{$self}--skeleton--title {
        @include skeleton-element(20px, 60%);
        margin-bottom: spacing(4);
      }

      #{$self}--skeleton--list-item {
        @include skeleton-element(16px, 95%);
        display: table-cell;
      }

      #{$self}--title {
        color: $brand-ilo-black;
        font-size: var(--ilo-font-size-xlg);
        line-height: var(--ilo-line-height-md);
        letter-spacing: var(--ilo-letter-spacing-xsm);
        font-weight: var(--ilo-font-weight-bold);
        margin-bottom: spacing(4);

        @include breakpoint("md") {
          font-size: var(--ilo-font-size-3xlg);
          margin-bottom: spacing(6);
        }
      }
    }
  }
}
