@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__feature {
      --max-width: #{px-to-rem(412px)};
      display: flex;
      flex-flow: column;
      margin-top: 0;
      position: relative;

      #{$self}--skeleton--image {
        @include skeleton-element(232px, 100%);
      }

      #{$self}--skeleton--eyebrow {
        @include skeleton-element(12px, 20%);
      }

      #{$self}--skeleton--title {
        @include skeleton-element(24px, 80%);
        margin-top: spacing(4);
      }

      #{$self}--skeleton--date {
        @include skeleton-element(24px, 60%);
        margin-top: spacing(4);
        margin-bottom: spacing(8);
      }

      #{$self}--image--wrapper {
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;
        width: 100%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      #{$self}--content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: spacing(6) spacing(6) spacing(2) spacing(6);
      }

      #{$self}--eyebrow {
        margin-bottom: spacing(4);
      }

      #{$self}--title {
        margin-bottom: spacing(6);
      }

      #{$self}--date {
        margin-bottom: spacing(8);
      }

      &#{$self}__size {
        &__narrow {
          #{$self}--wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
          }

          #{$self}--content {
            width: 100%;
          }

          #{$self}--image--wrapper {
            width: 100%;
          }

          .ilo--link-list {
            margin: 0 px-to-rem(-24px);
          }
        }

        &__wide,
        &__fluid {
          --max-width: #{px-to-rem(754px)};

          @include breakpoint("md") {
            #{$self}--wrap {
              flex-direction: row;
            }

            #{$self}--skeleton--image {
              width: 50%;
            }

            #{$self}--content {
              display: flex;
              flex-wrap: wrap;
              position: relative;
              width: 50%;
            }

            #{$self}--image--wrapper {
              padding: 0;
              height: initial;
              width: 50%;
            }

            img {
              object-fit: cover;
              max-width: initial;
              height: 100%;
              width: 100%;
            }

            #{$self}--date {
              align-self: flex-end;
              width: 100%;
            }

            #{$self}--eyebrow {
              width: 100%;
            }

            #{$self}--title {
              width: 100%;
            }

            .ilo--link-list {
              width: 100%;
            }
          }
        }
      }

      #{$self}--wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      #{$self}--title {
        @include typography("heading-3");
        font-family: var(--ilo-fonts-display);
        font-weight: 700;
      }

      // Not sure what's going on down here...
      &#{$self}__linklist {
        #{$self}--content {
          padding-bottom: 0;
        }
      }

      .ilo--link-list {
        border-top: px-to-rem(2px) solid var(--ilo-color-gray-light);

        a {
          border-bottom: none;
        }

        position: relative;
        z-index: 2;

        &--link,
        &--link:hover {
          padding-inline: spacing(6) spacing(2);
          border-bottom: none;
        }
      }

      &#{$self}__theme__dark {
        .ilo--link-list {
          border-top: 2px solid var(--ilo-color-gray-light-semi-transparent);
        }
      }
    }
  }
}
