@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__feature {
      --max-width: #{px-to-rem(412px)};

      border-bottom: px-to-rem(3px) solid $brand-ilo-grey-ui;
      display: flex;
      margin-top: 0;
      position: relative;

      &#{$self}__theme__dark {
        border-bottom: px-to-rem(3px) solid $color-base-red-medium;

        .ilo--link-list {
          border-top: 2px solid rgba($brand-ilo-grey-light, 0.25);

          &--link {
            color: $brand-ilo-white;
            @include dataurlicon("arrowright", $brand-ilo-white);

            [dir="rtl"] & {
              @include dataurlicon("arrowleft", $brand-ilo-white);
            }
          }
        }

        &:hover,
        &:focus,
        &:focus-within {
          .ilo--link-list {
            &--link {
              color: $brand-ilo-blue;
              @include dataurlicon("arrowright", $brand-ilo-blue);

              [dir="rtl"] & {
                @include dataurlicon("arrowleft", $brand-ilo-blue);
              }
            }
          }
        }
      }

      picture::before {
        @include globaltransition("opacity");
      }

      &:hover,
      &:focus,
      &:focus-within {
        background-color: $brand-ilo-white;
        border-bottom: px-to-rem(3px) solid $brand-ilo-blue;
        @include card-drop-shadow;

        picture::before {
          opacity: 0.4;
          z-index: 1;
          @include globaltransition("opacity");
        }

        #{$self}--picture {
          filter: saturate(0);
        }
      }

      .ilo--link-list {
        border-top: px-to-rem(2px) solid $brand-ilo-grey-light;
        margin-left: px-to-rem(-24px);
        margin-right: px-to-rem(-24px);
        margin-top: px-to-rem(34px);
        position: relative;
        z-index: 2;

        &--link,
        &--link:hover {
          border-bottom: none;
          padding-left: spacing(6);
          padding-right: spacing(6);

          [dir="rtl"] & {
            padding-right: spacing(6);
          }
        }
      }

      &#{$self}__size {
        &__narrow {
          #{$self}--wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
          }

          #{$self}--content {
            width: 100%;
          }

          #{$self}--image--wrapper {
            width: 100%;
          }
        }

        &__wide,
        &__fluid {
          --max-width: #{px-to-rem(754px)};

          @include breakpoint("medium") {
            #{$self}--wrap {
              flex-direction: row;
            }

            #{$self}--content {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              position: relative;
              width: 50%;
            }

            #{$self}--image--wrapper {
              width: 50%;
            }

            #{$self}--image {
              object-fit: cover;
            }

            #{$self}--date {
              align-self: flex-end;
              width: 100%;
            }

            #{$self}--eyebrow {
              width: 100%;
            }

            #{$self}--title {
              width: 100%;
            }

            .ilo--link-list {
              width: calc(100% + 48px);
              align-self: flex-end;
            }
          }
        }
      }

      #{$self}--wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      picture {
        display: flex;
        height: 100%;
        position: relative;

        &::before {
          background-color: $brand-ilo-blue;
          content: "";
          display: block;
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity 150ms ease-in-out;
          width: 100%;
          z-index: -1;
        }

        img {
          object-fit: cover;
        }
      }

      #{$self}--content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: spacing(6) spacing(6) spacing(10);
      }

      &#{$self}__linklist {
        #{$self}--content {
          padding-bottom: 0;
        }
      }

      #{$self}--title {
        @include font-styles("headline-5");
        @include textmargin(
          "margin-bottom",
          40px,
          "headline-5",
          "display",
          "body-eyebrow",
          "copy"
        );
        font-family: $fonts-display;
        font-weight: 700;
        flex: 1;
      }

      #{$self}--eyebrow {
        @include font-styles("body-eyebrow");
        @include textmargin(
          "margin-bottom",
          10px,
          "body-eyebrow",
          "copy",
          "headline-5",
          "display"
        );
      }

      #{$self}--date {
        margin-bottom: 0;
        margin-top: auto;
      }
    }
  }
}
