@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--fieldset {
  $gap: 24px;
  box-sizing: border-box;

  @mixin flex($value) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: $value;
    @include textmargin("gap", $gap, "label-medium", "display", 0, 0);
  }

  appearance: none;
  $c: &;

  &--legend-wrapper {
    @include textmargin("margin-bottom", $gap, "label-medium", "display", 0, 0);
  }

  &--legend {
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include font-styles("label-medium");
  }

  &--direction__column {
    > #{$c}--elements {
      @include flex(column);
    }
  }

  &--direction__row {
    > #{$c}--elements {
      @include flex(row);
    }
  }

  &--direction__row-reverse {
    > #{$c}--elements {
      @include flex(row-reverse);
    }
  }

  &--direction__column-reverse {
    > #{$c}--elements {
      @include flex(column-reverse);
    }
  }

  &--wrap__nowrap {
    > #{$c}--elements {
      flex-wrap: nowrap;
    }
  }

  &--wrap__wrap {
    > #{$c}--elements {
      flex-wrap: wrap;
    }
  }

  &--wrap__wrap-reverse {
    > #{$c}--elements {
      flex-wrap: wrap-reverse;
    }
  }

  &--wrap__reverse {
    > #{$c}--elements {
      flex-wrap: reverse;
    }
  }

  &--helper,
  &__error {
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-top",
      map-get($spacing, "padding-1-5"),
      "body-xxs",
      "copy",
      0,
      0
    );
  }

  &--helper {
    color: $color-base-neutrals-medium;
  }

  &__error {
    color: $color-base-red-dark;
  }

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .ilo--tooltip--wrapper {
    margin-left: spacing(2);
    margin-top: spacing(1);
  }
}
