@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--fieldset {
  $gap: 24px;

  @mixin flex($value) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: $value;
    @include textmargin("gap", $gap, "label-medium", "display", 0, 0);
  }

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  $c: &;

  &--legend {
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include font-styles("label-medium");
    @include textmargin("margin-bottom", $gap, "label-medium", "display", 0, 0);
  }

  &--direction__column {
    #{$c}--elements {
      @include flex(column);
    }
  }

  &--direction__row {
    #{$c}--elements {
      @include flex(row);
    }
  }

  &--direction__row-reverse {
    #{$c}--elements {
      @include flex(row-reverse);
    }
  }

  &--direction__column-reverse {
    #{$c}--elements {
      @include flex(column-reverse);
    }
  }

  &--helper {
    color: $color-base-neutrals-medium;
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-top",
      map-get($spacing, "padding-1-5"),
      "body-xxs",
      "copy",
      0,
      0
    );
  }

  &__disabled {
    opacity: 50%;
    pointer-events: none;
  }

  &__error {
    color: $color-base-red-dark;
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-top",
      map-get($spacing, "padding-1-5"),
      "body-xxs",
      "copy",
      0,
      0
    );
  }

  div[class^="ilo--fieldset--input"]:first-of-type,
  div[class*=" ilo--fieldset--input"]:first-of-type {
    clear: both;
    padding-top: px-to-rem($spacing-padding-3);
  }

  .ilo--tooltip--wrapper {
    margin-left: 8px;
    margin-top: 3px;
  }
}
