@use "../tokens" as *;
@use "../functions" as *;
@use "sass:math";
@import "../mixins";

.ilo--fieldset {
  --ilo-fieldset-legend-color: var(--ilo-color-gray-charcoal);
  --ilo-fieldset-helper-color: var(--ilo-color-gray-accessible);
  --ilo-fieldset-error-color: var(--ilo-color-red-dark);

  &__theme {
    &__light {
      --ilo-fieldset-legend-color: var(--ilo-color-gray-charcoal);
      --ilo-fieldset-helper-color: var(--ilo-color-gray-accessible);
      --ilo-fieldset-error-color: var(--ilo-color-red-dark);
    }
    &__dark {
      --ilo-fieldset-legend-color: var(--ilo-color-yellow);
      --ilo-fieldset-helper-color: var(--ilo-color-white);
      --ilo-fieldset-error-color: var(--ilo-color-red-dark);
    }
  }

  appearance: none;
  $c: &;
  $gap: 24px;
  box-sizing: border-box;

  @mixin flex($value) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: $value;
    @include textmargin("gap", $gap, "label-medium", "display", 0, 0);
  }

  &--legend-wrapper {
    @include textmargin("margin-bottom", $gap, "label-medium", "display", 0, 0);

    .ilo--tooltip--wrapper {
      top: px-to-rem(-1px);
    }
  }

  &--legend {
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "label");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include font-styles("label-medium");
    color: var(--ilo-fieldset-legend-color);
    line-height: px-to-rem(20px);
  }

  &--direction__column {
    > #{$c}--elements {
      @include flex(column);
    }
  }

  &--direction__row {
    > #{$c}--elements {
      @include flex(row);
    }
  }

  &--direction__row-reverse {
    > #{$c}--elements {
      @include flex(row-reverse);
    }
  }

  &--direction__column-reverse {
    > #{$c}--elements {
      @include flex(column-reverse);
    }
  }

  &--wrap__nowrap {
    > #{$c}--elements {
      flex-wrap: nowrap;
    }
  }

  &--wrap__wrap {
    > #{$c}--elements {
      flex-wrap: wrap;
    }
  }

  &--wrap__wrap-reverse {
    > #{$c}--elements {
      flex-wrap: wrap-reverse;
    }
  }

  &--wrap__reverse {
    > #{$c}--elements {
      flex-wrap: reverse;
    }
  }

  &--helper,
  &__error {
    font-family: var(--ilo-fonts-copy);
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-top",
      map-get($spacing, "padding-1-5"),
      "body-xxs",
      "copy",
      0,
      0
    );
  }

  &--helper {
    color: var(--ilo-fieldset-helper-color);
  }

  &__error {
    color: var(--ilo-fieldset-error-color);
  }

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .ilo--tooltip--wrapper {
    margin-left: spacing(1);
  }
}
