@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--file-upload {
  color: transparent;
  order: 3;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:before {
    background-color: map-get($color, "ux", "background", "default");
    border: map-get($borders, "small")
      map-get($color, "ux", "borders", "default") solid;
    color: map-get($color, "ux", "labels", "actionable");
    content: attr(data-label);
    display: inline-block;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    padding: 0;
    @include borderradius("button");
    @include boxpadding("button", "medium");
    @include font-styles("label-medium");
  }

  &:hover {
    &:before {
      background-color: map-get($color, "ux", "background", "hover");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      cursor: pointer;
      color: map-get($color, "ux", "labels", "hover");
      outline: none;
    }
  }

  &:focus {
    &:before {
      background-color: map-get($color, "ux", "background", "focus");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      color: map-get($color, "ux", "labels", "focus");
      outline: none;
    }
  }

  &:active {
    &:before {
      background-color: map-get($color, "ux", "background", "active");
      border: map-get($borders, "base")
        map-get($color, "ux", "borders", "active") solid;
      color: map-get($color, "ux", "labels", "active");
    }
  }

  &:disabled {
    opacity: 45%;
    pointer-events: none;
  }

  &:invalid,
  &.error,
  .error & {
    &:before {
      background-color: map-get(
        $color,
        "formelements",
        "input",
        "error",
        "background"
      );
      @include bordervalues("input", "formelements", "error");
    }
  }

  &--list {
    order: 4;
  }

  &--list-item {
    background-color: $color-formelements-uploadedfile-default-background;
    @include bordervalues("uploadedfile", "formelements", "default");
    box-sizing: border-box;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "section");
    @include font-styles("label-medium");
    height: px-to-rem(
      map-get($spacing, "formelements", "uploadedfile", "default", "height")
    );
    @include spacingvalues("margin", "uploadedfile", "formelements");
    outline: none;
    @include spacingvalues("padding", "uploadedfile", "formelements");
    width: map-get(
      $spacing,
      "formelements",
      "uploadedfile",
      "default",
      "width"
    );
  }
}

.file-upload div {
  display: flex;
  flex-direction: column;

  .ilo--fieldset--label {
    order: 1;
  }

  .ilo--fieldset--helper,
  .ilo--fieldset--error {
    margin-top: 0;
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-3"),
      "label-small",
      "display",
      0,
      0
    );
    order: 2;
  }
}
