@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--file-upload {
  &--input {
    order: 3;

    input {
      visibility: hidden;
      color: transparent;
      width: 0;
    }

    background-color: map-get($color, "ux", "background", "default");
    border: map-get($borders, "small")
      map-get($color, "ux", "borders", "default") solid;
    color: map-get($color, "ux", "labels", "actionable");
    content: attr(data-label);
    display: inline-block;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include borderradius("button");
    @include boxpadding("button", "medium");
    @include font-styles("label-medium");

    .ilo--form__theme__dark & {
      color: map-get($color, "ux", "labels", "actionable");
    }

    &:hover {
      background-color: map-get($color, "ux", "background", "hover");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      cursor: pointer;
      color: map-get($color, "ux", "labels", "hover");
      outline: none;
    }

    &:focus {
      background-color: map-get($color, "ux", "background", "focus");
      border: map-get($borders, "small")
        map-get($color, "ux", "borders", "hover") solid;
      color: map-get($color, "ux", "labels", "focus");
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      background-color: map-get($color, "ux", "background", "active");
      border: map-get($borders, "base")
        map-get($color, "ux", "borders", "active") solid;
      color: map-get($color, "ux", "labels", "active");
    }

    &:disabled {
      opacity: 0.45;
      pointer-events: none;
    }

    &:invalid,
    &.error,
    .error & {
      background-color: map-get(
        $color,
        "formelements",
        "input",
        "error",
        "background"
      );
      @include bordervalues("input", "formelements", "error");
    }
  }

  &--list {
    order: 4;
    display: flex;
    flex-flow: column;
    padding-top: spacing(2);
    gap: spacing(2);
  }

  &--list-item {
    display: block;
    background-color: $color-formelements-uploadedfile-default-background;
    @include bordervalues("uploadedfile", "formelements", "default");
    box-sizing: border-box;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "section");
    @include font-styles("label-medium");
    height: px-to-rem(48px);
    outline: none;
    padding: spacing(3) spacing(3) spacing(4);
  }
}
