@use "../functions" as *;
@import "../mixins";

.ilo--file-upload {
  &--input {
    order: 3;

    input {
      visibility: hidden;
      color: transparent;
      width: 0;
    }

    background-color: var(--ilo-color-white);
    border: var(--ilo-border-sm) solid var(--ilo-color-gray-base);
    color: var(--ilo-color-blue-dark);
    content: attr(data-label);
    display: inline-block;
    font-family: var(--ilo-fonts-display);
    font-weight: var(--ilo-font-weight-bold);
    border-radius: px-to-rem(2px);
    padding-inline: px-to-rem(18px);
    padding-block: px-to-rem(7px);
    @include typography("highlight-medium");

    .ilo--form__theme__dark & {
      color: var(--ilo-color-blue-dark);
    }

    &:hover {
      background-color: var(--ilo-color-blue-lighter);
      border: var(--ilo-border-sm) solid var(--ilo-color-blue);
      cursor: pointer;
      color: var(--ilo-color-blue);
      outline: none;
    }

    &:focus {
      background-color: var(--ilo-color-white);
      border: var(--ilo-border-sm) solid var(--ilo-color-blue);
      color: var(--ilo-color-blue);
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      background-color: var(--ilo-color-blue);
      border: var(--ilo-border-md) solid var(--ilo-color-blue-dark);
      color: var(--ilo-color-white);
    }

    &:disabled {
      opacity: 0.45;
      pointer-events: none;
    }

    &:invalid,
    &.error,
    .error & {
      background-color: var(--ilo-color-white);
      border: var(--ilo-border-md) solid var(--ilo-color-gray-base);
      border-left: px-to-rem(3px) solid var(--ilo-color-red-dark);
    }
  }

  &--list {
    order: 4;
    display: flex;
    flex-flow: column;
    padding-top: spacing(2);
    gap: spacing(2);
  }

  &--list-item {
    display: block;
    background-color: var(--ilo-color-gray-light);
    border: var(--ilo-border-md) solid var(--ilo-color-gray-light);
    border-left: px-to-rem(3px) solid var(--ilo-color-blue-dark);
    box-sizing: border-box;
    font-family: var(--ilo-fonts-display);
    font-weight: var(--ilo-font-weight-medium);
    @include typography("highlight-medium");
    height: px-to-rem(48px);
    outline: none;
    padding: spacing(3) spacing(3) spacing(4);
  }
}
