@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--footer {
  border-bottom: px-to-rem(3px) solid $color-base-neutrals-light;

  &--main {
    background-color: $color-base-blue-dark;
    border-bottom: px-to-rem(6px) solid $color-base-red-medium;
    padding: px-to-rem(40px) px-to-rem(32px) 0 px-to-rem(32px);
    position: relative;

    & > * {
      position: relative;
      z-index: 1;
    }

    &:after {
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      height: 100%;
      min-width: 409.5px;
      right: 0;
      position: absolute;
      transform: scaleY(-1);
      width: 28.8%;
      z-index: 0;
      @include dataurlicon("footertriangle", $color-base-blue-medium);
    }
  }

  &--logo {
    max-width: 100%;
  }

  &--secondary {
    background-color: $color-base-neutrals-white;
    padding: px-to-rem(36px) px-to-rem(16px) 0 px-to-rem(16px);
    min-height: px-to-rem(
      map-get($spacing, "ux", "readmore", "default", "height")
    );
  }

  &--headline {
    color: $color-base-neutrals-white;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include font-styles("body-small");
    @include textmargin(
      "margin-bottom",
      10px,
      "body-small",
      "display",
      "body-xxs",
      "display"
    );
    @include textmargin("margin-top", 22px, "body-small", "display", 0, 0);
  }

  &--subhead {
    color: #bedcfa;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "section");
    @include font-styles("body-xxs");
    @include textmargin("margin-bottom", 28px, "body-xxs", "display", 0, 0);
  }

  .address {
    margin-bottom: px-to-rem(42px);
  }

  .address--line {
    color: $color-base-neutrals-white;
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-bottom",
      8px,
      "body-xxs",
      "display",
      "body-xxs",
      "display"
    );
  }

  .connect {
    margin: px-to-rem(55px) 0;
  }

  .social--headline {
    color: $color-base-neutrals-white;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include font-styles("body-small");
    @include textmargin("margin-bottom", 28px, "body-small", "display", 0, 0);
  }

  .social--links {
    display: flex;
    margin-bottom: px-to-rem(45px);
  }

  .social--links--link {
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    display: inline-block;
    height: px-to-rem(16px);
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    text-indent: -999rem;
    width: px-to-rem(16px);

    &.facebook {
      @include dataurlicon("facebook", $color-base-neutrals-white);
    }

    &.instagram {
      @include dataurlicon("instagram", $color-base-neutrals-white);
    }

    &.twitter {
      @include dataurlicon("twitter", $color-base-neutrals-white);
    }

    &.youtube {
      @include dataurlicon("youtube", $color-base-neutrals-white);
    }
  }

  .social--links--item {
    align-items: center;
    background-color: transparent;
    border-radius: px-to-rem(3px);
    display: flex;
    height: px-to-rem(24px);
    justify-content: center;
    margin-right: px-to-rem(20px);
    position: relative;
    width: px-to-rem(24px);

    &:last-of-type {
      margin-right: none;
    }

    &:hover,
    &:focus {
      background-color: $color-base-blue-light;

      .social--links--link {
        &.facebook {
          @include dataurlicon("facebook", $color-base-blue-medium);
        }

        &.instagram {
          @include dataurlicon("instagram", $color-base-blue-medium);
        }

        &.twitter {
          @include dataurlicon("twitter", $color-base-blue-medium);
        }

        &.youtube {
          @include dataurlicon("youtube", $color-base-blue-medium);
        }
      }
    }
  }

  .legal,
  .secondarylinks {
    color: $color-base-neutrals-medium;
    display: inline;
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
  }

  .secondarylinks--list,
  .secondarylinks--list--item {
    display: inline;
    list-style: none;
  }

  .secondarylinks--list--item:not(first-child) {
    &:before {
      content: " | ";
    }
  }

  .secondarylinks--list--item a {
    color: $color-base-neutrals-medium;
    @include globaltransition("color, border-color");

    &:visited {
      color: map-get($color, "link", "text-footer", "visited");
      @include globaltransition("color, border-color");
    }

    &:hover {
      color: map-get($color, "link", "text-footer", "hover");
      @include globaltransition("color, border-color");
    }

    &:active {
      color: map-get($color, "link", "text-footer", "active");
      outline: none;
      @include globaltransition("color, border-color");
    }

    &:focus {
      color: map-get($color, "link", "text-footer", "focus");
      outline: none;
      @include globaltransition("color, border-color");
    }
  }

  .anchorlink {
    background: map-get($color, "ux", "readmore", "default", "background");
    border-bottom: 0.1071811361rem solid $brand-ilo-grey-light;
    color: $color-ux-labels-actionable;
    display: block;
    font-family: $fonts-display;
    height: px-to-rem(map-get($spacing, "ux", "readmore", "default", "height"));
    margin: px-to-rem(12px) auto 0 auto;
    padding: px-to-rem($spacing-padding-2) px-to-rem($spacing-padding-4)
      px-to-rem($spacing-padding-2) 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    @include font-styles("label-medium");
    width: max-content;

    &:after {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: px-to-rem(24px);
      position: absolute;
      right: px-to-rem(2px);
      top: 50%;
      transform: translateY(-50%) rotateX(180deg);
      transform-origin: center center;
      width: px-to-rem(24px);
      @include dataurlicon("arrow", $color-ux-labels-actionable);
    }

    &:hover {
      background: map-get($color, "ux", "readmore", "hover", "background");
      border-bottom: 0.1071811361rem solid $color-base-blue-medium;
      color: $color-ux-labels-hover;
      cursor: pointer;
      @include globaltransition("color, background-color, border-color");

      &:after {
        @include dataurlicon("arrow", $color-ux-labels-hover);
      }
    }
  }

  @include breakpoint("medium") {
    &--main {
      display: grid;
      grid-template-columns: minmax(0, 50%) minmax(0, 50%);
      gap: 0px 64px;
      grid-template-areas:
        "site-info address"
        "site-info links"
        "site-info connect";
      align-content: start;
      align-items: start;
      padding: px-to-rem(40px) px-to-rem(32px) px-to-rem(40px) px-to-rem(32px);
    }

    .site--info {
      grid-area: site-info;
    }

    .address {
      grid-area: address;
    }

    .connect {
      grid-area: connect;
      margin-bottom: 0;
    }

    .links {
      grid-area: links;
    }

    &--logo {
      width: 100%;
    }

    &--secondary {
      padding: px-to-rem(18px) px-to-rem(16px);
      position: relative;
    }

    .legal,
    .secondarylinks {
      display: block;
      float: left;
    }

    .secondarylinks {
      margin-right: px-to-rem(126px);
    }

    .anchorlink {
      display: inline-block;
      margin: 0;
      position: absolute;
      right: 16px;
      top: 0;
    }
  }

  @include breakpoint("large") {
    &--main {
      display: grid;
      grid-template-columns: 19.2% 25.1% calc(32.5% + 64px);
      grid-template-rows: 0.6fr 1.4fr;
      gap: 0px 64px;
      grid-template-areas:
        "site-info address connect"
        "site-info links connect";
      padding: px-to-rem(56px) px-to-rem(70px) px-to-rem(64px) px-to-rem(70px);

      &:after {
        background-position: right top;
        bottom: auto;
        top: 0;
        transform: scaleY(1);
      }
    }

    &--logo {
      width: 100%;
    }

    .connect {
      display: grid;
      grid-template-columns: minmax(0, 40%), 60%;
      grid-template-rows: repeat(3, minmax(0, 1fr));
      grid-area: connect;
      margin: 0 0 0 calc(18.9% + 64px);
    }

    .social--headline {
      text-align: left;
    }

    .ilo--button {
      align-self: start;
      justify-self: start;
    }

    &--secondary {
      padding: px-to-rem(18px) px-to-rem(70px);
      position: relative;
    }

    .secondarylinks {
      margin-right: px-to-rem(140px);
    }

    .anchorlink {
      display: inline-block;
      margin: 0;
      position: absolute;
      right: 70px;
      top: 0;
    }
  }

  .right-to-left & {
    * {
      text-align: right;
    }

    .social--links {
      flex-direction: row-reverse;
    }

    .social--links--link {
      text-indent: 999em;
    }

    &--main {
      &:after {
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        transform: scale(-1, -1);
      }
    }

    @include breakpoint("medium") {
      &--main {
        grid-template-areas:
          "address site-info"
          "links site-info"
          "connect site-info";
      }
    }

    @include breakpoint("large") {
      &--main {
        grid-template-columns: calc(32.5% + 64px) 25.1% 19.2%;
        grid-template-areas:
          "connect address site-info"
          "connect links site-info";

        &:after {
          left: 0;
          right: auto;
          transform: scale(-1, 1);
        }
      }

      .connect {
        grid-template-columns: 60%, minmax(0, 40%);
        margin: 0 calc(18.9% + 64px) 0 0;
      }

      .ilo--button {
        justify-self: end;
      }
    }
  }
}
