@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--footer {
  $c: &;

  border-bottom: px-to-rem(3px) solid $color-base-neutrals-light;
  background-color: $color-base-blue-dark;
  position: relative;
  width: 100%;
  overflow: hidden;

  &--main {
    padding: spacing(10) spacing(8) spacing(12);
    position: relative;

    &:after {
      content: "";
      border-bottom: px-to-rem(6px) solid $color-base-red-medium;
      width: 200vw;
      position: absolute;
      bottom: 0;
      left: -100vw;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &--logo {
    height: px-to-rem(48px);
    width: auto;
  }

  &--secondary {
    [class*="container"] {
      padding: 0;
    }

    background-color: $color-base-neutrals-lighter;
    padding: spacing(8) spacing(4) 0;
    min-height: px-to-rem(56px);
  }

  &--headline {
    color: $color-base-neutrals-white;
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "label");
    @include typography("highlight-medium-bold");
    line-height: px-to-rem(21.6px);
    @include textmargin(
      "margin-bottom",
      10px,
      "body-small",
      "display",
      "body-xxs",
      "display"
    );
    margin-top: spacing(5);
  }

  &--subhead {
    color: #bedcfa;
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "section");
    margin-top: spacing(1);
    @include typography("body-xsmall");
    line-height: px-to-rem(18.56px);
    margin-bottom: spacing(12);
  }

  .address {
    margin-bottom: spacing(5);
  }

  .address--line {
    color: $color-base-neutrals-white;
    @include typography("body-xsmall");
    @include textmargin(
      "margin-bottom",
      8px,
      "body-xxs",
      "display",
      "body-xxs",
      "display"
    );
  }

  .connect {
    margin: spacing(12) 0 spacing(10);
  }

  .social--links {
    margin-bottom: spacing(10);
  }

  .legal,
  .secondarylinks {
    color: $color-base-neutrals-medium;
    display: inline;
    font-family: var(--ilo-fonts-copy);
    @include typography("body-xsmall");
  }

  .secondarylinks--list,
  .secondarylinks--list--item {
    display: inline;
    list-style: none;
  }

  .secondarylinks--list--item {
    &:before {
      content: "|";
      margin: spacing(1);
    }
  }

  .secondarylinks--list--item a {
    color: $color-base-neutrals-medium;
    @include globaltransition("color, border-color");

    &:visited {
      color: map-get($color, "link", "text-footer", "visited");
      @include globaltransition("color, border-color");
    }

    &:hover {
      color: map-get($color, "link", "text-footer", "hover");
      @include globaltransition("color, border-color");
    }

    &:active {
      color: map-get($color, "link", "text-footer", "active");
      outline: none;
      @include globaltransition("color, border-color");
    }

    &:focus {
      color: map-get($color, "link", "text-footer", "focus");
      outline: none;
      @include globaltransition("color, border-color");
    }
  }

  .anchorlink {
    // General Styles
    display: flex;
    flex-flow: row nowrap;
    color: $color-ux-labels-actionable;
    font-family: var(--ilo-fonts-display);
    @include typography("highlight-medium");
    position: relative;
    text-decoration: none;
    width: max-content;

    // Mobile styles
    justify-content: center;
    border-bottom: 0.1071811361rem solid $brand-ilo-grey-light;
    margin: spacing(3) auto 0 auto;
    padding: spacing(4);

    &:after {
      background-repeat: no-repeat;
      content: "";
      height: px-to-rem(24px);
      position: relative;
      margin-left: spacing(2);
      bottom: px-to-rem(3px);
      transform: rotateX(180deg);
      transform-origin: center;
      width: px-to-rem(24px);
      @include dataurlicon("chevron_down", $color-ux-labels-actionable);
    }

    &:hover {
      background: map-get($color, "ux", "readmore", "hover", "background");
      border-bottom: 0.1071811361rem solid $color-base-blue-medium;
      color: $color-ux-labels-hover;
      cursor: pointer;
      @include globaltransition("color, background-color, border-color");

      &:after {
        @include dataurlicon("chevron_down", $color-ux-labels-hover);
      }
    }
  }

  @include breakpoint("md") {
    &--main {
      display: grid;
      grid-template-columns: minmax(0, 50%) minmax(0, 50%);
      gap: 0px spacing(16);
      grid-template-areas:
        "site-info address"
        "site-info links"
        "site-info connect"
        "site-info subscribe";
      align-content: flex-start;
      align-items: flex-start;
      padding: spacing(10) spacing(5) spacing(24);
    }

    .site--info {
      grid-area: site-info;
    }

    .address {
      grid-area: address;
    }

    .connect {
      grid-area: connect;
      margin-bottom: 0;
    }

    .links {
      grid-area: links;
    }

    .subscribe {
      grid-area: subscribe;
    }

    &--secondary {
      padding-top: spacing(4);
      padding-bottom: spacing(4);
      position: relative;
      z-index: 1;
    }

    .anchorlink {
      bottom: 0;
    }
  }

  @include breakpoint("lg") {
    &--main {
      display: grid;
      grid-template-columns: 0.25fr 0.33fr 0.09fr 0.33fr;
      grid-template-rows: auto auto;
      gap: 0px spacing(16);
      grid-template-areas:
        "site-info address  .  connect"
        "site-info links    .  subscribe";

      padding-top: spacing(10);
      padding-bottom: spacing(24);

      &:before {
        content: none;
      }
    }

    .connect {
      grid-area: connect;
      margin: 0;
    }

    .subscribe {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column;
      top: 8px;
    }

    .ilo--button {
      align-self: flex-start;
      justify-self: flex-start;
    }

    .address {
      margin-bottom: spacing(5);
    }

    &--secondary {
      padding-top: spacing(4);
      padding-bottom: spacing(4);
      position: relative;

      [class*="container"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
      }

      &--details {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
      }

      .secondarylinks--list--item {
        &:before {
          margin: spacing(2);
        }
      }
    }

    .anchorlink {
      margin: 0;
      border: none;
      padding: spacing(1);

      &:hover {
        margin-bottom: -0.1071811361rem;
      }
    }
  }

  /* RTL Styles */
  &[dir="rtl"] & {
    .secondarylinks--list--item {
      &:before {
        content: none;
      }

      &:after {
        content: "|";
        margin: spacing(1);
      }
    }

    @include breakpoint("md") {
      &--main {
        grid-template-areas:
          "address site-info"
          "links site-info"
          "connect site-info"
          "subscribe site-info";
      }
    }

    @include breakpoint("lg") {
      &--main {
        grid-template-columns: 0.33fr 0.09fr 0.33fr 0.25fr;
        grid-template-areas:
          "connect   . address site-info"
          "subscribe . links   site-info";

        &:before {
          content: none;
        }
      }

      .connect {
        grid-template-columns: 60%, minmax(0, 40%);
      }

      .ilo--button {
        justify-self: end;
      }
    }
  }
}
