@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

// Properties common to the footer triangle whever they appear
@mixin footer-triangle-props {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  min-width: 409.5px;
  position: absolute;
  width: 28.8%;
  z-index: 0;
  @include dataurlicon("footertriangle", $color-base-blue-medium);
}

@mixin footer-triangle($position: bottom-right) {
  // The triangle is placed as an after element on
  // the main footer element on desktop and as a before
  // element on mobile
  @if ($position == top-right) {
    &:after {
      @include footer-triangle-props;
      background-position: right top;
      bottom: auto;
      top: 0;
      right: 0;
      transform: scaleY(1);
    }
  }

  @if ($position == bottom-right) {
    &:before {
      @include footer-triangle-props;
      bottom: 0;
      right: 0;
      transform: scaleY(-1);
    }
  }

  @if ($position == top-left) {
    &:after {
      @include footer-triangle-props;
      top: 0;
      left: 0;
      transform: scaleY(1) scaleX(-1);
    }
  }

  @if ($position == bottom-left) {
    &:before {
      @include footer-triangle-props;
      bottom: 0;
      left: 0;
      transform: scaleY(-1) scaleX(-1);
    }
  }
}

.ilo--footer {
  $c: &;

  border-bottom: px-to-rem(3px) solid $color-base-neutrals-light;
  background-color: $color-base-blue-dark;
  position: relative;
  width: 100%;
  overflow: hidden;

  &--main {
    padding: px-to-rem(40px) px-to-rem(32px);
    position: relative;

    @include footer-triangle(bottom-right);

    &:after {
      content: "";
      border-bottom: px-to-rem(6px) solid $color-base-red-medium;
      width: 200vw;
      position: absolute;
      bottom: 0;
      left: -100vw;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &--logo {
    height: px-to-rem(48px);
    width: auto;
  }

  &--secondary {
    background-color: $color-base-neutrals-lighter;
    padding-top: px-to-rem(36px);
    min-height: px-to-rem(
      map-get($spacing, "ux", "readmore", "default", "height")
    );
  }

  &--headline {
    color: $color-base-neutrals-white;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "label");
    @include font-styles("body-small");
    line-height: px-to-rem(21.6px);
    @include textmargin(
      "margin-bottom",
      10px,
      "body-small",
      "display",
      "body-xxs",
      "display"
    );
    margin-top: px-to-rem(22px);
  }

  &--subhead {
    color: #bedcfa;
    font-family: $fonts-display;
    font-weight: map-get($type, "weights", "section");
    margin-top: px-to-rem(10px);
    @include font-styles("body-xxs");
    line-height: px-to-rem(18.56px);
    margin-bottom: px-to-rem(45px);
  }

  .address {
    margin-bottom: px-to-rem(39px);
  }

  .address--line {
    color: $color-base-neutrals-white;
    @include font-styles("body-xxs");
    @include textmargin(
      "margin-bottom",
      8px,
      "body-xxs",
      "display",
      "body-xxs",
      "display"
    );
  }

  .connect {
    margin: px-to-rem(55px) 0;
  }

  .social--links {
    margin-bottom: px-to-rem(45px);
  }

  .legal,
  .secondarylinks {
    color: $color-base-neutrals-medium;
    display: inline;
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
  }

  .secondarylinks--list,
  .secondarylinks--list--item {
    display: inline;
    list-style: none;
  }

  .secondarylinks--list--item {
    &:before {
      content: "|";
      margin: px-to-rem(4px);
    }
  }

  .secondarylinks--list--item a {
    color: $color-base-neutrals-medium;
    @include globaltransition("color, border-color");

    &:visited {
      color: map-get($color, "link", "text-footer", "visited");
      @include globaltransition("color, border-color");
    }

    &:hover {
      color: map-get($color, "link", "text-footer", "hover");
      @include globaltransition("color, border-color");
    }

    &:active {
      color: map-get($color, "link", "text-footer", "active");
      outline: none;
      @include globaltransition("color, border-color");
    }

    &:focus {
      color: map-get($color, "link", "text-footer", "focus");
      outline: none;
      @include globaltransition("color, border-color");
    }
  }

  .anchorlink {
    // General Styles
    display: flex;
    flex-flow: row nowrap;
    color: $color-ux-labels-actionable;
    font-family: $fonts-display;
    @include font-styles("label-medium");
    position: relative;
    text-decoration: none;
    width: max-content;

    // Mobile styles
    justify-content: center;
    border-bottom: 0.1071811361rem solid $brand-ilo-grey-light;
    margin: px-to-rem(12px) auto 0 auto;
    padding: px-to-rem($spacing-padding-2) px-to-rem($spacing-padding-2)
      px-to-rem($spacing-padding-2) px-to-rem($spacing-padding-2);

    &:after {
      background-repeat: no-repeat;
      content: "";
      height: px-to-rem(24px);
      position: relative;
      margin-left: px-to-rem(8px);
      bottom: px-to-rem(3px);
      transform: rotateX(180deg);
      transform-origin: center;
      width: px-to-rem(24px);
      @include dataurlicon("arrow", $color-ux-labels-actionable);
    }

    &:hover {
      background: map-get($color, "ux", "readmore", "hover", "background");
      border-bottom: 0.1071811361rem solid $color-base-blue-medium;
      color: $color-ux-labels-hover;
      cursor: pointer;
      @include globaltransition("color, background-color, border-color");

      &:after {
        @include dataurlicon("arrow", $color-ux-labels-hover);
      }
    }
  }

  @include breakpoint("medium") {
    &--main {
      display: grid;
      grid-template-columns: minmax(0, 50%) minmax(0, 50%);
      gap: 0px 64px;
      grid-template-areas:
        "site-info address"
        "site-info links"
        "site-info connect"
        "site-info subscribe";
      align-content: start;
      align-items: start;
      padding: px-to-rem(40px) px-to-rem(20px);
    }

    .site--info {
      grid-area: site-info;
    }

    .address {
      grid-area: address;
    }

    .connect {
      grid-area: connect;
      margin-bottom: 0;
    }

    .links {
      grid-area: links;
    }

    .subscribe {
      grid-area: subscribe;
    }

    &--secondary {
      padding-top: px-to-rem(18px);
      padding-bottom: px-to-rem(18px);
      position: relative;
      z-index: 1;
    }

    .anchorlink {
      bottom: 0;
    }
  }

  @include breakpoint("large") {
    @include footer-triangle(top-right);

    &--main {
      display: grid;
      grid-template-columns: 0.25fr 0.33fr 0.09fr 0.33fr;
      grid-template-rows: auto auto;
      gap: 0px 64px;
      grid-template-areas:
        "site-info address  .  connect"
        "site-info links    .  subscribe";

      padding-top: px-to-rem(44px);
      padding-bottom: px-to-rem(51px);

      &:before {
        content: none;
      }
    }

    .connect {
      grid-area: connect;
      margin: 0;
    }

    .subscribe {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column;
      top: 8px;
    }

    .ilo--button {
      align-self: start;
      justify-self: start;
    }

    &--secondary {
      padding-top: px-to-rem(18px);
      padding-bottom: px-to-rem(18px);
      position: relative;

      [class*="container"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
      }

      &--details {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
      }

      .secondarylinks--list--item {
        &:before {
          margin: px-to-rem(8px);
        }
      }
    }

    .anchorlink {
      margin: 0;
      border: none;
      padding: 0.25rem;

      &:hover {
        margin-bottom: -0.1071811361rem;
      }
    }
  }

  /* RTL Styles */
  &[dir="rtl"] & {
    &--main {
      @include footer-triangle(bottom-left);
    }

    .secondarylinks--list--item {
      &:before {
        content: none;
      }

      &:after {
        content: "|";
        margin: px-to-rem(4px);
      }
    }

    @include breakpoint("medium") {
      &--main {
        grid-template-areas:
          "address site-info"
          "links site-info"
          "connect site-info"
          "subscribe site-info";
      }
    }

    @include breakpoint("large") {
      @include footer-triangle(top-left);

      &--main {
        grid-template-columns: 0.33fr 0.09fr 0.33fr 0.25fr;
        grid-template-areas:
          "connect   . address site-info"
          "subscribe . links   site-info";

        &:before {
          content: none;
        }
      }

      .connect {
        grid-template-columns: 60%, minmax(0, 40%);
      }

      .ilo--button {
        justify-self: end;
      }
    }
  }
}
