@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--footer {
  border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-accessible);
  background-color: var(--ilo-color-blue-dark);
  position: relative;
  width: 100%;
  overflow: hidden;

  &--main {
    padding: spacing(10) spacing(8) spacing(12);
    position: relative;

    &:after {
      content: "";
      border-bottom: px-to-rem(6px) solid var(--ilo-color-red);
      width: 200vw;
      position: absolute;
      bottom: 0;
      left: -100vw;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &--logo {
    height: px-to-rem(48px);
    width: auto;
  }

  &--secondary {
    [class*="container"] {
      padding: 0;
    }

    background-color: var(--ilo-color-gray-light);
    padding: spacing(8) spacing(4) 0;
    min-height: px-to-rem(56px);
  }

  &--headline {
    color: var(--ilo-color-white);
    @include typography("highlight-medium-bold");
    margin-top: spacing(5);
  }

  &--subhead {
    color: var(--ilo-color-blue-light);
    margin-top: spacing(1);
    margin-bottom: spacing(12);
    @include typography("body-xsmall");
  }

  .address {
    margin-bottom: spacing(5);
  }

  .address--line {
    color: var(--ilo-color-white);
    @include typography("body-xsmall");
  }

  .connect {
    margin: spacing(12) 0 spacing(10);
  }

  .social--links {
    margin-bottom: spacing(10);
  }

  .legal,
  .secondarylinks {
    color: var(--ilo-color-gray-accessible);
    display: inline;
    @include typography("body-xsmall");
  }

  .secondarylinks--list,
  .secondarylinks--list--item {
    display: inline;
    list-style: none;
  }

  .secondarylinks--list--item {
    &:before {
      content: "|";
      margin: spacing(1);
    }
  }

  .secondarylinks--list--item a {
    color: var(--ilo-color-gray-accessible);
    @include globaltransition("color, border-color");

    &:visited {
      color: var(--ilo-color-purple);
    }

    &:hover {
      color: var(--ilo-color-blue);
    }

    &:active {
      color: var(--ilo-color-blue-dark);
      outline: none;
    }

    &:focus {
      color: var(--ilo-color-blue-dark);
      outline: none;
    }
  }

  .anchorlink {
    // General Styles
    display: flex;
    flex-flow: row nowrap;
    color: var(--ilo-color-blue-dark);
    @include typography("highlight-medium");
    position: relative;
    text-decoration: none;
    width: max-content;

    // Mobile styles
    justify-content: center;
    border-bottom: px-to-rem(2px) solid var(--ilo-color-gray-light);
    margin: spacing(3) auto 0 auto;
    padding: spacing(4);

    @include globaltransition("all");

    &:after {
      background-repeat: no-repeat;
      content: "";
      height: px-to-rem(24px);
      position: relative;
      margin-left: spacing(2);
      bottom: px-to-rem(2px);
      width: px-to-rem(24px);
      @include icon("chevron_up", var(--ilo-color-blue-dark));
    }

    &:hover {
      background: var(--ilo-color-blue-lighter);
      border-bottom: px-to-rem(2px) solid var(--ilo-color-blue);
      color: var(--ilo-color-blue);

      &:after {
        @include icon("chevron_up", var(--ilo-color-blue));
      }
    }
  }

  @include breakpoint("md") {
    &--main {
      display: grid;
      grid-template-columns: minmax(0, 50%) minmax(0, 50%);
      gap: 0px spacing(16);
      grid-template-areas:
        "site-info address"
        "site-info links"
        "site-info connect"
        "site-info subscribe";
      align-content: flex-start;
      align-items: flex-start;
      padding: spacing(10) spacing(5) spacing(24);
    }

    .site--info {
      grid-area: site-info;
    }

    .address {
      grid-area: address;
    }

    .connect {
      grid-area: connect;
      margin-bottom: 0;
    }

    .links {
      grid-area: links;
    }

    .subscribe {
      grid-area: subscribe;
    }

    &--secondary {
      padding-top: spacing(4);
      padding-bottom: spacing(4);
      position: relative;
      z-index: 1;
    }

    .anchorlink {
      top: px-to-rem(3px);
    }
  }

  @include breakpoint("lg") {
    &--main {
      display: grid;
      grid-template-columns: 0.25fr 0.33fr 0.09fr 0.33fr;
      grid-template-rows: auto auto;
      gap: 0px spacing(16);
      grid-template-areas:
        "site-info address  .  connect"
        "site-info links    .  subscribe";

      padding-top: spacing(10);
      padding-bottom: spacing(24);

      &:before {
        content: none;
      }
    }

    .connect {
      grid-area: connect;
      margin: 0;
    }

    .subscribe {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column;
      top: spacing(2);
    }

    .ilo--button {
      align-self: flex-start;
      justify-self: flex-start;
    }

    .address {
      margin-bottom: spacing(5);
    }

    &--secondary {
      padding-top: spacing(4);
      padding-bottom: spacing(4);
      position: relative;

      [class*="container"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
      }

      &--details {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
      }

      .secondarylinks--list--item {
        &:before {
          margin: spacing(2);
        }
      }
    }

    .anchorlink {
      margin: 0;
      padding: spacing(1);
    }
  }

  /* RTL Styles */
  &[dir="rtl"] & {
    .secondarylinks--list--item {
      &:before {
        content: none;
      }

      &:after {
        content: "|";
        margin: spacing(1);
      }
    }

    @include breakpoint("md") {
      &--main {
        grid-template-areas:
          "address site-info"
          "links site-info"
          "connect site-info"
          "subscribe site-info";
      }
    }

    @include breakpoint("lg") {
      &--main {
        grid-template-columns: 0.33fr 0.09fr 0.33fr 0.25fr;
        grid-template-areas:
          "connect   . address site-info"
          "subscribe . links   site-info";

        &:before {
          content: none;
        }
      }

      .connect {
        grid-template-columns: 60%, minmax(0, 40%);
      }

      .ilo--button {
        justify-self: end;
      }
    }
  }
}
