@use "../tokens" as *;
@use "../functions" as *;
@use "sass:math";
@import "../mixins";

.ilo--form-control {
  $c: &;

  grid-area: input;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: px-to-rem($spacing-padding-1);

  &__label-placement {
    // Label is to the flex start of form element
    &__start {
      // Label
      #{$c}--label {
        grid-area: 1 / 1 / 2 / 2;
      }

      // Field
      :nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }

      // Helper
      #{$c}--helper {
        grid-area: 2 / 2 / 3 / 3;
      }

      // Upload
      [class*="file-upload--list"] {
        grid-area: 3 / 1 / 4 / 3;
      }
    }

    // Label is at the end of the form element
    &__end {
      // Label
      #{$c}--label {
        grid-area: 1 / 2 / 2 / 3;
      }

      // Field
      :nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
      }

      // Helper
      #{$c}--helper {
        grid-area: 2 / 1 / 3 / 3;
      }

      // Upload
      [class*="file-upload--list"] {
        grid-area: 3 / 1 / 4 / 4;
      }
    }

    // Label is above form element
    &__top {
      // Label
      #{$c}--label {
        grid-area: 1 / 1 / 2 / 2;
      }

      // Field
      :nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }

      // Helper
      #{$c}--helper {
        grid-area: 3 / 1 / 4 / 2;
      }

      // Upload
      [class*="file-upload--list"] {
        grid-area: 4 / 1 / 5 / 2;
      }
    }

    // Label is below form element
    &__bottom {
      // Label
      #{$c}--label {
        grid-area: 3 / 1 / 4 / 2;
      }

      // Field
      :nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }

      // Helper
      #{$c}--helper {
        grid-area: 1 / 1 / 2 / 2;
      }

      // Upload
      [class*="file-upload--list"] {
        grid-area: 4 / 1 / 5 / 2;
      }
    }
  }

  &__disabled {
    #{$c}--label,
    #{$c}--helper {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__error {
    #{$c}--helper {
      color: $color-base-red-dark;
    }
  }

  &--label {
    color: $color-base-neutrals-black;
    grid-area: label;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    &__size {
      &__small {
        font-family: $fonts-copy;
        font-size: px-to-rem(map-get($type, "label-small", "size"));
        letter-spacing: px-to-rem(
          map-get($type, "label-small", "letter-spacing")
        );
        line-height: px-to-rem(map-get($type, "label-small", "line-height"));
        font-weight: 400;
      }

      &__medium {
        font-family: $fonts-display;
        font-size: px-to-rem(map-get($type, "label-medium", "size"));
        letter-spacing: px-to-rem(
          map-get($type, "label-medium", "letter-spacing")
        );
        line-height: px-to-rem(map-get($type, "label-medium", "line-height"));
        font-weight: 700;
      }

      &__large {
        font-family: $fonts-display;
        font-size: px-to-rem(map-get($type, "label-large", "size"));
        letter-spacing: px-to-rem(
          map-get($type, "label-large", "letter-spacing")
        );
        line-height: px-to-rem(map-get($type, "label-large", "line-height"));
        font-weight: 700;
      }
    }

    label {
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      font-weight: inherit;
    }

    div[class*="tooltip"] {
      margin-left: px-to-rem(math.div($spacing-padding-1, 2));
    }
  }

  &--helper {
    grid-area: helper;
    color: $color-base-neutrals-medium;
    font-family: $fonts-copy;
    @include font-styles("body-xxs");
  }
}
