@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--form {
  $gap: spacing(8);
  $c: &;

  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  appearance: none;
  gap: $gap;
  color: $color-base-neutrals-black;

  &__theme {
    &__light {
      color: $color-base-neutrals-black;

      label,
      p {
        color: $color-base-neutrals-black;
      }
    }

    &__dark {
      color: $color-base-neutrals-lighter;

      label,
      p {
        color: $color-base-neutrals-lighter;
      }

      legend {
        color: $color-base-yellow;
      }
    }
  }

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
