@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--form {
  $gap: spacing(8);
  $c: &;
  --ilo-form-legend-color: var(--ilo-color-blue-dark);

  &__theme {
    &__light {
      --ilo-form-legend-color: var(--ilo-color-blue-dark);
    }
    &__dark {
      --ilo-form-legend-color: var(--ilo-color-white);
    }
  }

  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  appearance: none;
  gap: $gap;
  color: var(--ilo-color-gray-charcoal);

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // Twig uses h2 for the form headline but React doesn't have one
  h2 {
    color: var(--ilo-form-legend-color);
  }
}
