.ilo--h1,
.ilo--h2,
.ilo--h3,
.ilo--h4,
.ilo--h5,
.ilo--h6 {
  color: inherit;
  font-family: $fonts-display;
  font-weight: 700;

  &--default {
    color: $color-font-base;
  }

  &--actionable {
    color: $color-base-purple;
  }

  &--light {
    color: $color-base-neutrals-white;
  }
}

.ilo--h1 {
  @include font-styles("headline-2");

  @include breakpoint("medium") {
    @include font-styles("headline-1");
  }
}

.ilo--h2 {
  @include font-styles("headline-3");

  @include breakpoint("medium") {
    @include font-styles("headline-2");
  }
}

.ilo--h3 {
  @include font-styles("headline-4");

  @include breakpoint("medium") {
    @include font-styles("headline-3");
  }
}

.ilo--h4 {
  @include font-styles("headline-5");

  @include breakpoint("medium") {
    @include font-styles("headline-4");
  }
}

.ilo--h5 {
  @include font-styles("headline-6");

  @include breakpoint("medium") {
    @include font-styles("headline-5");
  }
}

.ilo--h6 {
  @include font-styles("headline-6");

  @include breakpoint("medium") {
    @include font-styles("headline-6");
  }
}
