.ilo--h1 {
  color: inherit;
  font-family: Overpass;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.035em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}

.ilo--h2 {
  color: inherit;
  font-family: Overpass;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.035em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}

.ilo--h3 {
  color: inherit;
  font-family: Overpass;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.035em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}

.ilo--h4 {
  color: inherit;
  font-family: Overpass;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.035em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}

.ilo--h5 {
  color: inherit;
  font-family: Overpass;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.035em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}

.ilo--h6 {
  color: inherit;
  font-family: Overpass;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;

  &--default {
    color: #2d2d2d;
  }

  &--actionable {
    color: #230050;
  }

  &--light {
    color: #ffffff;
  }
}
