@use "../functions" as *;
@import "../mixins";

.hero {
  $c: &;

  // Shared spacing values for Hero and HeroCard components
  --hero-card-padding-y-sm: #{spacing(10)};
  --hero-card-padding-y-lg: #{px-to-rem(56px)};
  --hero-card-padding-x-sm: #{spacing(4)};
  --hero-card-padding-x-lg: #{px-to-rem(71px)};
  --hero-card-corner-cut-width-sm: #{px-to-rem(72px)};
  --hero-card-corner-cut-width-lg: #{px-to-rem(116px)};
  --hero-card-corner-cut-height-sm: #{px-to-rem(40px)};
  --hero-card-corner-cut-height-lg: #{px-to-rem(64px)};
  --hero-tooltip-width: #{px-to-rem(30px)};
  --hero-tooltip-height: #{px-to-rem(27px)};
  --hero-image-min-height: #{px-to-rem(216px)};

  // Additional offset to add for justify: offset
  --added-offset: 0px;

  // Total offset from the edge of the window
  --base-offset: calc(((100vw - #{px-to-rem(1300px)}) / 2));

  // Breadcrumb offset. This is used directly by the breadcrumb component
  // Ensures the Breadcrumb aligns to the starting edge of a 1300px content
  // container
  --breadcrumb-padding: max(var(--base-offset), #{spacing(4)});

  // Card padding defaults to a fixed value. But it's a CSS variable
  // so that we can make it squeezy when the card is justified `start`
  // or `offset`
  --card-padding-start: var(--hero-card-padding-x-lg);

  // Squeezy padding makes it so we can have a flexible padding value
  // that will be somewhere between 16px and the card's fixed padding
  // depending on how far the card is from the edge of the screen
  $squeezy-padding-start: max(
    #{spacing(4)},
    min(var(--base-offset) + var(--added-offset), var(--hero-card-padding-x-lg))
  );

  // Card offset from the edge of the window minus the card's fixed padding
  $card-offset: calc(
    var(--base-offset) - var(--hero-card-padding-x-lg) + var(--added-offset)
  );

  // The height of the corner cut
  --corner-cut-height: var(--hero-card-corner-cut-height-sm);

  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  overflow: hidden;
  @include hero-grid-rows(var(--hero-image-min-height));

  &--image {
    display: grid;
    @include hero-grid-rows(var(--hero-image-min-height));
  }

  &__gap {
    &__transparent {
      background: transparent;
    }

    &__white {
      background-color: var(--ilo-color-white);
    }

    &__light {
      background-color: var(--ilo-color-blue-lighter);
    }

    &__dark {
      background-color: var(--ilo-color-blue-dark);
    }
  }

  &--background {
    display: grid;
    background-color: var(--ilo-color-blue-lighter);
    position: relative;
    grid-area: 1 / 1 / 4 / 2;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &--breadcrumbs {
    grid-area: 1 / 1 / 2 / 5;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;

    &--wrapper {
      width: 100%;
    }
  }

  &--card {
    grid-area: 3 / 1 / 5 / 2;
  }

  &--caption {
    grid-area: 2 / 1 / 3 / 2;

    &--wrapper {
      @include caption-icon-wrapper(
        "right",
        var(--hero-tooltip-width),
        var(--hero-tooltip-height)
      );
    }
  }

  @include breakpoint("lg") {
    --card-width: 625px;
    --corner-cut-height: var(--hero-card-corner-cut-height-lg);
    --breadcrumbs-height: 48px;
    --image-gap: 240px;

    // Defaults to baseline
    --row-1-lg: var(--breadcrumbs-height);
    --row-2-lg: calc(var(--image-gap) - var(--breadcrumbs-height));
    --row-3-lg: auto;
    --row-4-lg: var(--hero-tooltip-height);
    --row-5-lg: 72px;

    --col-1-lg: 0;
    --col-2-lg: var(--card-width);
    --col-3-lg: var(--hero-tooltip-width);
    --col-4-lg: 1fr;

    grid-template-rows:
      var(--row-1-lg)
      var(--row-2-lg)
      var(--row-3-lg)
      var(--row-4-lg);

    grid-template-columns:
      var(--col-1-lg)
      var(--col-2-lg)
      var(--col-3-lg)
      var(--col-4-lg);

    &__poster-size {
      &__small {
        --image-gap: 112px;
      }

      &__medium {
        --image-gap: 176px;
      }

      &__large {
        --image-gap: 240px;
      }

      &__xlarge {
        --image-gap: 527px;
      }
    }

    &__card-size {
      &__small {
        --card-width: 625px;
      }

      &__medium {
        --card-width: 721px;
      }

      &__large {
        --card-width: 856px;
      }

      &__xlarge {
        --card-width: 920px;
      }

      &__xxlarge {
        --card-width: 998px;
      }
    }

    &__card-justify {
      &__start,
      &__offset {
        --card-padding-start: #{$squeezy-padding-start};
        --col-1-lg: #{$card-offset};
      }

      &__offset {
        --added-offset: 109px;
      }

      &__center {
        --col-1-lg: calc((100% - var(--card-width)) / 2);
        --col-4-lg: calc(
          ((100% - var(--card-width)) / 2) - var(--hero-tooltip-width)
        );
      }
    }

    &__card-align {
      &__center {
        --row-4-lg: calc(#{px-to-rem(72px)} - var(--hero-tooltip-height));
        --row-5-lg: var(--hero-tooltip-height);
      }

      &__bottom {
        --row-3-lg: 0;
        --row-4-lg: var(--corner-cut-height);
        --row-5-lg: auto;
      }
    }

    &__card-background {
      &__transparent {
        #{$c}--card-offset {
          background-color: transparent !important;
          box-shadow: none !important;
        }
      }
    }

    &__card-theme {
      &__dark {
        #{$c}--card-offset {
          background-color: var(--ilo-color-blue-dark);
          position: relative;
          box-shadow: 0.3px 0 0 0 var(--ilo-color-blue-dark);
        }

        &[class*="semi-transparent"] {
          #{$c}--card-offset {
            background: rgba(35, 0, 80, 0.6);
            box-shadow: 0.3px 0 0 0 rgba(35, 0, 80, 0.6);
          }
        }
      }

      &__light {
        #{$c}--card-offset {
          background: var(--ilo-color-white);
          box-shadow: 0.3px 0 0 0 var(--ilo-color-white);
        }

        &[class*="semi-transparent"] {
          #{$c}--card-offset {
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0.3px 0 0 0 rgba(255, 255, 255, 0.6);
          }
        }
      }
    }

    &--background {
      grid-area: 1 / 1 / 5 / 5;

      #{$c}__card-align__center & {
        grid-area: 1 / 1 / 6 / 5;
      }

      #{$c}__card-align__bottom & {
        grid-area: 1 / 1 / 5 / 5;
      }
    }

    &--card-offset {
      grid-area: 3 / 1 / 6 / 2;
      z-index: 0;
      position: relative;

      #{$c}__card-justify__offset &,
      #{$c}__card-justify__center & {
        background: transparent !important;
      }

      #{$c}__card-align__center & {
        grid-area: 3 / 1 / 4 / 2;
      }

      #{$c}__card-align__bottom & {
        grid-area: 4 / 1 / 6 / 2;
      }
    }

    &--card {
      grid-area: 3 / 2 / 6 / 3;

      #{$c}__card-align__center & {
        grid-area: 3 / 2 / 4 / 3;
      }

      #{$c}__card-align__bottom & {
        grid-area: 4 / 2 / 6 / 3;
      }
    }

    &--caption {
      grid-area: 4 / 3 / 5 / 4;
      position: relative;

      #{$c}__card-align__center & {
        grid-area: 5 / 1 / 6 / 3;
      }

      #{$c}__card-align__bottom & {
        grid-area: 4 / 1 / 5 / 2;
      }

      #{$c}__card-align__center &,
      #{$c}__card-align__bottom & {
        &--wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      #{$c}__card-align__bottom#{$c}__card-justify__start & {
        grid-area: 1 / 1 / 3 / 3;
      }

      #{$c}__card-align__bottom#{$c}__card-justify__offset & {
        grid-area: 1 / 2 / 3 / 3;
      }

      #{$c}__card-align__bottom#{$c}__card-justify__start &,
      #{$c}__card-align__bottom#{$c}__card-justify__offset & {
        #{$c}--caption--wrapper {
          @include caption-icon-wrapper(
            "right",
            var(--hero-tooltip-width),
            var(--hero-tooltip-height)
          );

          position: absolute;
          left: 0;
          right: initial;
          bottom: 0;
        }
      }
    }
  }

  [dir="rtl"] & {
    &--caption {
      &--wrapper {
        @include caption-icon-wrapper(
          "left",
          var(--hero-tooltip-width),
          var(--hero-tooltip-height)
        );
        right: 0;
        position: absolute;
      }
    }

    @include breakpoint("lg") {
      &__card-align__bottom {
        &#{$c}__card-justify__start,
        &#{$c}__card-justify__offset {
          #{$c}--caption--wrapper {
            @include caption-icon-wrapper(
              "left",
              var(--hero-tooltip-width),
              var(--hero-tooltip-height)
            );

            position: absolute;
            left: initial;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
