@use "../functions" as *;
@import "../mixins";

.ilo--hero-card {
  $c: &;

  height: 100%;
  position: relative;
  padding: var(--hero-card-padding-y-sm) var(--hero-card-padding-x-sm);

  @include breakpoint("lg") {
    padding-block: var(--hero-card-padding-y-lg);
    padding-inline-end: var(--hero-card-padding-x-lg);
    padding-inline-start: var(--card-padding-start);
  }

  &--title-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__theme {
    &__light {
      color: var(--ilo-color-gray-charcoal);
      background: var(--ilo-color-white);

      @include breakpoint("lg") {
        &.ilo--hero-card__background__semi-transparent {
          background: rgba(255, 255, 255, 0.6);
        }
      }
    }

    &__dark {
      background: var(--ilo-color-blue-dark);
      color: var(--ilo-color-white);

      @include breakpoint("lg") {
        &.ilo--hero-card__background__semi-transparent {
          background: rgba(35, 0, 80, 0.6);
        }
      }
    }

    @include breakpoint("lg") {
      &__dark.ilo--hero-card__background__transparent,
      &__light.ilo--hero-card__background__transparent {
        color: var(--ilo-color-white);
        background: transparent;

        * {
          filter: drop-shadow(1px 1px 12px var(--ilo-color-gray-charcoal));
        }
      }
    }
  }

  &__cornercut {
    @include cornercut(
      var(--hero-card-corner-cut-width-sm),
      var(--hero-card-corner-cut-height-sm)
    );

    [dir="rtl"] & {
      @include cornercut(
        var(--hero-card-corner-cut-width-sm),
        var(--hero-card-corner-cut-height-sm),
        "left"
      );
    }

    @include breakpoint("lg") {
      @include cornercut(
        var(--hero-card-corner-cut-width-lg),
        var(--hero-card-corner-cut-height-lg)
      );

      [dir="rtl"] & {
        @include cornercut(
          var(--hero-card-corner-cut-width-lg),
          var(--hero-card-corner-cut-height-lg),
          "left"
        );
      }
    }
  }

  &--datecopy {
    @include typography("body-medium");
    margin-bottom: px-to-rem(28px);
    color: var(--ilo-color-gray-accessible);

    #{$c}__theme__dark & {
      color: var(--ilo-color-white);
    }

    #{$c}__theme__light & {
      color: var(--ilo-color-gray-accessible);
    }

    .ilo--hero-card__background__transparent &,
    .ilo--hero-card__background__semi-transparent & {
      color: var(--ilo-color-white);
    }
  }

  &--eyebrow {
    @include typography("body-medium");
    margin-bottom: spacing(4);
    color: var(--ilo-color-purple);

    #{$c}__theme__dark & {
      color: var(--ilo-color-white);
    }

    #{$c}__theme__light & {
      color: var(--ilo-color-purple);
    }

    .ilo--hero-card__background__transparent & {
      color: var(--ilo-color-white);
    }
  }

  &--intro {
    @include typography("body-large", true);

    @include breakpoint("lg") {
      @include typography("body-large");
    }
    margin-bottom: spacing(7);
  }

  &--title {
    @include typography("heading-1", true);
    margin-bottom: spacing(4);

    @include breakpoint("lg") {
      @include typography("heading-1");
    }
  }
}
