@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--hero {
  background: map-get($color, "ux", "pagination", "default", "background");
  display: block;
  position: relative;
  width: 100%;

  &--home {
    .ilo--image {
      &::before {
        background: linear-gradient(
            360deg,
            rgba($brand-ilo-black, 0.3) 0%,
            rgba($brand-ilo-black, 0) 24.88%
          ),
          transparent;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    @include breakpoint("large") {
      position: relative;
    }
  }

  &--portal {
    position: relative;

    @include breakpoint("large") {
      margin-bottom: 80px;
      padding-top: 170px;

      .ilo--image {
        height: calc(100% - 80px);
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .ilo--image--wrapper {
        height: 100%;
      }

      .ilo--image--img {
        display: flex;
        height: 100%;
        object-fit: cover;
        width: 100%;

        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }
      }

      .ilo--hero-card {
        top: 80px;
      }
    }
  }

  &--article {
    background: map-get($color, "hero", "article");
    padding: 88px 0 0 0;

    @include breakpoint("large") {
      margin-bottom: 80px;
      padding: 112px 0 0 0;

      .ilo--hero-card {
        top: 80px;
      }
    }

    &.ilo--hero--image {
      background-color: map-get($color, "hero", "image");
      padding: 0;

      @include breakpoint("large") {
        .ilo--hero-card {
          top: 0;
        }
      }
    }

    .ilo--hero-card {
      &--center {
        margin: auto;
      }
    }
  }

  &--project {
    background: map-get($color, "hero", "project");
    padding: 88px 0 0 0;

    @include breakpoint("large") {
      margin-bottom: 80px;
      padding: 112px 0 0 0;

      .ilo--hero-card {
        top: 80px;
      }
    }

    &.ilo--hero--image {
      background-color: map-get($color, "hero", "image");
      padding: 0;

      @include breakpoint("large") {
        .ilo--hero-card {
          top: 0;
        }
      }
    }

    .ilo--hero-card {
      &--center {
        margin: auto;
      }
    }
  }

  &--image {
    background-color: map-get($color, "hero", "image");

    @include breakpoint("large") {
      .ilo--image {
        height: 100%;
        max-height: 592px;
        overflow: hidden;
        width: 100%;
      }

      .ilo--image--wrapper {
        height: 100%;
      }

      .ilo--image--img {
        display: flex;
        height: 100%;
        object-fit: cover;
        width: 100%;

        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .ilo--breadcrumb {
    width: 100%;

    .right-to-left & {
      left: auto;
      right: 0;
    }

    @include breakpoint("medium") {
      left: 0;
      max-width: 560px;
      position: absolute;
      top: 0;
    }
  }
}

.ilo--hero-card {
  background: map-get($color, "hero", "card", "light", "background");
  color: map-get($color, "hero", "card", "light", "color");
  max-width: 998px;
  position: relative;
  padding: 16px 16px 40px 16px;

  &::before {
    background: inherit;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: -39.7px;
    width: calc(100% - 73px);

    .right-to-left & {
      left: auto;
      right: 0;
    }

    @include breakpoint("large") {
      height: 56px;
      top: -55.7px;
      width: calc(100% - 116px);
    }
  }

  &::after {
    @include dataurlicon("triangledecoration", $brand-ilo-white);
    background-position: bottom right;
    background-size: cover;
    content: "";
    display: block;
    height: 40px;
    right: 0;
    position: absolute;
    top: -39.7px;
    width: 74px;

    @include breakpoint("large") {
      height: 56px;
      top: -55.7px;
      width: 116px;
    }
  }

  @include breakpoint("large") {
    padding: 0 70px 70px 56px;

    &.ilo--hero-card--graphic {
      padding: 0 70px 44px 56px;
    }
  }

  .right-to-left & {
    direction: rtl;
  }

  &--center {
    margin: auto;
  }

  &--dark {
    background: map-get($color, "hero", "card", "dark", "background");
    border-bottom: 3px solid $color-base-red-medium;
    color: map-get($color, "hero", "card", "dark", "color");

    &::after {
      @include dataurlicon("triangledecoration", $brand-ilo-dark-blue);
    }

    .ilo--hero-card--link.icon {
      color: map-get($color, "hero", "card", "dark", "icon", "color");

      &:hover {
        background-color: map-get(
          $color,
          "hero",
          "card",
          "dark",
          "iconhover",
          "background"
        );
      }

      &--facebook {
        @include dataurlicon(
          "facebook",
          map-get($color, "hero", "card", "dark", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "facebook",
            map-get($color, "hero", "card", "dark", "iconhover", "color")
          );
        }
      }

      &--twitter {
        @include dataurlicon(
          "twitter",
          map-get($color, "hero", "card", "dark", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "twitter",
            map-get($color, "hero", "card", "dark", "iconhover", "color")
          );
        }
      }

      &--linkedin {
        @include dataurlicon(
          "linkedin",
          map-get($color, "hero", "card", "dark", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "linkedin",
            map-get($color, "hero", "card", "dark", "iconhover", "color")
          );
        }
      }
    }

    .ilo--hero-card--eyebrow {
      color: map-get($color, "hero", "card", "dark", "eyebrow", "color");
    }

    .ilo--hero-card--datecopy {
      color: map-get($color, "hero", "card", "dark", "datecopy", "color");
    }
  }

  &--graphic {
    max-width: 856px;
  }

  &--home {
    border: none;
    padding: 24px;

    &::before {
      display: none;
    }

    @include breakpoint("large") {
      bottom: 72px;
      max-width: 720px;
      padding: 0 48px 48px 72px;
      position: absolute;
      width: 100%;

      &::before {
        background: inherit;
        // clip-path: polygon(90% 0, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
        content: "";
        display: block;
        height: 48px;
        left: 0;
        position: absolute;
        top: -48px;
        width: calc(100% - 87px);

        .right-to-left & {
          // clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0% 100%, 10% 0%);
          left: auto;
          right: 0;
        }
      }

      &::after {
        @include dataurlicon("triangledecoration", $brand-ilo-white);
        height: 48px;
        right: 0;
        position: absolute;
        top: -48px;
        width: 87.4px;
      }

      &.ilo--hero-card--center {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
      }

      &.ilo--hero-card--left {
        left: 0;
        right: auto;
      }

      &.ilo--hero-card--right {
        left: auto;
        right: 0;
      }
    }

    &.ilo--hero-card--dark {
      @include breakpoint("large") {
        background: rgba(
          map-get($color, "hero", "card", "dark", "background"),
          0.55
        );
      }

      &::after {
        @include dataurlicon(
          "triangledecoration",
          rgba($brand-ilo-dark-blue, 0.55)
        );
      }
    }
  }

  &--portal {
    background: map-get($color, "hero", "portal", "background");
    color: map-get($color, "hero", "portal", "color");
    padding: 24px;

    @include breakpoint("large") {
      max-width: 625px;
      padding: 0 48px 42px 72px;
      width: 100%;
    }
  }

  &--publication {
    padding: 24px;

    .ilo--hero-card--eyebrow {
      margin-bottom: px-to-rem(6px);
    }

    @include breakpoint("large") {
      margin-left: 106px;
      margin-top: -64px;
      max-width: 720px;
      padding: 0 48px 48px 48px;
      width: 100%;

      &::before {
        height: px-to-rem(40px);
        top: px-to-rem(-39.7px);
        width: calc(100% - 73px);
      }

      &::after {
        height: px-to-rem(40px);
        top: px-to-rem(-39.7px);
        width: px-to-rem(74px);
      }
    }
  }

  &--datecopy {
    @include font-styles("body-small");
    margin-bottom: px-to-rem(28px);

    color: map-get($color, "hero", "card", "light", "datecopy", "color");
  }

  &--eyebrow {
    @include font-styles("body-small");
    margin-bottom: px-to-rem(16px);

    color: map-get($color, "hero", "card", "light", "eyebrow", "color");
  }

  &--intro {
    @include font-styles("body-small");
    margin-bottom: px-to-rem(28px);

    @include breakpoint("large") {
      @include font-styles("base");
    }
  }

  &--title {
    @include font-styles("headline-3");
    @include textmargin(
      "margin-bottom",
      40px,
      "headline-2",
      "display",
      "base",
      "copy"
    );

    font-family: $fonts-display;
    font-weight: 700;

    @include breakpoint("large") {
      @include font-styles("headline-2");
    }
  }

  &--list {
    display: flex;
  }

  &--list--item {
    display: inline-block;
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--link {
    color: map-get($color, "hero", "card", "light", "link", "color");
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
    text-indent: -999px;
    width: 100%;

    &.icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 16px;
      border-radius: 2px;
      display: inline-block;
      color: map-get($color, "hero", "card", "light", "icon", "color");
      height: 24px;
      width: px-to-rem(24px);

      &:hover {
        background-color: map-get(
          $color,
          "hero",
          "card",
          "light",
          "iconhover",
          "background"
        );
        transition: all 0.1s ease-in-out;
      }

      &--facebook {
        @include dataurlicon(
          "facebook",
          map-get($color, "hero", "card", "light", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "facebook",
            map-get($color, "hero", "card", "light", "iconhover", "color")
          );
        }
      }

      &--twitter {
        @include dataurlicon(
          "twitter",
          map-get($color, "hero", "card", "light", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "twitter",
            map-get($color, "hero", "card", "light", "iconhover", "color")
          );
        }
      }

      &--linkedin {
        @include dataurlicon(
          "linkedin",
          map-get($color, "hero", "card", "light", "icon", "color")
        );

        &:hover {
          @include dataurlicon(
            "linkedin",
            map-get($color, "hero", "card", "light", "iconhover", "color")
          );
        }
      }
    }
  }
}
