@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

// @TODO: The grid layout is fairly clean until you get to the placement of the caption which breaks out of it
// and uses a lot of absolute positioning. This should be cleaned up to use the grid layout more effectively.

.hero {
  $c: &;

  // SASS vars are all constants
  $tooltip-width: 30px;
  $tooltip-height: 27px;
  $image-max-height: 216px;
  $corner-cut-sm: 39px;
  $corner-cut-lg: 64px;

  // CSS vars can be changed
  --corner-cut-height: #{$corner-cut-sm};

  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows:
    minmax($image-max-height, 1fr)
    $tooltip-height
    $corner-cut-sm
    auto;
  grid-template-columns: 1fr;

  &--breadcrumbs {
    display: none;
  }

  &--figure {
    background-color: map-get($color, "base", "blue", "light");
    position: relative;
    grid-area: 1 / 1 / 4 / 2;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &--card {
    grid-area: 3 / 1 / 5 / 2;
  }

  &--caption {
    grid-area: 2 / 1 / 3 / 2;

    &--wrapper {
      @include caption-icon-wrapper("right", $tooltip-width, $tooltip-height);
    }
  }

  @include breakpoint("large") {
    --card-width: minmax(200px, 625px);
    --corner-cut-height: #{$corner-cut-lg};
    --breadcrumbs-height: 48px;
    --card-offset: 109px;
    --image-gap: 240px;

    // Defaults to baseline
    --row-1-lg: var(--breadcrumbs-height);
    --row-2-lg: calc(var(--image-gap) - var(--breadcrumbs-height));
    --row-3-lg: auto;
    --row-4-lg: #{$tooltip-height};
    --row-5-lg: 72px;

    --col-1-lg: 0;
    --col-2-lg: var(--card-width);
    --col-3-lg: #{$tooltip-width};
    --col-4-lg: 1fr;

    grid-template-rows:
      var(--row-1-lg)
      var(--row-2-lg)
      var(--row-3-lg)
      var(--row-4-lg)
      var(--row-5-lg);

    grid-template-columns:
      var(--col-1-lg)
      var(--col-2-lg)
      var(--col-3-lg)
      var(--col-4-lg);

    &__poster-size {
      &__small {
        --image-gap: 112px;
      }

      &__medium {
        --image-gap: 176px;
      }

      &__large {
        --image-gap: 240px;
      }

      &__xlarge {
        --image-gap: 527px;
      }
    }

    &__card-size {
      &__small {
        --card-width: minmax(200px, 625px);
      }

      &__medium {
        --card-width: minmax(200px, 721px);
      }

      &__large {
        --card-width: minmax(200px, 856px);
      }

      &__xlarge {
        --card-width: minmax(200px, 920px);
      }

      &__xxlarge {
        --card-width: minmax(200px, 998px);
      }
    }

    &__card-justify {
      &__start {
        --col-1-lg: 0;
      }

      &__offset {
        --col-1-lg: var(--card-offset);
      }

      &__center {
        --col-1-lg: 1fr;
        --col-4-lg: 1fr;
      }
    }

    &__card-align {
      &__center {
        --row-4-lg: calc(72px - #{$tooltip-height});
        --row-5-lg: #{$tooltip-height};
      }

      &__bottom {
        --row-3-lg: 0;
        --row-4-lg: var(--corner-cut-height);
        --row-5-lg: auto;
      }
    }

    &--breadcrumbs {
      grid-area: 1 / 1 / 2 / 5;
      z-index: 1;
      display: flex;
      flex-flow: row nowrap;

      &--wrapper {
        max-width: 500px;
      }
    }

    &--figure {
      grid-area: 1 / 1 / 5 / 5;

      #{$c}__card-align__center & {
        grid-area: 1 / 1 / 6 / 5;
      }

      #{$c}__card-align__bottom & {
        grid-area: 1 / 1 / 5 / 5;
      }
    }

    &--card {
      grid-area: 3 / 2 / 6 / 3;

      #{$c}__card-align__center & {
        grid-area: 3 / 2 / 4 / 3;
      }

      #{$c}__card-align__bottom & {
        grid-area: 4 / 2 / 6 / 3;
      }
    }

    &--caption {
      grid-area: 4 / 3 / 5 / 4;
      position: relative;

      #{$c}__card-align__center & {
        grid-area: 5 / 1 / 6 / 3;
      }

      #{$c}__card-align__bottom & {
        grid-area: 4 / 1 / 5 / 2;
      }

      #{$c}__card-align__center &,
      #{$c}__card-align__bottom & {
        &--wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      #{$c}__card-align__bottom#{$c}__card-justify__start & {
        grid-area: 1 / 1 / 3 / 3;

        #{$c}--caption--wrapper {
          @include caption-icon-wrapper(
            "right",
            $tooltip-width,
            $tooltip-height
          );

          position: absolute;
          left: 0;
          right: initial;
          bottom: 0;
        }
      }

      &--wrapper {
        left: 2px;
      }
    }
  }

  // Layout for RTL languages
  .right-to-left & {
    &--caption {
      &--wrapper {
        @include caption-icon-wrapper("left", $tooltip-width, $tooltip-height);
        position: absolute;
        right: 0;
      }
    }

    @include breakpoint("large") {
      &__card-justify {
        &__start {
          --col-1-lg: 1fr;
          --col-2-lg: #{$tooltip-width};
          --col-3-lg: var(--card-width);
          --col-4-lg: 0;
        }

        &__offset {
          --col-1-lg: 1fr;
          --col-2-lg: #{$tooltip-width};
          --col-3-lg: var(--card-width);
          --col-4-lg: var(--card-offset);
        }

        &__center {
          --col-1-lg: 1fr;
          --col-2-lg: #{$tooltip-width};
          --col-3-lg: var(--card-width);
          --col-4-lg: 1fr;
        }
      }

      &__card-align {
        &__center {
          #{$c}--card {
            grid-area: 3 / 3 / 4 / 4;
          }

          #{$c}--caption {
            grid-area: 5 / 4 / 6 / 5;

            &--wrapper {
              right: 0;
              left: initial;
              position: absolute;
            }
          }
        }

        &__bottom {
          #{$c}--caption {
            grid-area: 4 / 4 / 5 / 5;

            &--wrapper {
              position: absolute;
              right: 0;
              bottom: 0;
              left: initial;
            }
          }
        }

        &__bottom#{$c}__card-justify__start {
          #{$c}--caption {
            grid-area: 2 / 3 / 3 / 4;

            &--wrapper {
              @include caption-icon-wrapper(
                "left",
                $tooltip-width,
                $tooltip-height
              );

              position: absolute;
              left: initial;
              right: 0;
            }
          }
        }
      }

      &--card {
        grid-area: 3 / 3 / 6 / 4;
      }

      &--breadcrumbs {
        flex-direction: row-reverse;
      }

      &--caption {
        grid-area: 4 / 2 / 5 / 3;

        &--wrapper {
          right: 2px;
          left: initial;

          @include caption-icon-wrapper(
            "left",
            $tooltip-width,
            $tooltip-height
          );
        }
      }
    }
  }
}
