@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--image {
  position: relative;

  &--wrapper {
    line-height: 0;
    position: relative;
    width: 100%;
  }

  &--img {
    line-height: 0;
  }

  &--img,
  img {
    width: 100%;
  }

  &--caption {
    border-left: var(--ilo-border-lg) solid var(--ilo-color-borders-default);
    color: var(--ilo-color-gray-accessible);
    font-weight: var(--ilo-font-weight-regular);
    margin-top: spacing(4);
    padding-left: spacing(2);
    @include font-styles("image-caption");
  }

  .ilo--credit {
    bottom: 0;
    left: 0;
    position: absolute;

    @include breakpoint("lg") {
      bottom: -#{px-to-rem(4px)};
    }
  }

  [dir="rtl"] & {
    .ilo--image--caption {
      border-left: none;
      border-right: var(--ilo-border-lg) solid var(--ilo-color-borders-default);
      padding-left: 0;
      padding-right: spacing(2);
    }

    .ilo--credit {
      left: auto;
      right: 0;
    }
  }
}
