@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

@mixin image-caption-styles {
  figcaption {
    border-inline-start: var(--ilo-border-lg) solid
      var(--ilo-color-borders-default);
    color: var(--ilo-color-gray-accessible);
    font-size: var(--ilo-font-size-sm);
    line-height: var(--ilo-line-height-xlg);
    font-weight: var(--ilo-font-weight-regular);
    letter-spacing: var(--ilo-letter-spacing-md);
    margin-top: spacing(4);
    padding-inline-start: spacing(2);
  }
}

@mixin image-caption-dark-styles {
  figcaption {
    color: var(--ilo-color-white);
    border-inline-color: var(--ilo-color-gray-light-semi-transparent);
  }
}

@mixin image-styles {
  figure {
    width: 100%;
    line-height: 0;
  }

  img {
    width: 100%;
  }
}

.ilo--image {
  position: relative;

  &--wrapper {
    line-height: 0;
    position: relative;
    width: 100%;
  }

  @include image-styles;
  @include image-caption-styles;

  .ilo--credit {
    bottom: 0;
    left: 0;
    position: absolute;

    @include breakpoint("lg") {
      bottom: -#{px-to-rem(4px)};
    }
  }

  [dir="rtl"] & {
    .ilo--credit {
      left: auto;
      right: 0;
    }
  }

  &__theme__dark {
    @include image-caption-dark-styles;
  }
}
