@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--image {
  position: relative;

  &--wrapper {
    line-height: 0;
    position: relative;
    width: 100%;
  }

  &--img {
    line-height: 0;
  }

  &--img,
  img {
    width: 100%;
  }

  &--caption {
    border-left: px-to-rem(3px) solid $color-ux-caption-border-left;
    color: $color-font-caption;
    font-weight: 400;
    margin-top: spacing(4);
    padding-left: spacing(2);
    @include font-styles("image-caption");
  }

  .ilo--credit {
    bottom: 0;
    left: 0;
    position: absolute;

    @include breakpoint("lg") {
      bottom: -#{px-to-rem(4px)};
    }
  }

  [dir="rtl"] & {
    .ilo--image--caption {
      border-left: none;
      border-right: 3px solid #b8c4cc;
      padding-left: 0;
      padding-right: spacing(2);
    }

    .ilo--credit {
      left: auto;
      right: 0;
    }
  }
}
