@use "../functions" as *;
@import "../mixins";

.ilo--input {
  appearance: none;
  background-color: var(--ilo-color-white);
  border: var(--ilo-border-md) solid var(--ilo-color-gray-base);
  box-sizing: border-box;
  font-family: var(--ilo-fonts-copy);
  font-weight: var(--ilo-font-weight-medium);
  @include typography("highlight-medium");
  height: px-to-rem(48px);
  margin: spacing(0);
  outline: none;
  padding: spacing(4) spacing(3) spacing(4) spacing(3);
  width: 100%;

  &:focus {
    background-color: var(--ilo-color-blue-lighter);
    border: var(--ilo-border-md) solid var(--ilo-color-gray-base);
    padding-left: spacing(3);
    outline: none;
  }

  &:disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &:invalid,
  &.error,
  .error & {
    background-color: var(--ilo-color-white);
    border: var(--ilo-border-md) solid var(--ilo-color-gray-base);
    border-left: px-to-rem(3px) solid var(--ilo-color-red-dark);
  }
}
