@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--link-list {
  --ilo-link-list-color-icon: var(--ilo-color-blue-dark);
  --ilo-link-list-color-indent-icon: var(--ilo-color-gray-base);

  &--headline {
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "label");
    @include font-styles("headline-5");
    @include textmargin("margin-bottom", 30px, "headline-5", "display", 0, 0);
  }

  &--links {
    &--headline {
      font-family: var(--ilo-fonts-display);
      font-weight: map-get($type, "weights", "label");
      @include font-styles("headline-6");
      @include textmargin("margin-bottom", 27px, "headline-6", "display", 0, 0);
      @include textmargin(
        "margin-top",
        $spacing-spacing-12,
        "headline-6",
        "display",
        0,
        0
      );
    }
  }

  &--links--item {
    &.indented {
      padding-left: spacing(8);

      .ilo--link-list--label {
        padding-left: spacing(8);
        position: relative;

        &:before {
          content: "";
          display: block;
          height: px-to-rem(24px);
          width: px-to-rem(24px);
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transform-origin: center;
          @include icon("caret_right", var(--ilo-link-list-color-indent-icon));
        }

        [dir="rtl"] & {
          padding-right: spacing(6);
          &:before {
            @include icon("caret_left", var(--ilo-link-list-color-indent-icon));
            transform: translateY(-50%);
            left: unset;
            right: 0;
          }
        }
      }

      & .ilo--link-list--link:hover,
      & .ilo--link-list--link:focus,
      &:hover,
      &:focus {
        --ilo-link-list-color-indent-icon: var(--ilo-color-blue);
      }
    }
  }

  .ilo--link-list--icon {
    @include icon("chevron_right", var(--ilo-link-list-color-icon));
    width: px-to-rem(24px);
    height: px-to-rem(24px);
  }

  &--link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: px-to-rem($borders-base) solid $color-base-neutrals-lighter;
    color: map-get($color, "link", "text", "default");
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "section");
    @include font-styles("body-small");
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    text-decoration: none;
    @include globaltransition("color, background-color, border-color");

    &:visited {
      color: map-get($color, "link", "text", "default");
      @include globaltransition("color");
    }

    &:active {
      color: map-get($color, "link", "text", "active");
      outline: none;
      @include globaltransition("color");
    }

    &:hover,
    &:focus {
      --ilo-link-list-color-icon: var(--ilo-color-blue);
      border-bottom: px-to-rem($borders-base) solid
        map-get($color, "link", "text", "hover");
      background-color: $color-base-blue-light;
      color: map-get($color, "link", "text", "hover");
      outline: none;
      @include globaltransition("color, background-color, border-color");
    }

    [dir="rtl"] & {
      .ilo--link-list--icon {
        @include icon("chevron_left", var(--ilo-link-list-color-icon));
      }
    }
  }

  &--dark {
    --ilo-link-list-color-icon: var(--ilo-color-white);
    --ilo-link-list-color-indent-icon: var(--ilo-color-white);
    .ilo--link-list--headline,
    .ilo--link-list--links--headline {
      color: $color-base-neutrals-white;
    }

    .ilo--link-list--link {
      border-bottom: px-to-rem($borders-base) solid rgba(237, 240, 242, 0.4);

      .ilo--link-list--label {
        color: $color-base-neutrals-white;
      }

      &:visited {
        .ilo--link-list--label {
          color: $color-base-neutrals-white;
          @include globaltransition("color");
        }
      }

      &:active {
        outline: none;

        .ilo--link-list--label {
          color: map-get($color, "link", "text", "active");
          @include globaltransition("color");
        }
      }

      &:hover,
      &:focus {
        outline: none;

        .ilo--link-list--label {
          color: $color-base-blue-medium;
          @include globaltransition("color");
        }
      }
    }
  }
}
