@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--link-list {
  --ilo-link-list-color-icon: var(--ilo-color-blue-dark);
  --ilo-link-list-color-indent-icon: var(--ilo-color-gray-base);

  &--headline {
    font-family: var(--ilo-fonts-display);
    font-weight: var(--ilo-font-weight-bold);
    @include typography("heading-3");
    margin-bottom: px-to-rem(30px);
  }

  &--links {
    &--headline {
      font-family: var(--ilo-fonts-display);
      font-weight: var(--ilo-font-weight-bold);
      @include typography("highlight-large");
      margin-bottom: px-to-rem(27px);
      margin-top: spacing(12);
    }
  }

  &--links--item {
    &.indented {
      padding-left: spacing(8);

      .ilo--link-list--label {
        padding-left: spacing(8);
        position: relative;

        &:before {
          content: "";
          display: block;
          height: px-to-rem(24px);
          width: px-to-rem(24px);
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transform-origin: center;
          @include icon("caret_right", var(--ilo-link-list-color-indent-icon));
        }

        [dir="rtl"] & {
          padding-right: spacing(6);
          &:before {
            @include icon("caret_left", var(--ilo-link-list-color-indent-icon));
            transform: translateY(-50%);
            left: unset;
            right: 0;
          }
        }
      }

      & .ilo--link-list--link:hover,
      & .ilo--link-list--link:focus,
      &:hover,
      &:focus {
        --ilo-link-list-color-indent-icon: var(--ilo-color-blue);
      }
    }
  }

  .ilo--link-list--icon {
    @include icon("chevron_right", var(--ilo-link-list-color-icon));
    width: px-to-rem(24px);
    height: px-to-rem(24px);
  }

  .ilo--link-list--label {
    flex-basis: 90%;
  }

  &--link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--ilo-border-md) solid var(--ilo-color-gray-light);
    color: var(--ilo-link-color-default-light);
    font-family: var(--ilo-fonts-display);
    font-weight: var(--ilo-font-weight-medium);
    @include typography("highlight-medium-bold");
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    text-decoration: none;
    @include globaltransition("color, background-color, border-color");

    &:visited {
      color: var(--ilo-link-color-default-light);
      @include globaltransition("color");
    }

    &:active {
      color: var(--ilo-link-color-active-light);
      outline: none;
      @include globaltransition("color");
    }

    &:hover,
    &:focus {
      --ilo-link-list-color-icon: var(--ilo-color-blue);
      border-bottom: var(--ilo-border-md) solid
        var(--ilo-link-color-hover-light);
      background-color: var(--ilo-color-blue-lighter);
      color: var(--ilo-link-color-hover-light);
      outline: none;
      @include globaltransition("color, background-color, border-color");
    }

    [dir="rtl"] & {
      .ilo--link-list--icon {
        @include icon("chevron_left", var(--ilo-link-list-color-icon));
      }
    }
  }

  &--dark {
    --ilo-link-list-color-icon: var(--ilo-color-white);
    --ilo-link-list-color-indent-icon: var(--ilo-color-white);
    .ilo--link-list--headline,
    .ilo--link-list--links--headline {
      color: var(--ilo-color-white);
    }

    .ilo--link-list--link {
      border-bottom: var(--ilo-border-md) solid rgba(237, 240, 242, 0.4);

      .ilo--link-list--label {
        color: var(--ilo-color-white);
      }

      &:visited {
        .ilo--link-list--label {
          color: var(--ilo-color-white);
          @include globaltransition("color");
        }
      }

      &:active {
        outline: none;

        .ilo--link-list--label {
          color: var(--ilo-link-color-active-light);
          @include globaltransition("color");
        }
      }

      &:hover,
      &:focus {
        outline: none;

        .ilo--link-list--label {
          color: var(--ilo-color-blue);
          @include globaltransition("color");
        }
      }
    }
  }
}
