@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--link-list {
  &--headline {
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "label");
    @include font-styles("headline-5");
    @include textmargin("margin-bottom", 30px, "headline-5", "display", 0, 0);
  }

  &--links {
    &--headline {
      font-family: var(--ilo-fonts-display);
      font-weight: map-get($type, "weights", "label");
      @include font-styles("headline-6");
      @include textmargin("margin-bottom", 27px, "headline-6", "display", 0, 0);
      @include textmargin(
        "margin-top",
        $spacing-spacing-12,
        "headline-6",
        "display",
        0,
        0
      );
    }
  }

  &--links--item {
    &.indented {
      padding-left: spacing(8);

      .ilo--link-list--label {
        display: block;
        padding-left: spacing(8);
        position: relative;

        &:before {
          background-position: left center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: block;
          height: px-to-rem(24px);
          width: px-to-rem(24px);
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-90deg);
          transform-origin: center;
          @include dataurlicon("caretdown", $color-base-neutrals-light);
        }

        [dir="rtl"] & {
          padding-right: spacing(6);
          &:before {
            transform: translateY(-50%) rotate(90deg);
            left: unset;
            right: 0;
          }
        }
      }

      & .ilo--link-list--link:hover,
      & .ilo--link-list--link:focus,
      &:hover,
      &:focus {
        .ilo--link-list--label:before {
          @include dataurlicon("caretdown", $color-link-text-hover);
        }
      }
    }
  }

  &--link {
    background-position: calc(100% - 4px) center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px) px-to-rem(24px);
    border-bottom: px-to-rem($borders-base) solid $color-base-neutrals-lighter;
    color: map-get($color, "link", "text", "default");
    display: block;
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "section");
    @include font-styles("body-small");
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    padding-inline-end: spacing(8);
    text-decoration: none;
    @include dataurlicon("arrowright", $color-link-text-default);
    @include globaltransition("color, background-color, border-color");

    &:visited {
      color: map-get($color, "link", "text", "default");
      @include globaltransition("color");
    }

    &:active {
      color: map-get($color, "link", "text", "active");
      outline: none;
      @include globaltransition("color");
    }

    &:hover,
    &:focus {
      border-bottom: px-to-rem($borders-base) solid
        map-get($color, "link", "text", "hover");
      background-color: $color-base-blue-light;
      color: map-get($color, "link", "text", "hover");
      outline: none;
      @include dataurlicon("arrowright", $color-link-text-hover);
      @include globaltransition("color, background-color, border-color");
    }

    [dir="rtl"] & {
      background-position: px-to-rem(4px) center;
      @include dataurlicon("arrowleft", $color-link-text-default);

      &:hover,
      &:focus {
        @include dataurlicon("arrowleft", $color-link-text-hover);
      }
    }
  }

  &--dark {
    .ilo--link-list--headline,
    .ilo--link-list--links--headline {
      color: $color-base-neutrals-white;
    }

    .ilo--link-list--label {
      &:before {
        @include dataurlicon("caretdown", $color-base-neutrals-white);
      }
    }

    .ilo--link-list--link {
      border-bottom: px-to-rem($borders-base) solid rgba(237, 240, 242, 0.4);
      @include dataurlicon("arrowright", $color-base-neutrals-white);

      .ilo--link-list--label {
        color: $color-base-neutrals-white;
      }

      &:visited {
        .ilo--link-list--label {
          color: $color-base-neutrals-white;
          @include globaltransition("color");
        }
      }

      &:active {
        outline: none;

        .ilo--link-list--label {
          color: map-get($color, "link", "text", "active");
          @include globaltransition("color");
        }
      }

      &:hover,
      &:focus {
        outline: none;
        @include dataurlicon("arrowright", $color-base-blue-medium);

        .ilo--link-list--label {
          color: $color-base-blue-medium;
          @include globaltransition("color");
        }
      }

      [dir="rtl"] & {
        background-position: px-to-rem(4px) center;
        @include dataurlicon("arrowleft", $color-base-neutrals-white);

        &:hover,
        &:focus {
          @include dataurlicon("arrowleft", $color-base-blue-medium);
        }
      }
    }
  }
}

.wingsuit-body .ilo--link-list--dark {
  background-color: $color-base-blue-dark;
}
