@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--list {
  $c: &;

  ol {
    counter-reset: item;

    li {
      counter-increment: item;
      display: table;
    }

    li::before {
      content: counter(item) ".";
      display: table-cell;
      text-align: right;
      padding-inline-end: spacing(2);
    }
  }

  ul {
    li {
      position: relative;
      padding-inline-start: spacing(6);

      &::before {
        content: "";
        position: absolute;
        height: px-to-rem(14px);
        width: px-to-rem(12px);
        top: px-to-rem(6px);
        @include dataurlicon("listarrow", $color-base-neutrals-light);
        background-repeat: no-repeat;

        // Left takes precedence in LTR layouts
        // Right takes precents in RTL layouts
        left: 0;
        right: 0;

        [dir="rtl"] & {
          transform: rotate(180deg);
        }

        @include breakpoint("medium") {
          top: px-to-rem(7px);
        }
      }
    }
  }

  li {
    @include font-styles("body-small");
    font-family: $fonts-copy;
    margin-bottom: spacing(4);

    b,
    strong {
      font-weight: 700;
      letter-spacing: $type-label-small-letter-spacing;
    }

    @include breakpoint("medium") {
      @include font-styles("base");
    }
  }

  &--title {
    @include font-styles("headline-6");
    margin-bottom: spacing(6);
    font-family: $fonts-display;
    font-weight: 700;

    @include breakpoint("medium") {
      @include font-styles("headline-5");
    }
  }

  &__unstyled {
    ol,
    ul {
      list-style: none;

      li {
        padding-inline-start: 0;
        &::before {
          content: none;
        }
      }
    }
  }

  &__horizontal {
    &,
    ul,
    ol {
      display: flex;
      flex-flow: row;
      list-style: none;
      gap: spacing(10);

      li {
        padding: 0;
        &::before {
          content: none;
        }
      }
    }
  }
}
