@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--list {
  @include invincible-list;

  &--title {
    @include font-styles("headline-6");
    margin-bottom: spacing(6);
    font-family: var(--ilo-fonts-display);
    font-weight: 700;

    @include breakpoint("md") {
      @include font-styles("headline-5");
    }
  }

  &__unstyled {
    ol,
    ul {
      list-style: none;

      li {
        padding-inline-start: 0;
        &::before {
          content: none;
        }
      }
    }
  }

  &__horizontal {
    &,
    ul,
    ol {
      display: flex;
      flex-flow: row;
      list-style: none;
      gap: spacing(10);

      li {
        padding: 0;
        &::before {
          content: none;
        }
      }
    }
  }
}
