@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";
@import "../animations";

.ilo--loading {
  --ilo-loading-size: #{px-to-rem(60px)};
  --ilo-loading-loading-circle: var(--ilo-color-gray-light);
  --ilo-loading-loading-line: var(--ilo-color-gray-base);
  --ilo-loading-loading-pointer: var(--ilo-color-blue);
  --ilo-loading-loaded-circle: var(--ilo-color-gray-light);
  --ilo-loading-loaded-cirlce-inner: var(--ilo-color-blue);
  --ilo-loading-loaded-check: var(--ilo-color-white);

  width: var(--ilo-loading-size);
  height: var(--ilo-loading-size);

  &__theme__dark {
    --ilo-loading-loading-circle: var(--ilo-color-blue-dark);
    --ilo-loading-loading-line: var(--ilo-color-yellow);
    --ilo-loading-loading-pointer: var(--ilo-color-yellow);

    --ilo-loading-loaded-circle: var(--ilo-color-blue-dark);
    --ilo-loading-loaded-cirlce-inner: var(--ilo-color-yellow);
    --ilo-loading-loaded-check: var(--ilo-color-blue-dark);
  }

  &__size__small {
    --ilo-loading-size: #{px-to-rem(36px)};
  }

  &__loading {
    animation: spin 1.5s linear infinite;
  }

  &__loaded {
    animation: none;
  }
}
