@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--logo-grid {
  $c: &;
  --grid-gap: #{px-to-rem(16px)};

  &--logos {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap);

    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);

      &:has(> :nth-child(3)) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &--link {
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;

    #{$c}__theme__light &,
    #{$c}__theme__dark & {
      &:hover {
        background-color: map-get($color, "ux", "background", "hover");
      }
    }
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: px-to-rem(134px);
    padding: 0 12px;

    grid-column: span 1;

    #{$c}__theme__light & {
      background-color: map-get($color, "ux", "background", "highlight");
    }

    #{$c}__theme__dark & {
      background-color: map-get($color, "ux", "background", "default");
    }

    img {
      width: 100%;
      height: auto;
      max-width: px-to-rem(180px);
      max-height: px-to-rem(106px);
      object-fit: contain;
    }
  }
}
