.ilo--logo {
  display: flex;

  &--visibility--hidden {
    visibility: hidden;
  }

  &--size--fluid {
    width: 100%;
    height: auto;
  }

  &--theme {
    &--light {
      --logo-theme-color: var(--ilo-color-blue);
    }

    &--dark {
      --logo-theme-color: var(--ilo-color-white);
    }
  }

  &--link {
    all: unset;
    cursor: pointer;
  }

  &--image {
    height: 100%;
    width: 100%;
  }

  &--sub-brand {
    --lockup-height: calc(var(--logo-image-height) * 0.703);
    --lockup-bottom-offset: calc(var(--lockup-height) * 0.05);

    color: var(--logo-theme-color);
    font-size: var(--logo-font-size);
    line-height: var(--logo-font-size);
    font-family: var(--ilo-fonts-display);
    font-weight: 700;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    &--image {
      height: 100%;
      width: 60%;
    }

    &--lock-up {
      position: relative;
      display: flex;
      height: var(--lockup-height);
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 40%;
      bottom: var(--lockup-bottom-offset);

      &--separator {
        padding: 0 calc(var(--logo-image-height) * 0.25);
        height: 100%;
        display: inline-block;
        line-height: 0px;
        overflow-y: hidden;

        &::before {
          content: "";
          position: relative;
          display: inline-block;
          height: 100%;
          border-right: calc(var(--logo-image-height) * 0.033) solid
            var(--logo-theme-color);
          width: 0;
        }
      }
    }
  }
}
