@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--header {
  $self: &;
  overflow: hidden;
  position: relative;
  z-index: 4;

  &.ilo--mobile--open {
    height: 100vh;
  }

  @include breakpoint("large") {
    overflow: visible;
  }

  &--nav {
    background: $brand-ilo-dark-blue;
  }

  &--menu {
    @include dataurlicon("burger", $brand-ilo-white);
    align-self: center;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    border: none;
    cursor: pointer;
    height: 32px;
    overflow: hidden;
    position: relative;
    text-indent: -999%;
    transition: all 150ms ease-out;
    width: 32px;

    &:hover,
    &:focus {
      @include dataurlicon("burger", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
    }

    @include breakpoint("large") {
      display: none;
    }

    &--close {
      @include dataurlicon("close", $brand-ilo-dark-blue);
      background-color: $brand-ilo-grey-light;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
      border: none;
      cursor: pointer;
      height: 32px;
      overflow: hidden;
      position: relative;
      text-indent: -999%;
      transition: all 150ms ease-out;
      width: 32px;

      &:hover,
      &:focus {
        @include dataurlicon("close", $brand-ilo-blue);
        background-color: $brand-ilo-light-blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px;
      }

      @include breakpoint("large") {
        display: none;
      }
    }
  }

  &--logo {
    display: block;
    max-width: 150px;

    @include breakpoint("large") {
      max-width: 200px;
    }

    &-link {
      display: block;
      padding: 16px 0;

      @include breakpoint("large") {
        padding: 0 0 24px;
      }
    }
  }

  &--logo-bar {
    background: $brand-ilo-blue;
    display: flex;
    width: 100%;

    .ilo--header--inner {
      display: flex;
      justify-content: space-between;
    }

    @include breakpoint("large") {
      background: $brand-ilo-blue;
    }
  }

  &--utility-bar {
    display: none;

    &--local {
      background: $brand-ilo-blue;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      .ilo--language-switcher {
        display: none;

        &--link {
          @include dataurlicon("arrowleft", $brand-ilo-white);
          @include font-styles("language-switcher");
          appearance: none;
          background-color: inherit;
          background-position: 16px 50%;
          background-repeat: no-repeat;
          background-size: 16px;
          border: none;
          color: $brand-ilo-white;
          cursor: pointer;
          font-family: $fonts-display;
          font-weight: 500;
          padding: 16px 16px 16px 36px;
          text-decoration: none;
          transition: all 150ms ease-out;
          width: 100%;

          &:focus,
          &:hover {
            @include dataurlicon("arrowleft", $brand-ilo-blue);
            background-color: $brand-ilo-light-blue;
            color: $brand-ilo-blue;
          }

          .right-to-left & {
            @include dataurlicon("arrowright", $brand-ilo-white);
            background-position: calc(100% - 16px) 50%;
            padding: 16px 36px 16px 16px;

            &:focus,
            &:hover {
              @include dataurlicon("arrowright", $brand-ilo-blue);
              background-color: $brand-ilo-light-blue;
              color: $brand-ilo-blue;
            }
          }

          &--wrap {
            align-items: center;
            display: flex;
          }
        }

        @include breakpoint("large") {
          display: flex;
        }
      }

      @include breakpoint("large") {
        padding: 0;
      }
    }

    @include breakpoint("large") {
      background: $brand-ilo-blue;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      &--local {
        justify-content: space-between;
      }

      .right-to-left & {
        flex-direction: row-reverse;
      }
    }
  }

  &--inner {
    margin: auto;
    max-width: 1300px;
    padding: 0 16px;
    width: 100%;

    .right-to-left & {
      direction: rtl;
    }

    @include breakpoint("large") {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  &--navigation {
    background: $brand-ilo-white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 225ms ease-out;
    width: 100%;

    .ilo--header.ilo--mobile--open & {
      transform: translateX(0);
    }

    .ilo--header--local & {
      @include breakpoint("large") {
        display: none;
      }
    }

    @include breakpoint("large") {
      background: $brand-ilo-dark-blue;
      position: static;
      transform: none;
    }
  }

  &--logo-tagline {
    @include font-styles("headline-6");
    color: $brand-ilo-white;
    display: none;
    font-family: $fonts-display;
    font-weight: 700;
    padding: 16px 0;
    text-align: right;

    .right-to-left & {
      text-align: left;
    }

    @include breakpoint("large") {
      display: block;
    }

    &--small {
      @include font-styles("tagline");
      color: $brand-ilo-ramp-blue;
      display: block;
      font-weight: 500;
    }
  }
}

.ilo--nav {
  width: 100%;

  @include breakpoint("large") {
    width: auto;
  }

  &--label:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &--set {
    width: 100%;

    @include breakpoint("large") {
      display: flex;
      width: auto;
    }
  }

  &--items {
    @include font-styles("nav-md");
    font-family: $fonts-display;
    font-weight: 500;

    @include breakpoint("large") {
      display: flex;
      align-items: center;

      &:first-of-type {
        margin-left: -20px;
      }
    }
  }

  &--link {
    color: $brand-ilo-dark-blue;
    display: block;
    padding: 16px 36px 16px 8px;
    text-decoration: none;
    transition: color 150ms ease-out, background 150ms ease-out;

    &:hover,
    &:focus {
      background: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
      text-decoration: none;
    }

    @include breakpoint("large") {
      background: $brand-ilo-dark-blue;
      color: $brand-ilo-white;
      display: inline-block;
      padding: 21.5px 24px 20.5px;

      &:hover,
      &:focus {
        background: $brand-ilo-light-blue;
        color: $brand-ilo-blue;
        text-decoration: none;
      }
    }
  }

  &--trigger {
    @include dataurlicon("arrowright", $brand-ilo-dark-blue);
    @include font-styles("nav-md");

    appearance: none;
    background-color: $brand-ilo-white;
    background-position: calc(100% - 16px) 55%;
    background-repeat: no-repeat;
    background-size: 16px;
    border: none;
    color: $brand-ilo-dark-blue;
    cursor: pointer;
    display: block;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 16px 36px 16px 8px;
    text-align: left;
    transition: all 150ms ease-out;
    width: 100%;

    &:focus,
    &:hover {
      @include dataurlicon("arrowright", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
    }

    .right-to-left & {
      @include dataurlicon("arrowleft", $brand-ilo-dark-blue);
      background-color: $brand-ilo-white;
      background-position: 16px 55%;
      background-repeat: no-repeat;
      background-size: 16px;
      text-align: right;

      &:focus,
      &:hover {
        @include dataurlicon("arrowleft", $brand-ilo-blue);
        background-color: $brand-ilo-light-blue;
        color: $brand-ilo-blue;
      }
    }

    @include breakpoint("large") {
      @include dataurlicon("add", $brand-ilo-white);
      @include font-styles("nav-bold-b-sm");

      background-color: $brand-ilo-dark-blue;
      background-position: 90% 55%;
      background-repeat: no-repeat;
      background-size: 20px;
      border: 1.5px solid rgba($brand-ilo-grey-ui, 0.5);
      border-radius: 2px;
      color: $brand-ilo-white;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-left: 20px;
      padding: 7px 32px 5px 15px;
      text-align: center;
      transition: all 150ms ease-out;
      width: auto;

      &:focus,
      &:hover {
        @include dataurlicon("add", $brand-ilo-blue);
        background-color: $brand-ilo-white;
        border-color: $brand-ilo-white;
        color: $brand-ilo-blue;
      }

      .right-to-left & {
        @include dataurlicon("add", $brand-ilo-white);
        background-color: $brand-ilo-dark-blue;
        background-position: 90% 55%;
        background-repeat: no-repeat;
        background-size: 20px;
        text-align: left;

        &:focus,
        &:hover {
          @include dataurlicon("add", $brand-ilo-blue);
          background-color: $brand-ilo-white;
          color: $brand-ilo-blue;
        }
      }
    }
  }

  &--local {
    display: flex;
    justify-content: space-between;

    .right-to-left & {
      direction: rtl;

      @include breakpoint("large") {
        padding: 0 max((100% - 1260px) / 2, 20px) 0 0;
      }
    }

    @include breakpoint("large") {
      padding: 0 0 0 max((100% - 1260px) / 2, 20px);
    }

    &--logo-wrapper {
      display: flex;
      padding: 16px 0;

      @include breakpoint("large") {
        padding: 0;
      }
    }

    &--logo-link {
      display: flex;
      align-items: center;
    }

    &--set {
      display: none;

      @include breakpoint("large") {
        display: flex;
        justify-content: space-between;
      }
    }

    &--item {
      @include font-styles("nav-md");
      color: $brand-ilo-white;
      font-family: $fonts-display;
      font-weight: 500;
    }

    &--link {
      background: $brand-ilo-blue;
      color: $brand-ilo-white;
      display: flex;
      padding: 13px 24px;
      text-decoration: none;
      transition: all 150ms ease-out;

      &:hover,
      &:focus {
        background: $brand-ilo-light-blue;
        color: $brand-ilo-blue;
      }
    }
  }
}

.ilo--mobile--nav {
  border-bottom: 3px solid $brand-ilo-grey-light;
  margin-bottom: 16px;
  padding-bottom: 16px;

  &--logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &--language--select {
    background: $brand-ilo-white;
    left: 0;
    height: 100%;
    padding: 0 0 px-to-rem(32px);
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: transform 225ms ease-out;
    width: 100%;

    .ilo--select--open & {
      transform: translateX(0);
    }
  }

  &--language--switcher--button {
    @include dataurlicon("global", $brand-ilo-dark-blue);
    @include font-styles("nav-md");

    appearance: none;
    background-color: $brand-ilo-white;
    background-position: calc(100% - 16px) 55%;
    background-repeat: no-repeat;
    background-size: 16px;
    border: none;
    color: $brand-ilo-dark-blue;
    cursor: pointer;
    display: block;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 16px 36px 16px 8px;
    text-align: left;
    transition: all 150ms ease-out;
    width: 100%;

    &:focus,
    &:hover {
      @include dataurlicon("global", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
    }

    .right-to-left & {
      background-position: 16px 55%;
      text-align: right;
    }
  }

  &--search {
    .ilo--searchfield {
      width: 100%;
    }

    .ilo--fieldset {
      width: 100%;
    }
  }

  @include breakpoint("large") {
    display: none;
  }
}

.ilo--language-switcher {
  background: $brand-ilo-dark-blue;
  display: flex;
  padding: 0 max((100% - 1300px) / 2, 20px) 0 0;
  position: relative;

  .right-to-left & {
    padding: 0 0 0 max((100% - 1300px) / 2, 20px);
  }

  &::before {
    background: $brand-ilo-dark-blue;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    content: "";
    display: block;
    height: 100%;
    left: -32px;
    position: absolute;
    top: 0;
    width: 32px;

    .right-to-left & {
      clip-path: polygon(0 0, 0 100%, 100% 0);
      left: auto;
      right: -32px;
    }
  }

  &--wrap {
    display: flex;
    position: relative;
  }

  &--button {
    @include font-styles("image-credit");
    @include dataurlicon("global", $brand-ilo-white);
    appearance: none;
    background-color: $brand-ilo-dark-blue;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 16px 16px;
    border: none;
    color: $brand-ilo-white;
    cursor: pointer;
    display: block;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 8px 30px 8px 40px;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      @include dataurlicon("global", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
    }
  }

  .ilo--context-menu {
    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    transition: opacity 150ms ease-out;
    z-index: -1;

    .ilo--context--open & {
      opacity: 1;
      z-index: 1;
    }
  }
}

.ilo--subnav {
  background: $brand-ilo-white;
  height: 100%;
  left: 0;
  padding: 0 0 32px;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform 225ms ease-out;
  width: 100%;

  .ilo--subnav--open & {
    transform: translateX(0);
  }

  .right-to-left & {
    direction: rtl;
  }

  @include breakpoint("large") {
    filter: drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.038))
      drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.054))
      drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08));
    height: auto;
    left: 0;
    padding: 32px 0;
    top: auto;
    transform: translateY(-100%);
    transition: transform 225ms ease-out;
    z-index: -1;

    .ilo--header.ilo--subnav--open & {
      transform: translateY(0);
    }
  }

  &--inner {
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
    width: 100%;

    @include breakpoint("large") {
      display: flex;
      justify-content: space-between;
    }
  }

  &--set {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    @include breakpoint("large") {
      grid-auto-flow: column;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &--link {
    @include font-styles("nav-md");
    background: $brand-ilo-white;
    color: $brand-ilo-dark-blue;
    display: flex;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 18px 8px;
    text-decoration: none;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      background: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
      text-decoration: none;
    }
  }
}

.ilo--mobile--subnav {
  @include breakpoint("large") {
    display: none;
  }

  &--menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--back {
    @include font-styles("nav-md");
    background-color: $brand-ilo-white;
    border: none;
    color: $brand-ilo-dark-blue;
    cursor: pointer;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 16px 16px 16px 32px;
    position: relative;
    transition: all 150ms ease-out;

    &::before {
      @include dataurlicon("arrowleft", $brand-ilo-dark-blue);
      background-position: 10% center;
      background-repeat: no-repeat;
      background-size: 24px;
      content: "";
      display: block;
      height: 24px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
    }

    .right-to-left & {
      padding: 16px 32px 16px 16px;

      &::before {
        @include dataurlicon("arrowright", $brand-ilo-dark-blue);
        background-position: 10% center;
        background-repeat: no-repeat;
        background-size: 24px;
        left: auto;
        right: 0;
      }
    }

    &:hover,
    &:focus {
      background-color: $brand-ilo-light-blue;
      color: $brand-ilo-blue;

      &::before {
        @include dataurlicon("arrowleft", $brand-ilo-blue);
        background-position: 10% center;
        background-repeat: no-repeat;
        background-size: 24px;
      }

      .right-to-left & {
        &::before {
          @include dataurlicon("arrowright", $brand-ilo-blue);
          background-position: 10% center;
          background-repeat: no-repeat;
          background-size: 24px;
        }
      }
    }

    @include breakpoint("large") {
      display: none;
    }
  }

  &--label {
    @include font-styles("headline-6");
    border-bottom: 3px solid $brand-ilo-grey-light;
    color: $brand-ilo-grey-charcoal;
    font-family: $fonts-display;
    font-weight: 700;
    margin-bottom: 16px;
    padding: 20px 8px;
    width: 100%;
  }
}

.ilo--search-box {
  background: $brand-ilo-white;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform 225ms ease-out;
  width: 100%;

  .ilo--search--open & {
    transform: translateX(0);
  }

  @include breakpoint("large") {
    filter: drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.038))
      drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.054))
      drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08));
    left: 0;
    padding: 32px 0;
    top: auto;
    transform: translateY(-100%);
    transition: transform 225ms ease-out;
    z-index: -1;

    .ilo--header.ilo--search--open & {
      transform: translateY(0);
    }
  }

  .ilo--header--inner {
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
  }

  .ilo--searchfield {
    max-width: 618px;
    width: 100%;
  }

  .ilo--fieldset {
    width: 100%;
  }
}

.ilo--search {
  display: none;

  @include breakpoint("large") {
    display: flex;
  }

  &--button {
    @include dataurlicon("search", $brand-ilo-white);
    appearance: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-indent: -999%;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      @include dataurlicon("search", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
    }

    .ilo--search--open & {
      @include dataurlicon("close", $brand-ilo-dark-blue);
      background-color: $brand-ilo-white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px 32px;

      &:hover,
      &:focus {
        @include dataurlicon("close", $brand-ilo-blue);
        background-color: $brand-ilo-light-blue;
      }
    }
  }
}
