@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--header {
  $self: &;

  &--nav {
    background: $brand-ilo-dark-blue;
  }

  &--logo-bar {
    background: $brand-ilo-blue;
    display: flex;
    width: 100%;
  }

  &--utility-bar {
    background: $brand-ilo-blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--inner {
    display: flex;
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
    width: 100%;

    @include breakpoint("large") {
      justify-content: space-between;
    }
  }

  &--navigation {
    background: $brand-ilo-dark-blue;
  }

  &--logo-tagline {
    @include font-styles("headline-6");
    color: $brand-ilo-white;
    font-family: $fonts-display;
    font-weight: 700;
    padding: 20px 0;
    text-align: right;

    &--small {
      @include font-styles("tagline");
      display: block;
      font-weight: 500;
    }
  }
}

.ilo--nav {
  &--label:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &--set {
    display: flex;
  }

  &--items {
    @include font-styles("nav-md");
    align-items: center;
    display: flex;
    font-family: $fonts-display;
    font-weight: 500;

    &:first-of-type {
      margin-left: -20px;
    }
  }

  &--link {
    background: $brand-ilo-dark-blue;
    color: $brand-ilo-white;
    display: inline-block;
    padding: 21.5px 24px 20.5px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $brand-ilo-white;
      color: $brand-ilo-blue;
      text-decoration: none;
    }
  }

  &--trigger {
    @include font-styles("nav-bold-b-sm");
    @include dataurlicon("add", $brand-ilo-white);

    appearance: none;
    background-color: $brand-ilo-dark-blue;
    background-position: 90% 55%;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1.5px solid rgba($brand-ilo-grey-ui, 0.5);
    border-radius: 2px;
    color: $brand-ilo-white;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-left: 20px;
    padding: 7px 32px 5px 15px;
    transition: all 150ms ease-out;

    &:focus,
    &:hover {
      @include dataurlicon("add", $brand-ilo-blue);
      background-color: $brand-ilo-white;
      border-color: $brand-ilo-white;
      color: $brand-ilo-blue;
    }
  }
}

.ilo--language-switcher {
  background: $brand-ilo-dark-blue;
  padding: 0 max((100% - 1300px) / 2, 20px) 0 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent $brand-ilo-dark-blue transparent transparent;
    height: 0;
    left: -32px;
    position: absolute;
    top: 0;
    width: 0;
  }

  &--button {
    @include font-styles("image-credit");
    @include dataurlicon("global", $brand-ilo-white);
    appearance: none;
    background-color: $brand-ilo-dark-blue;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 16px 16px;
    border: none;
    color: $brand-ilo-white;
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: 8px 30px 8px 40px;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      @include dataurlicon("global", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
    }
  }
}

.ilo--subnav {
  background: $brand-ilo-white;
  padding: 32px 0;
  width: 100%;

  &--set {
    display: grid;
    grid-auto-flow: column;
    width: 100%;

    @include breakpoint("large") {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &--link {
    @include font-styles("nav-md");
    background: $brand-ilo-white;
    color: $brand-ilo-dark-blue;
    display: flex;
    font-family: $fonts-display;
    font-weight: 500;
    padding: 18px 8px;
    text-decoration: none;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      background: $brand-ilo-light-blue;
      color: $brand-ilo-blue;
      text-decoration: none;
    }
  }
}

.ilo--search-box {
  background: $brand-ilo-white;
}

.ilo--search {
  display: flex;

  &--button {
    @include dataurlicon("search", $brand-ilo-white);
    appearance: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21.5px 21.5px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-indent: -999%;
    transition: all 150ms ease-out;

    &:hover,
    &:focus {
      @include dataurlicon("search", $brand-ilo-blue);
      background-color: $brand-ilo-light-blue;
    }
  }
}
