@use "../functions" as *;
@import "../mixins";
@import "../animations";

$notification-types: (
  "error": (
    background: var(--ilo-color-notification-type-error),
    icon: "notification_error",
  ),
  "info": (
    background: var(--ilo-color-notification-type-info),
    icon: "notification_info",
  ),
  "success": (
    background: var(--ilo-color-notification-type-success),
    icon: "notification_success",
  ),
  "warning": (
    background: var(--ilo-color-notification-type-warning),
    icon: "notification_warning",
  ),
);

.ilo--notification {
  background-color: var(--ilo-color-white);
  box-shadow:
    0px 0.8px 1.6px rgba(30, 45, 190, 0.038),
    0px 4px 8px rgba(30, 45, 190, 0.054),
    0px 10px 20px rgba(30, 45, 190, 0.08),
    0px -4px 16px rgba(30, 45, 190, 0.054);
  border-radius: px-to-rem(2px);
  color: var(--ilo-color-gray-charcoal);
  position: relative;

  &--dialog {
    max-width: px-to-rem(340px);
    width: 100%;

    @include breakpoint("md") {
      max-width: px-to-rem(490px);
    }

    .ilo--notification--content {
      padding: spacing(6);
    }
  }

  &--inline {
    max-width: px-to-rem(340px);

    .ilo--notification--content {
      padding: spacing(6);
    }

    @include breakpoint("md") {
      max-width: 100%;

      .ilo--notification--content {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        padding: spacing(4) spacing(16) spacing(4) spacing(6);

        &:after {
          top: px-to-rem(18px);
        }
      }

      .ilo--notification--headline {
        margin-bottom: 0;
      }

      .ilo--notification--copy {
        margin-inline-start: spacing(6);
        margin-bottom: 0;

        &:not(:last-child) {
          flex-grow: 1;
        }
      }

      .ilo--notification--date {
        padding-inline: spacing(6);
        margin: 0;
      }

      .ilo--notification--cta {
        margin-left: spacing(6);
        bottom: px-to-rem(1px);
      }
    }
  }

  &--content {
    margin-left: spacing(10);
    position: relative;
    width: calc(100% - px-to-rem(40px));

    &:before {
      content: "";
      display: block;
      height: 100%;
      left: px-to-rem(-40px);
      position: absolute;
      width: px-to-rem(40px);
      top: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: px-to-rem(22px);
      left: px-to-rem(-32px);
      width: px-to-rem(24px);
      height: px-to-rem(24px);
    }

    @each $type, $config in $notification-types {
      .icon--#{$type} & {
        &:before {
          background-color: map-get($config, background);
        }

        &:after {
          @include icon(map-get($config, icon), var(--ilo-color-white));
        }
      }
    }
  }

  &--headline {
    font-weight: 700;
    @include typography("highlight-medium-bold");

    margin-bottom: spacing(3);
  }

  &--copy {
    font-weight: 400;
    @include typography("body-small");
    margin-bottom: spacing(4);
  }

  &--date {
    color: var(--ilo-color-gray-accessible);
    display: block;
    font-weight: 400;
    @include typography("body-small");

    &:not(:last-child) {
      margin-bottom: spacing(4);
    }
  }

  &--cta {
    position: relative;
  }

  &--close {
    background-color: var(--ilo-color-background-highlight);
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
