@use "../functions" as *;
@import "../mixins";
@import "../animations";

.ilo--notification {
  background-color: var(--ilo-color-white);
  box-shadow:
    0px 0.8px 1.6px rgba(30, 45, 190, 0.038),
    0px 4px 8px rgba(30, 45, 190, 0.054),
    0px 10px 20px rgba(30, 45, 190, 0.08),
    0px -4px 16px rgba(30, 45, 190, 0.054);
  border-radius: 2px;
  color: var(--ilo-color-gray-charcoal);
  position: relative;

  &--dialog {
    max-width: 340px;
    width: 100%;

    @include breakpoint("md") {
      max-width: 490px;
    }

    .ilo--notification--content {
      padding: spacing(6);
    }
  }

  &--inline {
    max-width: 340px;

    .ilo--notification--content {
      padding: spacing(6);
    }

    @include breakpoint("md") {
      max-width: 100%;

      .ilo--notification--content {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: spacing(4) spacing(16) spacing(4) spacing(6);
      }
    }
  }

  &--content {
    margin-left: spacing(10);
    position: relative;
    width: calc(100% - 40px);

    &:before {
      background-position: center px-to-rem(22px);
      background-repeat: no-repeat;
      background-size: px-to-rem(24px);
      content: "";
      display: block;
      height: 100%;
      left: -40px;
      position: absolute;
      width: px-to-rem(40px);
      top: 0;

      @include breakpoint("md") {
        .ilo--notification--inline & {
          background-position: center;
        }
      }

      .icon--error & {
        background-color: var(--ilo-color-notification-type-error);
        @include dataurlicon("notification_error", rgba(255, 255, 255, 1));
      }

      .icon--info & {
        background-color: var(--ilo-color-notification-type-info);
        @include dataurlicon("notification_info", rgba(255, 255, 255, 1));
      }

      .icon--success & {
        background-color: var(--ilo-color-notification-type-success);
        @include dataurlicon("notification_success", rgba(255, 255, 255, 1));
      }

      .icon--warning & {
        background-color: var(--ilo-color-notification-type-warning);
        @include dataurlicon("notification_warning", rgba(255, 255, 255, 1));
      }
    }
  }

  &--headline {
    font-weight: 700;
    @include typography("highlight-medium-bold");

    margin-bottom: spacing(3);

    @include breakpoint("md") {
      .ilo--notification--inline & {
        margin-bottom: 0;
      }
    }
  }

  &--copy {
    font-weight: 400;
    @include typography("body-small");

    @include breakpoint("md") {
      .ilo--notification--inline & {
        margin-left: spacing(6);
      }
    }

    &:not(:last-child) {
      @include breakpoint("md") {
        .ilo--notification--inline & {
          flex-grow: 1;
        }
      }
    }
  }

  &--date {
    color: var(--ilo-color-gray-accessible);
    display: block;
    font-weight: 400;
    @include typography("body-small");

    @include breakpoint("md") {
      .ilo--notification--inline & {
        margin-left: spacing(4);
      }
    }

    &:not(:last-child) {
      margin-bottom: spacing(5);
    }

    @include breakpoint("md") {
      .ilo--notification--inline & {
        margin-bottom: 0;
      }
    }
  }

  &--cta {
    @include breakpoint("md") {
      .ilo--notification--inline & {
        margin-left: spacing(6);
      }
    }
  }

  &--close {
    background-color: var(--ilo-color-background-highlight);
    background-position: center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px);
    border: none;
    height: px-to-rem(40px);
    position: absolute;
    right: 0;
    top: 0;
    width: px-to-rem(40px);
    @include dataurlicon("close", rgba(35, 0, 80, 1));

    &:hover,
    &:focus {
      background-color: var(--ilo-color-background-hover);
      cursor: pointer;
      @include dataurlicon("close", rgba(210, 213, 242, 1));
    }

    span {
      @include isVisuallyHidden();
    }
  }
}
