@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";
@import "../animations";

.ilo--notification {
  background-color: $color-ux-notification-background;
  box-shadow: 0px 0.8px 1.6px rgba(30, 45, 190, 0.038),
    0px 4px 8px rgba(30, 45, 190, 0.054), 0px 10px 20px rgba(30, 45, 190, 0.08),
    0px -4px 16px rgba(30, 45, 190, 0.054);
  border-radius: 2px;
  color: $color-ux-notification-text;
  position: relative;

  &--dialog {
    max-width: 340px;
    width: 100%;

    @include breakpoint("medium") {
      max-width: 490px;
    }

    .ilo--notification--content {
      padding: calc(px-to-rem($spacing-padding-3) + 2px)
        px-to-rem($spacing-padding-3);
    }
  }

  &--inline {
    width: 100%;

    .ilo--notification--content {
      align-items: center;
      display: flex;
      justify-items: space-between;
      padding: px-to-rem(18px) px-to-rem($spacing-padding-3);
    }
  }

  &--content {
    margin-left: px-to-rem($spacing-padding-5);
    position: relative;
    width: calc(100% - 40px);

    &:before {
      background-position: center $spacing-padding-3;
      background-repeat: no-repeat;
      background-size: px-to-rem($spacing-padding-2);
      content: "";
      display: block;
      height: 100%;
      left: -40px;
      position: absolute;
      width: px-to-rem($spacing-padding-5);
      top: 0;

      .ilo--notification--inline & {
        background-position: center;
      }

      .icon--error & {
        background-color: $color-ux-notification-type-error;
        @include dataurlicon("error", $color-ux-notification-icon);
      }

      .icon--info & {
        background-color: $color-ux-notification-type-info;
        @include dataurlicon("info", $color-ux-notification-icon);
      }

      .icon--success & {
        background-color: $color-ux-notification-type-success;
        @include dataurlicon("success", $color-ux-notification-icon);
      }

      .icon--warning & {
        background-color: $color-ux-notification-type-warning;
        @include dataurlicon("warning", $color-ux-notification-icon);
      }
    }
  }

  &--headline {
    font-weight: 700;
    @include font-styles("body-small");

    .ilo--notification--dialog & {
      margin-bottom: px-to-rem($spacing-padding-1-5);
    }
  }

  &--copy {
    font-weight: 400;
    @include font-styles("body-xs");

    .ilo--notification--inline & {
      margin-left: px-to-rem($spacing-padding-3);
    }

    &:not(:last-child) {
      .ilo--notification--dialog & {
        margin-bottom: px-to-rem($spacing-padding-3);
      }

      .ilo--notification--inline & {
        max-width: 40%;
      }
    }
  }

  &--date {
    color: $color-base-neutrals-medium;
    display: block;
    font-weight: 400;
    @include font-styles("body-xs");

    .ilo--notification--inline & {
      margin-left: px-to-rem($spacing-padding-2);
    }

    &:not(:last-child) {
      .ilo--notification--dialog & {
        margin-bottom: px-to-rem(19px);
      }
    }
  }

  &--cta {
    .ilo--notification--inline & {
      margin-left: px-to-rem($spacing-padding-3);
    }
  }

  &--close {
    background-color: $color-ux-background-highlight;
    background-position: center;
    background-repeat: no-repeat;
    background-size: px-to-rem($spacing-padding-3);
    border: none;
    height: px-to-rem($spacing-padding-5);
    position: absolute;
    right: 0;
    top: 0;
    width: px-to-rem($spacing-padding-5);
    @include dataurlicon("close", $color-ux-labels-actionable);

    &:hover,
    &:focus {
      background-color: $color-ux-background-hover;
      cursor: pointer;
      @include dataurlicon("close", $color-ux-labels-hover);
    }

    span {
      @include isVisuallyHidden();
    }
  }
}
