@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--pagination {
  --ilo-pagination-page-color: var(--ilo-color-blue-dark);

  &__theme {
    &__dark {
      --ilo-pagination-page-color: var(--ilo-color-white);
    }

    &__light {
      --ilo-pagination-page-color: var(--ilo-color-blue-dark);
    }
  }

  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(10);
  margin-top: spacing(10);
  $self: &;

  &--link {
    background: var(--ilo-color-gray-light);
    border: none;
    border-radius: 2px;
    color: var(--ilo-color-blue-dark);
    display: inline-block;
    font-family: var(--ilo-fonts-display);
    height: px-to-rem(40px);
    overflow: hidden;
    position: relative;
    text-indent: -999%;
    width: px-to-rem(40px);
    @include font-styles("label-medium");

    &::before {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      left: 50%;
      height: px-to-rem(20px);
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      width: px-to-rem(20px);
    }

    &:hover {
      background: var(--ilo-color-blue-lighter);
      color: var(--ilo-color-blue);
    }

    &.ilo--pagination--disable {
      opacity: 0.45;
      cursor: unset;
      pointer-events: none;

      &:hover {
        background: var(--ilo-color-gray-light);
      }
    }
  }

  &--first-page {
    margin: 0 spacing (2) 0 0;
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);

      @include icon("double_chevron_right", var(--ilo-color-blue-dark));
    }

    &:hover {
      &::before {
        @include icon("double_chevron_right", var(--ilo-color-blue));
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: var(--ilo-color-gray-light);

        &::before {
          @include icon("double_chevron_right", var(--ilo-color-blue-dark));
        }
      }
    }
  }

  &--prev-page {
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
      width: px-to-rem(20px);

      @include icon("chevron_right", var(--ilo-color-blue-dark));
    }

    &:hover {
      &::before {
        @include icon("chevron_right", var(--ilo-color-blue));
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: var(--ilo-color-gray-light);

        &::before {
          @include icon("chevron_right", var(--ilo-color-blue-dark));
        }
      }
    }
  }

  &--next-page {
    &::before {
      transform: translate(-50%, -50%) rotate(0);
      width: px-to-rem(20px);

      @include icon("chevron_right", var(--ilo-color-blue-dark));
    }

    &:hover {
      &::before {
        @include icon("chevron_right", var(--ilo-color-blue));
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: var(--ilo-color-gray-light);

        &::before {
          @include icon("chevron_right", var(--ilo-color-blue-dark));
        }
      }
    }
  }

  &--last-page {
    &::before {
      @include icon("double_chevron_right", var(--ilo-color-blue-dark));
    }

    &:hover {
      &::before {
        @include icon("double_chevron_right", var(--ilo-color-blue));
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: var(--ilo-color-gray-light);

        &::before {
          @include icon("chevron_right", var(--ilo-color-blue-dark));
        }
      }
    }
  }

  &--page {
    display: flex;
    gap: spacing(1);
    @include typography("highlight-small");
    margin-inline-end: spacing(2);
    font-family: var(--ilo-fonts-copy);
    color: var(--ilo-pagination-page-color);
    font-weight: 400;
    line-height: 45px;

    [dir="rtl"] & {
      margin-inline-end: 0;
      margin-inline-start: spacing(2);
    }
  }

  &--previous-set,
  .ilo--next-set {
    display: flex;
    justify-content: flex-start;
  }
}
