@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(10);
  margin-top: spacing(10);
  $self: &;

  &--link {
    background: map-get($color, "ux", "pagination", "default", "background");
    border: none;
    border-radius: 2px;
    color: map-get($color, "ux", "pagination", "default", "icon");
    display: inline-block;
    font-family: var(--ilo-fonts-display);
    height: px-to-rem(40px);
    overflow: hidden;
    position: relative;
    text-indent: -999%;
    width: px-to-rem(40px);
    @include font-styles("label-medium");

    &::before {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      left: 50%;
      height: px-to-rem(16px);
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      width: px-to-rem(16px);
    }

    &:hover {
      background: map-get($color, "ux", "pagination", "hover", "background");
      color: map-get($color, "ux", "pagination", "hover", "icon");
    }

    &.ilo--pagination--disable {
      opacity: 0.45;
      cursor: unset;

      &:hover {
        background: map-get(
          $color,
          "ux",
          "pagination",
          "default",
          "background"
        );
      }
    }
  }

  &--first-page {
    margin: 0 spacing (2) 0 0;
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);

      @include dataurlicon(
        "arrowgotoright",
        map-get($color, "ux", "pagination", "default", "icon")
      );
    }

    &:hover {
      &::before {
        @include dataurlicon(
          "arrowgotoright",
          map-get($color, "ux", "pagination", "hover", "icon")
        );
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: map-get(
          $color,
          "ux",
          "pagination",
          "default",
          "background"
        );

        &::before {
          @include dataurlicon(
            "arrowgotoright",
            map-get($color, "ux", "pagination", "default", "icon")
          );
        }
      }
    }
  }

  &--prev-page {
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
      width: px-to-rem(10px);

      @include dataurlicon(
        "caret_right",
        map-get($color, "ux", "pagination", "default", "icon")
      );
    }

    &:hover {
      &::before {
        @include dataurlicon(
          "caret_right",
          map-get($color, "ux", "pagination", "hover", "icon")
        );
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: map-get(
          $color,
          "ux",
          "pagination",
          "default",
          "background"
        );

        &::before {
          @include dataurlicon(
            "caret_right",
            map-get($color, "ux", "pagination", "default", "icon")
          );
        }
      }
    }
  }

  &--next-page {
    &::before {
      transform: translate(-50%, -50%) rotate(0);
      width: px-to-rem(10px);

      @include dataurlicon(
        "caret_right",
        map-get($color, "ux", "pagination", "default", "icon")
      );
    }

    &:hover {
      &::before {
        @include dataurlicon(
          "caret_right",
          map-get($color, "ux", "pagination", "hover", "icon")
        );
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: map-get(
          $color,
          "ux",
          "pagination",
          "default",
          "background"
        );

        &::before {
          @include dataurlicon(
            "caret_right",
            map-get($color, "ux", "pagination", "default", "icon")
          );
        }
      }
    }
  }

  &--last-page {
    &::before {
      @include dataurlicon(
        "arrowgotoright",
        map-get($color, "ux", "pagination", "default", "icon")
      );
    }

    &:hover {
      &::before {
        @include dataurlicon(
          "arrowgotoright",
          map-get($color, "ux", "pagination", "hover", "icon")
        );
      }
    }

    &.ilo--pagination--disable {
      opacity: 0.45;

      &:hover {
        background: map-get(
          $color,
          "ux",
          "pagination",
          "default",
          "background"
        );

        &::before {
          @include dataurlicon(
            "caret_right",
            map-get($color, "ux", "pagination", "default", "icon")
          );
        }
      }
    }
  }

  &--page {
    display: flex;
    gap: spacing(1);
    @include font-styles("nav-md-sm");
    margin-inline-end: spacing(2);
    font-family: var(--ilo-fonts-copy);
    font-weight: 400;
    line-height: 45px;

    [dir="rtl"] & {
      margin-inline-end: 0;
      margin-inline-start: spacing(2);
    }
  }

  &--previous-set,
  .ilo--next-set {
    display: flex;
    justify-content: flex-start;
  }
}
