@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &--wrapper__type__promo {
    --max-width: 100%;

    &__size {
      &__narrow {
        @include breakpoint("md") {
          --max-width: #{px-to-rem(343px)};
        }
      }

      &__standard {
        --max-width: #{px-to-rem(634px)};
      }

      &__wide {
        --max-width: #{px-to-rem(920px)};
      }

      &__fluid {
        --max-width: 100%;
      }
    }
  }

  &__type {
    &__promo {
      padding: spacing(10) spacing(6);
      width: 100%;

      #{$self}--skeleton--eyebrow {
        @include skeleton-element(12px, 60px);
      }

      #{$self}--skeleton--title-1 {
        @include skeleton-element(24px, 80%);
        margin-top: spacing(4);
      }

      #{$self}--skeleton--title-2 {
        @include skeleton-element(24px, 90%);
        margin-top: spacing(2);
      }

      #{$self}--skeleton--intro-1 {
        @include skeleton-element(14px, 78%);
        margin-top: spacing(4);
      }
      #{$self}--skeleton--intro-2 {
        @include skeleton-element(14px, 70%);
        margin-top: spacing(2);
      }

      #{$self}--skeleton--intro-3 {
        @include skeleton-element(14px, 78%);
        margin-top: spacing(2);
      }

      #{$self}--title {
        @include typography("heading-3");
        margin-bottom: spacing(2);
      }

      #{$self}--intro {
        @include typography("body-medium");
        margin-bottom: spacing(8);
      }

      &#{$self}__cornercut {
        @include cornercut(72px, 40px);

        [dir="rtl"] & {
          @include cornercut(72px, 40px left);
        }
      }

      &#{$self}__size {
        @include breakpoint("md") {
          &__standard,
          &__wide,
          &__fluid {
            padding: spacing(12);

            #{$self}--title {
              @include typography("heading-2");
              margin-bottom: spacing(3);
            }

            #{$self}--intro {
              @include typography("body-large");
            }

            &#{$self}__cornercut {
              @include cornercut(87px, 48px);

              [dir="rtl"] & {
                @include cornercut(87px, 48px, left);
              }
            }
          }
        }

        @include breakpoint("lg") {
          &__wide,
          &__fluid {
            padding: spacing(16) spacing(18);
            &#{$self}__cornercut {
              @include cornercut(116px, 64px);

              [dir="rtl"] & {
                @include cornercut(116px, 64px, left);
              }
            }
          }
        }
      }

      &#{$self}__theme__light:not(:hover) #{$self}--title {
        color: var(--ilo-color-gray-charcoal);
        @include globaltransition("color");
      }
    }
  }
}
