@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--profile {
  $c: &;

  $row-1-lg: #{px-to-rem(64px)};
  $row-1-sm: #{px-to-rem(48px)};

  --row-1-height: #{$row-1-lg};

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(minmax(var(--row-1-height), auto));
  max-width: px-to-rem(343px);
  width: 100%;
  row-gap: spacing(5);
  column-gap: spacing(4);

  &--avatar {
    grid-row: 1;
    border-radius: 50%;
    height: var(--row-1-height);
    width: var(--row-1-height);
  }

  figcaption {
    display: flex;
    flex-flow: column;
    justify-content: center;
    grid-row: 1;
    grid-column-end: -1;
  }

  &--figcaption--content {
    width: 100%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 100%;
      border-bottom: 2px solid var(--ilo-color-gray-light);
    }

    #{$c}__size__small &::after {
      content: none;
    }
  }

  &--name {
    @include typography("highlight-medium-bold");
  }

  &--role,
  &--description {
    @include typography("body-small");
    color: var(--ilo-color-gray-accessible);
  }

  &--description {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  &--link {
    $link: &;

    $icon: "[class*='icon']";

    @include typography("highlight-medium");
    color: var(--ilo-color-dark-blue);
    grid-column: 1 / -1;

    a {
      display: inline-flex;
      text-decoration: none;
      flex-flow: row nowrap;
      align-items: center;
      gap: spacing(2);
      @include globaltransition("color");

      &:hover,
      &:focus,
      &:focus-within {
        color: var(--ilo-color-blue);
      }
    }

    #{$icon} {
      position: relative;
      bottom: px-to-rem(1px);

      [dir="rtl"] & {
        transform: rotate(180deg);
      }
    }

    &--label {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  &__size {
    &__small {
      --row-1-height: #{$row-1-sm};
      column-gap: spacing(3);

      #{$c}--name {
        @include typography("highlight-small-bold");
      }
    }

    &__large {
      --row-1-height: #{$row-1-lg};
    }
  }

  &__theme {
    &__dark {
      color: var(--ilo-color-white);

      #{$c}--figcaption--content {
        &:after {
          border-color: var(--ilo-color-white);
        }
      }

      #{$c}--name,
      #{$c}--role,
      #{$c}--description,
      #{$c}--link,
      a {
        color: var(--ilo-color-white);
      }
    }
  }
}
