@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &--wrapper__type__promo {
    --max-width: #{px-to-rem(634px)};

    &__size {
      &__narrow {
        --max-width: #{px-to-rem(343px)};

        @include breakpoint("medium", true) {
          --max-width: 100%;
        }
      }

      &__standard {
        --max-width: #{px-to-rem(634px)};
      }

      &__wide {
        --max-width: #{px-to-rem(920px)};
      }

      &__fluid {
        --max-width: 100%;
      }
    }
  }

  &__type {
    &__promo {
      // --max-width: #{px-to-rem(343px)};

      padding: spacing(10) spacing(6);
      width: 100%;

      @include breakpoint("medium") {
        padding: spacing(12);
      }

      @include breakpoint("large") {
        padding: spacing(16) spacing(18);
      }

      #{$self}--title {
        margin-bottom: spacing(3);
      }

      &#{$self}__size {
        &__standard {
          padding: spacing(12);

          &#{$self}__cornercut {
            @include cornercut(87px, 48px);

            [dir="rtl"] & {
              @include cornercut(87px, 48px, left);
            }
          }
        }

        &__wide,
        &__fluid {
          padding: spacing(16) spacing(18);

          &#{$self}__cornercut {
            @include cornercut(116px, 64px);

            [dir="rtl"] & {
              @include cornercut(116px, 64px, left);
            }
          }
        }

        &__narrow {
          padding: spacing(10) spacing(6);

          &#{$self}__cornercut {
            @include cornercut(72px, 40px);

            [dir="rtl"] & {
              @include cornercut(72px, 40px left);
            }
          }

          #{$self}--title {
            @include font-styles("headline-4");
            margin-bottom: spacing(2);

            @include breakpoint("medium") {
              @include font-styles("headline-3");
            }
          }

          #{$self}--intro {
            @include font-styles("body-small");
          }
        }
      }

      &#{$self}__theme__light:not(:hover) #{$self}--title {
        color: $brand-ilo-black;
        @include globaltransition("color");
      }

      #{$self}--title {
        @include font-styles("headline-4");

        @include breakpoint("medium") {
          @include font-styles("headline-3");
        }
      }

      #{$self}--intro {
        @include font-styles("body-small");
        margin-bottom: spacing(8);

        @include breakpoint("medium") {
          @include font-styles("base");
        }
      }
    }
  }
}
