@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

$row-1-lg: 64px;
$avatar-size-lg: $row-1-lg;

.ilo--profile {
  $c: &;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: minmax($row-1-lg, auto) auto;
  max-width: px-to-rem(343px);
  width: 100%;

  &--avatar {
    grid-row: 1;
    border-radius: 50%;
  }

  figcaption {
    box-sizing: border-box;
    grid-row: 1;
    grid-column-end: -1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
  }

  &--figcaption--content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 100%;
      border-bottom: 2px solid $color-base-neutrals-lighter;
    }
  }

  &--name {
    font-family: $fonts-display;
  }

  &--role {
    font-family: $fonts-copy;
  }

  &--description {
    font-family: $fonts-copy;
    grid-row: 2;
    grid-column: 1 / -1;
  }

  &--link {
    $link: &;

    font-family: $fonts-display;
    grid-column: 1 / -1;

    a {
      text-decoration: none;
      color: map-get($color, "link", "text", "default");
      display: inline-block;
    }

    &--label {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:after {
        position: relative;
        bottom: px-to-rem(1px);
        height: px-to-rem(24px);
        width: px-to-rem(24px);
        margin-inline-start: px-to-rem(8px);
        content: "";
        @include dataurlicon("arrowright", $color-link-text-default);

        [dir="rtl"] & {
          @include dataurlicon("arrowleft", $color-link-text-default);
        }
      }
    }

    a:hover,
    a:focus {
      #{$link}--label {
        color: map-get($color, "link", "text", "hover");
        outline: none;

        &:after {
          @include dataurlicon("arrowright", $color-link-text-hover);

          [dir="rtl"] & {
            @include dataurlicon("arrowleft", $color-link-text-hover);
          }
        }
      }
    }
  }

  &__theme {
    &__dark {
      color: $color-base-neutrals-lighter;

      #{$c}--link {
        &--label {
          &:after {
            @include dataurlicon("arrowright", $color-base-neutrals-lighter);

            [dir="rtl"] & {
              @include dataurlicon("arrowleft", $color-base-neutrals-lighter);
            }
          }
        }

        a {
          color: $color-base-neutrals-lighter;
        }

        a:hover,
        a:focus {
          #{$c}--link--label {
            color: $brand-ilo-turquoise;
            outline: none;

            &:after {
              @include dataurlicon("arrowright", $brand-ilo-turquoise);

              [dir="rtl"] & {
                @include dataurlicon("arrowleft", $brand-ilo-turquoise);
              }
            }
          }
        }
      }
    }
  }

  &__size {
    &__large {
      #{$c}--avatar {
        width: px-to-rem($avatar-size-lg);
        height: px-to-rem($avatar-size-lg);
        margin-inline-end: px-to-rem(15px);
      }

      #{$c}--name {
        font-weight: map-get($type, "weights", "label");
        @include font-styles("body-small");
      }

      #{$c}--role {
        @include font-styles("body-xs");
      }

      #{$c}--description {
        @include font-styles("body-xs");
        padding-block-start: px-to-rem(21px);
      }

      #{$c}--link {
        @include font-styles("body-small");
        padding-block-start: px-to-rem(21px);
      }
    }
  }
}
