@use "../functions" as *;
@import "../mixins";

.ilo--radio {
  border: none;
  display: grid;
  height: px-to-rem(24px);
  margin: 0;
  position: relative;
  place-content: center;
  width: px-to-rem(24px);
  cursor: pointer;

  input {
    appearance: none;
    width: px-to-rem(24px);
    height: px-to-rem(24px);
    border-radius: 50%;
    cursor: pointer;
  }

  &--control:before {
    content: "";
    background-color: var(--ilo-color-gray-base);
    border: px-to-rem(4px) solid var(--ilo-color-gray-base);
    border-radius: 50%;
    height: px-to-rem(18px);
    left: px-to-rem(3px);
    position: absolute;
    top: px-to-rem(3px);
    width: px-to-rem(18px);
    z-index: 1;
    pointer-events: none;
  }

  &--control:after {
    content: "";
    background-color: var(--ilo-color-gray-base);
    border-radius: 50%;
    height: px-to-rem(24px);
    left: 0;
    position: absolute;
    top: 0;
    width: px-to-rem(24px);
    z-index: 0;
    pointer-events: none;
  }

  input:checked + &--control:before {
    background-color: var(--ilo-color-blue-lighter);
    border-color: var(--ilo-color-blue-dark);
  }

  input:checked + &--control:after {
    background-color: var(--ilo-color-blue-dark);
  }

  input:focus + &--control:after {
    background-color: var(--ilo-color-yellow);
  }

  input:disabled + &--control:after,
  input:disabled + &--control:before {
    opacity: 0.45;
  }

  input:invalid + &--control:after,
  &__error &--control:after {
    background-color: var(--ilo-color-red);
  }
}
