@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--radio {
  border: none;
  display: grid;
  height: px-to-rem(24px);
  margin: 0;
  position: relative;
  place-content: center;
  width: px-to-rem(24px);
  cursor: pointer;

  &:before {
    content: "";
    background-color: $color-base-neutrals-light;
    border: px-to-rem(4px) solid $color-base-neutrals-light;
    border-radius: 50%;
    height: px-to-rem(18px);
    left: px-to-rem(3px);
    position: absolute;
    top: px-to-rem(3px);
    width: px-to-rem(18px);
    z-index: 1;
    pointer-events: none;
  }

  &:after {
    content: "";
    background-color: $color-base-neutrals-light;
    border-radius: 50%;
    height: px-to-rem(24px);
    left: 0;
    position: absolute;
    top: 0;
    width: px-to-rem(24px);
    z-index: 0;
    pointer-events: none;
  }

  &:checked {
    &:before {
      background-color: $color-base-blue-light;
      border-color: $color-base-blue-dark;
    }

    &:after {
      background-color: $color-base-blue-dark;
    }
  }

  &:focus {
    &:after {
      background-color: $color-base-yellow;
    }
    outline: none;
  }

  &:disabled {
    opacity: 45%;
    pointer-events: none;
  }

  &:invalid,
  &__error {
    &:after {
      background-color: $color-base-red-medium;
    }

    &:checked {
      &:before {
        border-color: $color-base-blue-dark;
      }
    }
  }
}
