@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--read-more {
  &--button {
    background: map-get($color, "ux", "readmore", "default", "background");
    border: none;
    border-top: solid $borders-base $color-base-blue-light;
    color: $color-ux-labels-actionable;
    font-family: var(--ilo-fonts-display);
    height: px-to-rem(56px);
    margin-top: spacing(8);
    padding: spacing(4) spacing(7) spacing(4) spacing(0);
    position: relative;
    text-align: left;
    width: auto;
    @include font-styles("label-medium");

    &:after {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: px-to-rem(24px);
      position: absolute;
      right: px-to-rem(2px);
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center center;
      width: px-to-rem(24px);
      @include dataurlicon("arrow", $color-ux-labels-actionable);
    }

    &:hover {
      background: map-get($color, "ux", "readmore", "hover", "background");
      border-top: solid $borders-base $color-base-blue-medium;
      color: $color-ux-labels-hover;
      cursor: pointer;
      @include globaltransition("color, background-color, border-color");

      &:after {
        @include dataurlicon("arrow", $color-ux-labels-hover);
      }
    }

    &--open {
      &:after {
        transform: translateY(-50%) rotateX(180deg);
        transform-origin: center center;
      }
    }
  }
}
