@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--read-more {
  &--button {
    background: transparent;
    border: none;
    border-top: var(--ilo-border-md) solid var(--ilo-color-blue-lighter);
    color: var(--ilo-color-blue-dark);
    font-family: var(--ilo-fonts-display);
    height: px-to-rem(56px);
    margin-top: spacing(8);
    padding: spacing(4) spacing(7) spacing(4) spacing(0);
    position: relative;
    text-align: left;
    width: auto;
    @include typography("highlight-medium");

    &:after {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: px-to-rem(24px);
      position: absolute;
      right: px-to-rem(2px);
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center center;
      width: px-to-rem(24px);
      @include icon("chevron_down", var(--ilo-color-blue-dark));
    }

    &:hover {
      background: var(--ilo-color-blue-lighter);
      border-top: var(--ilo-border-md) solid var(--ilo-color-blue);
      color: var(--ilo-color-blue);
      cursor: pointer;
      @include globaltransition("color, background-color, border-color");

      &:after {
        @include icon("chevron_down", var(--ilo-color-blue));
      }
    }

    &--open {
      &:after {
        transform: translateY(-50%) rotateX(180deg);
        transform-origin: center center;
      }
    }
  }
}
