@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--richtext {
  font-family: $fonts-copy;
  font-weight: 400;
  @include font-styles("body-small");

  a {
    @include linkstyles();
    border: none;
    text-decoration: underline;

    &:visited {
      border: none;
      text-decoration: underline;
      text-decoration-color: map-get($color, "link", "underline", "visited");
    }

    &:hover {
      border: none;
      text-decoration: underline;
      text-decoration-color: map-get($color, "link", "underline", "hover");
    }

    &:active {
      border: none;
      text-decoration: underline;
      text-decoration-color: map-get($color, "link", "underline", "active");
    }

    &:focus {
      border: none;
      text-decoration: underline;
      text-decoration-color: map-get($color, "link", "underline", "focus");
    }
  }

  img {
    width: 100%;
  }

  p {
    margin-bottom: px-to-rem(map-get($spacing, "padding-3"));
  }

  p + figure,
  p + img,
  p + blockquote,
  ul + img,
  ol + img,
  dl + img,
  p + hr,
  ul + hr,
  ol + hr,
  dl + hr,
  blockquote + hr {
    @include textmargin(
      "margin-top",
      map-get($spacing, "padding-7"),
      "body-small",
      "copy",
      0,
      0
    );
  }

  figure {
    width: 100%;
    margin-bottom: px-to-rem(map-get($spacing, "padding-7"));
  }

  figcaption {
    border-left: 3px solid #b8c4cc;
    color: $color-font-caption;
    font-weight: 400;
    margin-top: px-to-rem(map-get($spacing, "padding-2"));
    padding-left: px-to-rem(map-get($spacing, "padding-1"));
    @include font-styles("image-caption");
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: 700;
  }

  hr {
    background-color: $color-ux-horizontal-rule-default;
    border: none;
    height: px-to-rem(map-get($spacing, "horizontal-rule"));
    margin-bottom: px-to-rem(map-get($spacing, "padding-7"));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fonts-display;
    font-weight: 700;
    margin-top: px-to-rem(map-get($spacing, "padding-7"));
  }

  h1 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-4"),
      "headline-2",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-2");
  }

  h2 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-4"),
      "headline-3",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-3");
  }

  h3 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-3"),
      "headline-4",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-4");
  }

  h4 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-3"),
      "headline-5",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-5");
  }

  h5 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-3"),
      "headline-6",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-6");
  }

  h6 {
    @include textmargin(
      "margin-bottom",
      map-get($spacing, "padding-3"),
      "headline-6",
      "display",
      "body-small",
      "copy"
    );
    @include font-styles("headline-6");
  }

  ul,
  ol {
    li {
      &::before {
        content: "";
        display: inline-block;
        height: px-to-rem(14px);
        left: px-to-rem(-12px);
        position: absolute;
        top: 6px;
        width: px-to-rem(12px);
        @include dataurlicon("listarrow", $color-base-neutrals-light);
      }
      margin-bottom: px-to-rem(map-get($spacing, "padding-4"));
      margin-left: px-to-rem(12px);
      padding-left: px-to-rem(12px);
      position: relative;
    }
    margin-bottom: px-to-rem(map-get($spacing, "padding-4"));
  }

  blockquote {
    background-color: $color-ux-background-highlight;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: px-to-rem(72px) px-to-rem(40px);
    display: block;
    margin: px-to-rem(map-get($spacing, "padding-3")) 0
      px-to-rem(map-get($spacing, "padding-5")) 0;
    padding: px-to-rem(54px) 0 px-to-rem(34px)
      px-to-rem(map-get($spacing, "padding-4"));
    position: relative;
    width: 100%;
    @include dataurlicon("triangle", $color-ux-background-default);

    p {
      color: $color-font-blockquote;
      font-weight: 300;
      margin-bottom: px-to-rem(map-get($spacing, "padding-3"));
      padding: 0 px-to-rem(map-get($spacing, "padding-6")) 0 0;
      position: relative;
      @include font-styles("pull-quote-sm");

      &:after {
        background-repeat: no-repeat;
        bottom: 0;
        content: "";
        display: inline-block;
        height: px-to-rem(20px);
        position: absolute;
        right: 0;
        transform: scaleX(-1);
        width: px-to-rem(26.5px);
        @include dataurlicon("quote", $color-font-blockquote);
      }
    }

    cite {
      color: $color-font-cite;
      font-weight: 400;
      @include font-styles("pull-quote-cite");
    }

    &:before {
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: px-to-rem(40px);
      left: 0;
      position: absolute;
      width: px-to-rem(53px);
      top: 0;
      @include dataurlicon("quote", $color-font-blockquote);
    }
  }

  @include breakpoint("medium") {
    @include font-styles("base");

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: px-to-rem(map-get($spacing, "padding-8"));
    }

    h1 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-5"),
        "headline-1",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-1");
    }

    h2 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-5"),
        "headline-2",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-2");
    }

    h3 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-4"),
        "headline-3",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-3");
    }

    h4 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-4"),
        "headline-4",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-4");
    }

    h5 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-4"),
        "headline-5",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-5");
    }

    h6 {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-4"),
        "headline-5",
        "display",
        "body-large",
        "copy"
      );
      @include font-styles("headline-5");
    }

    p {
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-3"),
        "body-large",
        "copy",
        "body-large",
        "copy"
      );
    }

    p + figure,
    p + img,
    p + blockquote,
    ul + img,
    ol + img,
    dl + img,
    p + hr,
    ul + hr,
    ol + hr,
    dl + hr,
    blockquote + hr {
      @include textmargin(
        "margin-top",
        map-get($spacing, "padding-8"),
        "body-large",
        "copy",
        0,
        0
      );
    }

    hr {
      margin-bottom: px-to-rem(map-get($spacing, "padding-8"));
    }

    figure {
      width: 100%;
      @include textmargin(
        "margin-bottom",
        map-get($spacing, "padding-8"),
        "body-large",
        "copy",
        0,
        0
      );
    }

    blockquote {
      background-size: px-to-rem(86px) px-to-rem(48px);
      margin: px-to-rem(map-get($spacing, "padding-4")) 0
        px-to-rem(map-get($spacing, "padding-8")) 0;
      padding: px-to-rem(62px) 0 px-to-rem(map-get($spacing, "padding-6"))
        px-to-rem(map-get($spacing, "padding-6"));

      p {
        margin-bottom: px-to-rem(map-get($spacing, "padding-3"));
        padding: 0 px-to-rem(map-get($spacing, "padding-6")) 0 0;
        position: relative;
        @include font-styles("pull-quote-lg");

        &:after {
          height: px-to-rem(24px);
          width: px-to-rem(32px);
        }
      }

      &:before {
        height: px-to-rem(48px);
        width: px-to-rem(64px);
      }
    }
  }

  .right-to-left & {
    direction: rtl;

    figcaption {
      border-left: none;
      border-right: 3px solid #b8c4cc;
      padding-left: 0;
      padding-right: px-to-rem(map-get($spacing, "padding-1"));
    }

    ul,
    ol {
      li {
        &::before {
          left: auto;
          right: px-to-rem(-12px);
          @include dataurlicon("listarrowreverse");
        }
        margin-left: 0;
        margin-right: px-to-rem(12px);
        padding-left: 0;
        padding-right: px-to-rem(12px);
      }
    }

    blockquote {
      background-position: -1px -1px;
      padding: px-to-rem(54px) px-to-rem(map-get($spacing, "padding-4"))
        px-to-rem(34px) 0;
      @include dataurlicon("trianglereverse", $color-ux-background-default);

      p {
        padding: 0 0 0 px-to-rem(map-get($spacing, "padding-6"));

        &:after {
          left: 0;
          right: auto;
          transform: scaleX(1);
        }
      }

      &:before {
        left: auto;
        right: 0;
        transform: scaleX(-1);
      }

      @include breakpoint("medium") {
        padding: px-to-rem(62px) px-to-rem(map-get($spacing, "padding-6"))
          px-to-rem(map-get($spacing, "padding-6")) 0;
      }
    }
  }
}
