@use "../tokens" as *;
@use "../functions" as *;
@import "./blockquote";
@import "../mixins";

.ilo--richtext {
  & > * {
    margin-top: spacing(4);
    margin-bottom: spacing(4);

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
    margin-top: spacing(14);
  }

  blockquote,
  video,
  audio,
  iframe,
  figure,
  hr,
  pre {
    margin-top: spacing(14);
    margin-bottom: spacing(14);
  }

  h1 {
    @include font-styles("rich-text-heading-1-md");
  }

  h2 {
    @include font-styles("rich-text-heading-2-md");
  }

  h3 {
    @include font-styles("rich-text-heading-3-md");
  }

  h4 {
    @include font-styles("rich-text-heading-4-md");
  }

  h5 {
    @include font-styles("rich-text-heading-5-md");
  }

  // Italic and bold styles
  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: 700;
  }

  // Link styles
  a {
    @include linkstyles();
    background: none;

    &:hover {
      background: none;
    }
  }

  // Image styles
  img {
    width: 100%;
  }

  // Figure styles
  figure {
    width: 100%;
  }

  // Figcaption styles
  figcaption {
    border-left: 3px solid #b8c4cc;
    color: $color-font-caption;
    font-weight: 400;
    margin-top: spacing(4);
    padding-left: spacing(2);
    @include font-styles("image-caption");
  }

  // Horizontal rule (hr) styles
  hr {
    background-color: var(--ilo-color-borders-default);
    border: none;
    height: px-to-rem(4px);
  }

  // Blockquote styles
  @include blockquote;

  // List styles (invincible list)
  @include invincible-list;

  // Responsive styles for medium breakpoint
  @include breakpoint("md") {
    & > * {
      margin-top: spacing(6);
      margin-bottom: spacing(6);

      &:first-child {
        margin-top: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 700;
      margin-top: spacing(16);
    }

    blockquote,
    video,
    audio,
    iframe,
    figure,
    hr,
    pre {
      margin-top: spacing(16);
      margin-bottom: spacing(16);
    }

    h1 {
      @include font-styles("rich-text-heading-1");
    }

    h2 {
      @include font-styles("rich-text-heading-2");
    }

    h3 {
      @include font-styles("rich-text-heading-3");
    }

    h4 {
      @include font-styles("rich-text-heading-4");
    }

    h5 {
      @include font-styles("rich-text-heading-5");
    }

    figure {
      width: 100%;
    }
  }

  // RTL (Right-to-left) support
  [dir="rtl"] & {
    figcaption {
      border-left: none;
      border-right: 3px solid #b8c4cc;
      padding-left: 0;
      padding-right: spacing(2);
    }
  }
}
