@use "../tokens" as *;
@use "../functions" as *;
@import "./blockquote";
@import "../mixins";

.ilo--richtext {
  & > * {
    margin-top: spacing(4);
    margin-bottom: spacing(4);

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: var(--ilo-font-weight-bold);
    margin-top: spacing(14);
  }

  blockquote,
  video,
  audio,
  figure,
  hr,
  article,
  pre {
    margin-top: spacing(14);
    margin-bottom: spacing(14);
  }

  h1 {
    font-size: var(--ilo-font-size-4xlg);
    line-height: var(--ilo-line-height-sm);
    letter-spacing: var(--ilo-letter-spacing-xsm);
  }

  h2 {
    font-size: var(--ilo-font-size-xlg);
    line-height: var(--ilo-line-height-md);
    letter-spacing: var(--ilo-letter-spacing-xsm);
  }

  h3 {
    font-size: var(--ilo-font-size-lg);
    line-height: var(--ilo-line-height-lg);
    letter-spacing: var(--ilo-letter-spacing-sm);
  }

  h4,
  h5,
  h6 {
    font-size: var(--ilo-font-size-md);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-sm);
  }

  p {
    font-weight: var(--ilo-font-weight-regular);
    font-size: var(--ilo-font-size-md);
    line-height: var(--ilo-line-height-2xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
  }

  // Italic and bold styles
  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: 700;
  }

  // Link styles
  a {
    @include linkstyles();
    background: none;

    &:hover {
      background: none;
    }
  }

  // Image styles
  img {
    width: 100%;
  }

  // Figure styles
  figure {
    width: 100%;
  }

  // Figcaption styles
  figcaption {
    border-left: var(--ilo-border-lg) solid var(--ilo-color-borders-default);
    color: var(--ilo-color-gray-accessible);
    font-weight: var(--ilo-font-weight-regular);
    margin-top: spacing(4);
    padding-left: spacing(2);
    @include font-styles("image-caption");
  }

  // Horizontal rule (hr) styles
  hr {
    background-color: var(--ilo-color-gray-light);
    border: none;
    height: px-to-rem(3px);
  }

  .responsive-video-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .responsive-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Optional: to remove iframe border */
  }

  // Blockquote styles
  @include blockquote;

  // List styles (invincible list)
  @include invincible-list;

  // Responsive styles for medium breakpoint
  @include breakpoint("md") {
    & > * {
      margin-top: spacing(6);
      margin-bottom: spacing(6);

      &:first-child {
        margin-top: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: spacing(16);
    }

    blockquote,
    video,
    audio,
    figure,
    article,
    hr,
    pre {
      margin-top: spacing(16);
      margin-bottom: spacing(16);
    }

    h1 {
      font-size: var(--ilo-font-size-5xlg);
      line-height: var(--ilo-line-height-xsm);
      letter-spacing: var(--ilo-letter-spacing-xsm);
    }

    h2 {
      font-size: var(--ilo-font-size-3xlg);
    }

    h3 {
      font-size: var(--ilo-font-size-xlg);
      line-height: var(--ilo-line-height-md);
      letter-spacing: var(--ilo-letter-spacing-xsm);
    }

    h4,
    h5,
    h6 {
      font-size: var(--ilo-font-size-lg);
      line-height: var(--ilo-line-height-lg);
    }

    p {
      font-size: var(--ilo-font-size-lg);
    }

    figure {
      width: 100%;
    }
  }

  // RTL (Right-to-left) support
  [dir="rtl"] & {
    figcaption {
      border-left: none;
      border-right: var(--ilo-border-lg) solid var(--ilo-color-borders-default);
      padding-left: 0;
      padding-right: spacing(2);
    }
  }
}
