@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__score {
      --max-width: #{px-to-rem(412px)};
      border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-base);
      display: flex;
      margin-top: 0;
      position: relative;
      @include globaltransition("border-bottom");

      // Hover & Focus Styles
      &:hover,
      &:focus,
      &:focus-within {
        background-color: var(--ilo-color-white);
        border-bottom: px-to-rem(3px) solid var(--ilo-color-blue);
        @include card-drop-shadow;

        #{$self}--image--wrapper {
          &::before {
            opacity: 0.4;
          }
        }

        #{$self}--picture {
          filter: saturate(0);
        }
      }

      &#{$self}__theme__dark {
        border-bottom: px-to-rem(3px) solid var(--ilo-color-red);

        #{$self}--content--item {
          color: var(--ilo-color-white);
        }

        &:hover,
        &:focus,
        &:focus-within {
          background-color: var(--ilo-color-blue-dark);
        }
      }

      // Image wrapper
      #{$self}--image--wrapper {
        background-color: var(--ilo-color-blue-lighter);
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        margin-bottom: var(--standard-spacing);

        &::before {
          content: "";
          position: absolute;
          background-color: var(--ilo-color-blue);
          height: 100%;
          width: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          opacity: 0;
          @include globaltransition("opacity");
        }
      }

      picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 100%;
      }

      // Content Layout
      #{$self}--wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      #{$self}--content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: spacing(6) spacing(6) spacing(8) spacing(6);
        gap: spacing(6);
      }

      #{$self}--title {
        @include font-styles("headline-5");
        font-family: var(--ilo-fonts-display);
        font-weight: 700;
      }

      #{$self}--eyebrow {
        @include font-styles("body-eyebrow");
        margin: 0;
      }

      #{$self}--area {
        &--content {
          display: flex;
          flex-flow: column;
          gap: spacing(2);
        }

        &--cta {
          display: flex;
          flex-flow: row nowrap;
          gap: spacing(2);
        }
      }

      #{$self}--content--item {
        // Body small
        font-weight: var(--ilo-font-weight-regular);
        color: var(--ilo-color-gray-accessible);
        font-size: var(--ilo-font-size-sm);
        line-height: var(--ilo-line-height-xlg);
        letter-spacing: var(--ilo-letter-spacing-md);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: spacing(2);
      }

      // Sizing Modifiers
      &#{$self}__size {
        &__narrow {
          #{$self}--wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
          }

          #{$self}--content,
          #{$self}--image--wrapper {
            width: 100%;
          }
        }

        &__wide,
        &__fluid {
          --max-width: #{px-to-rem(754px)};

          @include breakpoint("md") {
            #{$self}--wrap {
              flex-direction: row;
            }

            #{$self}--content {
              width: 50%;
            }

            #{$self}--image--wrapper {
              padding: 0;
              height: initial;
              width: 50%;
            }

            picture {
              height: 100%;
            }

            #{$self}--picture {
              object-fit: cover;
              max-width: initial;
              height: 100%;
              width: 100%;
            }

            #{$self}--date,
            #{$self}--eyebrow,
            #{$self}--title {
              width: 100%;
            }

            #{$self}--date {
              align-self: flex-end;
            }
          }
        }

        &__simple {
          --max-width: #{px-to-rem(754px)};

          #{$self}--content {
            padding: spacing(3) spacing(4);
            display: grid;
            grid-template-columns: min-content 1fr 1fr;
            grid-template-rows: 1fr auto;
            gap: spacing(4);
            grid-template-areas:
              "title title cta"
              "status content content";

            .ilo--status {
              grid-area: status;
            }

            #{$self}--title {
              grid-area: title;
              font-size: var(--ilo-font-size-lg);
              line-height: var(--ilo-line-height-lg);
              letter-spacing: var(--ilo-letter-spacing-sm);
            }

            #{$self}--area--content {
              grid-area: content;
              flex-flow: row wrap;
            }

            #{$self}--area--cta {
              grid-area: cta;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
