@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__score {
      --max-width: #{px-to-rem(412px)};

      display: flex;
      margin-top: 0;
      position: relative;

      // Content Layout
      #{$self}--wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      #{$self}--content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: spacing(6) spacing(6) spacing(8) spacing(6);
        width: 100%;
      }

      #{$self}--image--wrapper {
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;
        width: 100%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .ilo--status {
        margin-bottom: spacing(6);
      }

      #{$self}--eyebrow {
        margin-bottom: spacing(4);
      }

      #{$self}--title {
        @include typography("heading-3");
        margin-bottom: spacing(6);

        #{$self}__theme__dark & {
          color: var(--ilo-color-blue-dark);
        }

        #{$self}__theme__light & {
          color: var(--ilo-color-white);
        }
      }

      #{$self}--area {
        &--content {
          display: flex;
          flex-flow: column;
          gap: spacing(2);
          margin-bottom: spacing(6);
        }

        &--cta {
          display: flex;
          flex: 1 1 auto;
          align-items: flex-end;
          flex-flow: row wrap;
          gap: spacing(2);
        }
      }

      #{$self}--content--item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: spacing(2);

        .ilo--icon {
          flex: 0 0 20px;
        }
      }

      &#{$self}__size {
        // narrow is the default

        &__wide,
        &__fluid {
          --max-width: #{px-to-rem(754px)};

          @include breakpoint("md") {
            #{$self}--wrap {
              flex-direction: row;
            }

            #{$self}--content {
              width: 50%;
            }

            #{$self}--image--wrapper {
              padding: 0;
              height: initial;
              width: 50%;
            }

            img {
              object-fit: cover;
              max-width: initial;
              height: 100%;
              width: 100%;
            }

            #{$self}--date,
            #{$self}--eyebrow,
            #{$self}--title {
              width: 100%;
            }

            #{$self}--date {
              align-self: flex-end;
            }
          }
        }

        &__simple {
          --max-width: #{px-to-rem(754px)};

          #{$self}--content {
            padding: spacing(3) spacing(4);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: spacing(4);
            grid-template-areas:
              "title"
              "cta"
              "status"
              "content";

            @include breakpoint("md") {
              grid-template-columns: min-content 1fr 1fr;
              grid-template-areas:
                "title title cta"
                "status content content";
            }

            .ilo--status {
              grid-area: status;
              margin-bottom: 0;
            }

            #{$self}--title {
              grid-area: title;
              @include typography("heading-4");
              margin-bottom: 0;
              align-self: center;
            }

            #{$self}--area--content {
              grid-area: content;
              flex-flow: row wrap;
              margin-bottom: 0;
              align-items: center;
            }

            #{$self}--area--cta {
              grid-area: cta;

              @include breakpoint("md") {
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }
  }
}
