@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--searchfield {
  display: flex;

  .ilo--fieldset {
    width: 100%;
  }

  &--button {
    background-color: map-get(
      $color,
      "formelements",
      "inputbutton",
      "default",
      "background"
    );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px) px-to-rem(24px);
    @include bordervalues("inputbutton", "formelements");
    height: px-to-rem(48px);
    width: px-to-rem(46px);
    text-indent: -9999px;
    @include dataurlicon(
      "search",
      $color-formelements-inputbutton-default-color
    );

    &:focus {
      background-color: map-get(
        $color,
        "formelements",
        "inputbutton",
        "hover",
        "background"
      );
      cursor: pointer;
      @include dataurlicon(
        "search",
        $color-formelements-inputbutton-hover-color
      );
    }

    &:active {
      background-color: map-get(
        $color,
        "formelements",
        "inputbutton",
        "active",
        "background"
      );
      @include dataurlicon(
        "search",
        $color-formelements-inputbutton-active-color
      );
    }

    .haslabel & {
      margin-top: spacing(7);
    }

    &:disabled {
      opacity: 0.45;
      pointer-events: none;
    }
  }

  [dir="rtl"] & {
    .ilo--searchfield--button {
      border-left: px-to-rem(2px) solid
        $color-formelements-inputbutton-default-border-left;
      border-right: 0 solid $color-formelements-inputbutton-default-border-right;
    }
  }
}
