@use "../functions" as *;
@import "../mixins";

.ilo--searchfield {
  display: flex;

  .ilo--fieldset {
    position: relative;
    width: 100%;
  }

  .ilo--input {
    padding-inline-end: spacing(14);
  }

  &--button {
    border-right: var(--ilo-border-md) solid var(--ilo-color-gray-base);
    border-top: var(--ilo-border-md) solid var(--ilo-color-gray-base);
    border-bottom: var(--ilo-border-md) solid var(--ilo-color-gray-base);
    background-color: var(--ilo-color-gray-light);
    border-left: 0;
    height: 100%;
    width: px-to-rem(48px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:after {
      content: "";
      position: relative;
      display: inline-block;
      height: px-to-rem(24px);
      width: px-to-rem(24px);
      @include icon("search", var(--ilo-color-blue-dark));
    }

    &:hover,
    &:focus {
      background-color: var(--ilo-color-blue-lighter);
    }

    &:active {
      background-color: var(--ilo-color-blue);
      &:after {
        @include icon("search", var(--ilo-color-white));
      }
    }

    .haslabel & {
      margin-top: spacing(7);
    }

    &:disabled {
      opacity: 0.45;
      pointer-events: none;
    }
  }

  &--clear-button {
    display: none;
    align-items: center;
    cursor: pointer;

    &.show {
      display: inline;
      position: absolute;
      top: 12px;
      right: 2%;
    }
  }

  // Remove the default clear button in search
  [type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  [dir="rtl"] & {
    .ilo--searchfield {
      &--button {
        border-left: px-to-rem(2px) solid var(--ilo-color-gray-base);
        border-right: 0;
      }
      &--clear-button {
        &.show {
          right: 95%;
        }
      }
    }
  }
}
