@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--searchfield {
  display: flex;

  .ilo--fieldset {
    width: 100%;
  }

  &--button {
    background-color: map-get(
      $color,
      "formelements",
      "inputbutton",
      "default",
      "background"
    );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $spacing-padding-3 $spacing-padding-3;
    @include bordervalues("inputbutton", "formelements");
    height: $spacing-padding-6;
    width: calc($spacing-padding-6 - 2px);
    text-indent: -9999px;
    @include dataurlicon(
      "search",
      $color-formelements-inputbutton-default-color
    );

    &:focus {
      background-color: map-get(
        $color,
        "formelements",
        "inputbutton",
        "hover",
        "background"
      );
      cursor: pointer;
      @include dataurlicon(
        "search",
        $color-formelements-inputbutton-hover-color
      );
    }

    &:active {
      background-color: map-get(
        $color,
        "formelements",
        "inputbutton",
        "active",
        "background"
      );
      @include dataurlicon(
        "search",
        $color-formelements-inputbutton-active-color
      );
    }

    .haslabel & {
      margin-top: px-to-rem(28px);
    }

    &:disabled {
      opacity: 0.45;
      pointer-events: none;
    }
  }

  [dir="rtl"] & {
    .ilo--searchfield--button {
      border-left: $spacing-formelements-inputbutton-default-borderrtl-left
        solid $color-formelements-inputbutton-default-border-left;
      border-right: $spacing-formelements-inputbutton-default-borderrtl-right
        solid $color-formelements-inputbutton-default-border-right;
    }
  }
}
