@use "../tokens" as *;
@use "../functions" as *;
@import "../animations";
@import "../mixins";

.ilo--social-media {
  $c: &;
  $default-theme: "light";

  @mixin get-icon($icon, $theme: $default-theme) {
    @include dataurlicon(
      $icon,
      map-get($color, "socialmedia", $theme, "icon", "color")
    );

    &:hover {
      @include dataurlicon(
        $icon,
        map-get($color, "socialmedia", $theme, "iconhover", "color")
      );
    }
  }

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  [dir="rtl"] {
    align-items: flex-end;
  }

  &__justify__center {
    align-items: center;
  }

  &--headline {
    color: map-get($color, "socialmedia", $default-theme, "headline", "color");
    font-family: var(--ilo-fonts-display);
    font-weight: map-get($type, "weights", "label");
    @include typography("highlight-medium-bold");
    @include textmargin("margin-bottom", 28px, "body-small", "display", 0, 0);

    #{$c}__theme__dark & {
      color: map-get($color, "socialmedia", "dark", "headline", "color");
    }
  }

  &--list {
    display: inline-flex;
    flex-flow: row wrap;
    gap: spacing(5);
    $list: &;

    &__size {
      &__large {
        gap: spacing(6);

        & #{$list}--item--icon {
          height: px-to-rem(36px);
          width: px-to-rem(36px);
        }
      }
    }

    &--item {
      display: inline-block;
      overflow: hidden;
      position: relative;

      &--icon {
        background-position: center;
        background-repeat: no-repeat;

        text-indent: -999px;
        border-radius: 2px;
        display: inline-block;
        height: px-to-rem(24px);
        width: px-to-rem(24px);
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: map-get(
            $color,
            "socialmedia",
            $default-theme,
            "iconhover",
            "background"
          );
        }

        #{$c}__theme__dark &:hover {
          background-color: map-get(
            $color,
            "socialmedia",
            "dark",
            "iconhover",
            "background"
          );
        }

        &__facebook {
          @include get-icon("social_facebook");

          #{$c}__theme__dark & {
            @include get-icon("social_facebook", "dark");
          }
        }

        &__x {
          @include get-icon("social_x");

          #{$c}__theme__dark & {
            @include get-icon("social_x", "dark");
          }
        }

        &__instagram {
          @include get-icon("social_instagram");

          #{$c}__theme__dark & {
            @include get-icon("social_instagram", "dark");
          }
        }

        &__youtube {
          @include get-icon("social_youtube");

          #{$c}__theme__dark & {
            @include get-icon("social_youtube", "dark");
          }
        }

        &__linkedin {
          @include get-icon("social_linkedin");

          #{$c}__theme__dark & {
            @include get-icon("social_linkedin", "dark");
          }
        }

        &__flickr {
          @include get-icon("social_flickr");

          #{$c}__theme__dark & {
            @include get-icon("social_flickr", "dark");
          }
        }

        &__tiktok {
          @include get-icon("social_tiktok");

          #{$c}__theme__dark & {
            @include get-icon("social_tiktok", "dark");
          }
        }

        &__bluesky {
          @include get-icon("social_bluesky");

          #{$c}__theme__dark & {
            @include get-icon("social_bluesky", "dark");
          }
        }

        &__weibo {
          @include get-icon("social_weibo");

          #{$c}__theme__dark & {
            @include get-icon("social_weibo", "dark");
          }
        }

        &__wechat {
          @include get-icon("social_wechat");

          #{$c}__theme__dark & {
            @include get-icon("social_wechat", "dark");
          }
        }
      }
    }
  }
}
