@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__stat {
      --max-width: #{px-to-rem(343px)};

      @include breakpoint("md", true) {
        --max-width: 100%;
      }

      border-bottom: px-to-rem(3px) solid var(--ilo-color-purple);
      padding: spacing(10) spacing(6) spacing(8);
      position: relative;
      width: 100%;

      @include cornercut(72px, 40px);

      [dir="rtl"] & {
        @include cornercut(72px, 40px, left);
      }

      &#{$self}__color {
        &__blue {
          background: var(--ilo-color-blue-lighter);
        }

        &__yellow {
          background: var(--ilo-color-yellow);
        }

        &__green {
          background: var(--ilo-color-green);
        }

        &__turquoise {
          background: var(--ilo-color-turquoise);
        }
      }

      &#{$self}__loading {
        background-color: var(--ilo-color-gray-base);
        border-bottom-color: var(--ilo-skeleton-element-background-color);
      }

      #{$self}--content {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
      }

      #{$self}--skeleton--title {
        @include skeleton-element(32px, 70%);
      }

      #{$self}--skeleton--intro-1 {
        @include skeleton-element(16px, 90%);
        margin-top: spacing(4);
      }

      #{$self}--skeleton--intro-2 {
        @include skeleton-element(16px, 80%);
        margin-top: spacing(2);
      }

      #{$self}--skeleton--source {
        @include skeleton-element(10px, 50%);
        margin-top: spacing(8);
      }

      #{$self}--title {
        color: var(--ilo-color-blue-dark);
        @include typography("heading-2");
        @include textmargin(
          "margin-bottom",
          24px,
          "headline-3",
          "display",
          0,
          0
        );
        width: 100%;
      }

      #{$self}--intro {
        color: var(--ilo-color-blue-dark);
        font-family: var(--ilo-fonts-display);
        @include typography("highlight-medium");
        @include textmargin("margin-bottom", 35px, "nav-md-sm", "copy", 0, 0);
        width: 100%;
      }

      #{$self}--source {
        display: flex;
        flex: auto;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .ilo--link {
        @include typography("body-xsmall");
        line-height: px-to-rem(24px);
      }
    }
  }
}
