@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__stat {
      --max-width: #{px-to-rem(343px)};

      @include breakpoint("md", true) {
        --max-width: 100%;
      }

      border-bottom: px-to-rem(3px) solid $brand-ilo-purple;
      padding: spacing(10) spacing(6) spacing(8);
      position: relative;
      width: 100%;

      @include cornercut(72px, 40px);

      [dir="rtl"] & {
        @include cornercut(72px, 40px, left);
      }

      &#{$self}__color {
        &__blue {
          background: $brand-ilo-light-blue;
        }

        &__yellow {
          background: $brand-ilo-yellow;
        }

        &__green {
          background: $brand-ilo-green;
        }

        &__turquoise {
          background: $brand-ilo-turquoise;
        }
      }

      #{$self}--content {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
      }

      #{$self}--title {
        color: $brand-ilo-dark-blue;
        @include font-styles("headline-3");
        @include textmargin(
          "margin-bottom",
          24px,
          "headline-3",
          "display",
          0,
          0
        );
        width: 100%;
      }

      #{$self}--intro {
        color: $brand-ilo-dark-blue;
        font-family: var(--ilo-fonts-display);
        @include font-styles("base");
        @include textmargin("margin-bottom", 35px, "nav-md-sm", "copy", 0, 0);
        width: 100%;
      }

      #{$self}--source {
        display: flex;
        flex: auto;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .ilo--link {
        @include font-styles("image-credit");
        line-height: px-to-rem(24px);
      }
    }
  }
}
