@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--tabs {
  border-bottom: px-to-rem(3px) solid $color-base-neutrals-lighter;
  border-left: px-to-rem(3px) solid $color-base-neutrals-lighter;
  border-right: px-to-rem(3px) solid $color-base-neutrals-lighter;

  &:not(.tabs--js) {
    .ilo--tabs--selection {
      margin-bottom: px-to-rem(24px);

      &--button {
        background: map-get($color, "link", "background", "default");
        border-bottom: $widths-border-sm solid
          map-get($color, "link", "underline", "default");
        color: map-get($color, "link", "text", "default");
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-decoration: none;

        &:visited {
          background: map-get($color, "link", "background", "visited");
          border-bottom: $widths-border-sm solid
            map-get($color, "link", "underline", "visited");
          color: map-get($color, "link", "text", "visited");
        }

        &:hover {
          background: map-get($color, "link", "background", "hover");
          border-bottom: $widths-border-med solid
            map-get($color, "link", "underline", "hover");
          color: map-get($color, "link", "text", "hover");
          text-decoration: none;
        }

        &:active {
          background: map-get($color, "link", "background", "default");
          border-bottom: $widths-border-sm solid
            map-get($color, "link", "underline", "default");
          color: map-get($color, "link", "text", "default");
          outline: none;
        }

        &:focus {
          background: map-get($color, "link", "background", "default");
          border-bottom: $widths-border-sm solid
            map-get($color, "link", "underline", "default");
          color: map-get($color, "link", "text", "default");
          outline: none;
        }
      }
    }
  }

  &.tabs--js {
    .ilo--tabs--selection {
      --tabscount: 1;
      display: block;

      &--button {
        align-items: center;
        background-color: $color-base-neutrals-lighter;
        border-bottom: px-to-rem(3px) solid $color-base-neutrals-white;
        color: $color-ux-labels-actionable;
        font-family: $fonts-display;
        font-weight: 600;
        display: flex;
        height: px-to-rem(60px);
        justify-content: flex-start;
        padding-left: $spacing-padding-1;
        padding-right: $spacing-padding-3;
        text-decoration: none;
        @include font-styles("label-medium");

        &[aria-selected="true"] {
          background-color: $color-base-neutrals-white;
          border-top: px-to-rem(3px) solid $color-ux-labels-actionable;
        }

        &.icon {
          .ilo--icon {
            height: px-to-rem($spacing-padding-2);
            margin-right: px-to-rem(5px);
            order: 1;
            width: px-to-rem($spacing-padding-2);
          }

          .ilo--tabs--selection--label {
            order: 2;
          }
        }

        &:hover,
        &[aria-selected="true"]:hover {
          background-color: $color-base-blue-light;
          color: $color-base-blue-medium;
          outline: none;

          &.has--tooltip {
            .ilo--tooltip--wrapper {
              @include dataurlicon("info", $color-base-blue-medium);
            }
          }
        }
      }

      &--label {
        max-width: 50ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &--item {
        display: block;
        width: 100%;

        &:last-of-type {
          .ilo--tabs--selection--button {
            border-bottom: none;
            border-right: none;
          }
        }
      }
    }

    .ilo--tabs--content {
      padding: px-to-rem($spacing-padding-5) px-to-rem($spacing-padding-3)
        px-to-rem($spacing-padding-7) px-to-rem($spacing-padding-3);

      [aria-expanded="false"] {
        display: none;
      }

      [aria-expanded="true"] {
        display: block;
      }
    }

    @include breakpoint("medium") {
      .ilo--tabs--content {
        padding: px-to-rem($spacing-padding-5) px-to-rem($spacing-padding-8)
          px-to-rem($spacing-padding-8) px-to-rem($spacing-padding-8);
      }

      .ilo--tabs--selection {
        display: flex;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;

        &--button {
          border-bottom: none;
          border-right: px-to-rem(5px) solid $color-base-neutrals-white;
        }

        &--item {
          width: min(calc(var(--tabscount) / 1 * 100%), 100%);
        }
      }
    }

    @include breakpoint("large") {
      .ilo--tabs--selection {
        &--item {
          width: min(calc(var(--tabscount) / 1 * 100%), 100%);
        }
      }
    }
  }

  .right-to-left & {
    direction: rtl;
  }
}
