@use "../tokens" as *;
@use "../animations" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--table-of-contents {
  background-color: $color-ux-tableofcontents-items-default-background;
  display: none;
  min-width: 343px;
  padding: 0;

  & > * {
    opacity: 0;
  }

  &.show {
    display: block;

    &.fadein {
      & > * {
        opacity: 1;
        transition-delay: 125ms;
        @include globaltransition("opacity");
      }
    }
  }

  &--headline {
    border-bottom: px-to-rem(3px) solid $color-base-neutrals-lighter;
    margin-bottom: spacing(6);
    margin-top: spacing(2);
    @include font-styles("base");
    font-family: var(--ilo-fonts-display);
    font-weight: 700;
    padding-bottom: spacing(4);
  }

  &--wrapper {
    &.show {
      display: block;
      height: 100vh;
      left: 0;
      padding: spacing(6);
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 10001;

      @include breakpoint("lg") {
        padding: 0;
      }
    }
  }

  &--trigger {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: spacing(6) auto;

    &.hide {
      display: none;
    }
  }

  @include breakpoint("lg") {
    display: block;

    & > * {
      opacity: 1;
    }

    &--trigger {
      display: none;
    }
  }

  &--modal {
    display: none;

    & > * {
      opacity: 0;
    }

    &.show {
      display: block;

      &.fadein {
        & > * {
          opacity: 1;
          transition-delay: 125ms;
          @include globaltransition("opacity");
        }
      }
    }

    @include breakpoint("lg") {
      display: none;

      &.show {
        display: none;
      }
    }

    .toc--modal--close {
      top: 0;
      height: px-to-rem(40px);
      right: 0;
      position: absolute;
      width: px-to-rem(40px);
      z-index: 10004;

      .ilo--icon {
        left: px-to-rem(3px);
        top: px-to-rem(3px);
      }
    }
  }

  &--list,
  &--list--item {
    width: 100%;
  }

  &--link {
    background-color: transparent;
    background-position: calc(100% - 11px) center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px) px-to-rem(24px);
    border-bottom: $color-ux-tableofcontents-items-default-border px-to-rem(2px)
      solid;
    color: $color-ux-labels-actionable;
    display: block;
    font-family: var(--ilo-fonts-display);
    font-weight: 500;
    margin: 0 spacing(2) 0 spacing(2);
    padding: spacing(4) spacing(2) spacing(4);
    padding-inline-end: spacing(12);
    position: relative;
    text-decoration: none;
    width: calc(100% - 16px);
    @include dataurlicon("stemarrow", $color-ux-labels-actionable);
    @include font-styles("label-medium");
    @include globaltransition("background-color, border, color");

    &:hover,
    &:focus {
      background-color: $color-ux-tableofcontents-items-hover-background;
      border-bottom: $color-ux-tableofcontents-items-hover-border px-to-rem(2px)
        solid;
      background-position: calc(100% - 19px) center;
      color: $color-ux-labels-hover;
      margin: 0;
      outline: none;
      padding: spacing(4) spacing(4) spacing(4);
      padding-inline-end: spacing(12);
      width: 100%;
      @include dataurlicon("stemarrow", $color-ux-labels-hover);
      @include globaltransition("background-color, border, color");
    }

    &:active {
      background-color: $color-ux-tableofcontents-items-active-background;
      border-bottom: $color-ux-tableofcontents-items-active-border
        px-to-rem(2px) solid;
      border-top: $color-ux-tableofcontents-items-default-border px-to-rem(2px)
        solid;
      color: $color-ux-tableofcontents-items-active-color;
      margin: -2px 0 0 0;
      outline: none;
      padding: spacing(4) spacing(4) spacing(4);
      padding-inline-end: spacing(12);
      width: 100%;
      @include dataurlicon(
        "stemarrow",
        $color-ux-tableofcontents-items-active-icon
      );
      z-index: 5;
    }
  }

  &--list--item:last-of-type {
    .ilo--table-of-contents--link {
      border-bottom: none;

      &:hover {
        border-bottom: $color-ux-tableofcontents-items-hover-border
          px-to-rem(2px) solid;
      }
    }
  }

  [dir="rtl"] & {
    .ilo--table-of-contents--link {
      background-position: 11px center;

      &:hover,
      &:focus {
        background-position: 19px center;
      }
    }

    &--modal {
      .toc--modal--close {
        left: 0;
        right: auto;
      }
    }
  }
}
