@use "../animations" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--table-of-contents {
  background-color: var(--ilo-color-gray-light);
  display: none;
  padding: 0;

  & > * {
    opacity: 0;
  }

  &.show {
    display: block;

    &.fadein {
      & > * {
        opacity: 1;
        transition-delay: 125ms;
        @include globaltransition("opacity");
      }
    }
  }

  &--headline {
    border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-light);
    margin-bottom: spacing(6);
    margin-top: spacing(2);
    @include typography("heading-3");
    padding-bottom: spacing(4);
  }

  &--wrapper {
    &.show {
      display: block;
      height: 100vh;
      left: 0;
      padding: spacing(6);
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 10001;

      @include breakpoint("lg") {
        padding: 0;
      }
    }
  }

  &--trigger {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: spacing(6) auto;

    &.hide {
      display: none;
    }
  }

  @include breakpoint("lg") {
    display: block;

    & > * {
      opacity: 1;
    }

    &--trigger {
      display: none;
    }
  }

  &--modal {
    display: none;

    & > * {
      opacity: 0;
    }

    &.show {
      display: block;

      &.fadein {
        & > * {
          opacity: 1;
          transition-delay: 125ms;
          @include globaltransition("opacity");
        }
      }
    }

    @include breakpoint("lg") {
      display: none;

      &.show {
        display: none;
      }
    }

    .toc--modal--close {
      top: 0;
      height: px-to-rem(40px);
      right: 0;
      position: absolute;
      width: px-to-rem(40px);
      z-index: 10004;

      .ilo--icon {
        left: px-to-rem(3px);
        top: px-to-rem(3px);
      }
    }
  }

  &--link {
    background-color: transparent;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-size: px-to-rem(24px) px-to-rem(24px);
    border-bottom: px-to-rem(2px) solid var(--ilo-color-white);
    color: var(--ilo-color-blue-dark);
    display: block;
    font-family: var(--ilo-fonts-display);
    font-weight: 500;
    padding: spacing(4) spacing(4) spacing(4);
    text-decoration: none;
    @include typography("highlight-medium");
    @include globaltransition("background-color, border, color");
    position: relative;

    &:after {
      content: "";
      display: block;
      width: px-to-rem(24px);
      height: px-to-rem(24px);
      position: absolute;
      right: spacing(4);
      top: 50%;
      transform: translateY(-50%);
      @include icon("arrow_down", var(--ilo-color-blue-dark));
    }

    &:hover,
    &:focus {
      background-color: var(--ilo-color-blue-lighter);
      border-bottom: px-to-rem(2px) solid var(--ilo-color-blue);
      color: var(--ilo-color-blue);
      &:after {
        @include icon("arrow_down", var(--ilo-color-blue));
      }
      @include globaltransition("background-color, border, color");
    }

    &:active {
      background-color: var(--ilo-color-white);
      border-bottom: px-to-rem(2px) solid var(--ilo-color-blue-dark);
      color: var(--ilo-color-blue-dark);
      &:after {
        @include icon("arrow_down", var(--ilo-color-blue-dark));
      }
    }
  }

  [dir="rtl"] & {
    .ilo--table-of-contents--link {
      background-position: 16px center;
    }

    &--modal {
      .toc--modal--close {
        left: 0;
        right: auto;
      }
    }
  }
}
