@use "../functions" as *;
@import "../mixins";

.ilo--table {
  background-color: var(--ilo-color-blue-ramp);
  padding: spacing(20);
  position: relative;

  &--header {
    background-color: var(--ilo-color-white);
    border-bottom: px-to-rem(2px) solid var(--ilo-color-gray-light);
    padding: spacing(4) spacing(2) spacing(5) spacing(2);
  }

  &--wrapper {
    max-height: 380px;
    overflow: scroll;
    position: relative;
    width: 100%;
  }

  &--content {
    border-collapse: initial;
    width: 100%;
  }

  &--head {
    background-color: var(--ilo-color-white);
    box-shadow:
      0px 0.8px 1.6px rgba(30, 45, 190, 0.038),
      0px 4px 8px rgba(30, 45, 190, 0.054),
      0px 10px 20px rgba(30, 45, 190, 0.08),
      0px -4px 16px rgba(30, 45, 190, 0.054);
    left: 0;
    height: auto;
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 2;

    &--cell {
      background-color: var(--ilo-color-white);
      border-left: px-to-rem(1px) solid var(--ilo-color-gray-light);
      border-bottom: px-to-rem(2px) solid var(--ilo-color-gray-light);
      font-family: var(--ilo-fonts-display);
      font-weight: 700;
      @include typography("body-small");
      padding: spacing(4) spacing(2);
      pointer-events: none;
      text-align: left;

      .ilo--table--small & {
        padding: spacing(2);
      }

      &:first-of-type {
        border-left: none;
      }

      &.sortable {
        pointer-events: auto;
        position: relative;

        &:after {
          background-color: var(--ilo-color-gray-light);
          background-image: url("#{colortodataurlicon('chevron_down', rgba(35, 0, 80, 1))}");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 75%;
          content: "";
          display: block;
          height: px-to-rem(24px);
          position: absolute;
          right: px-to-rem(9px);
          width: px-to-rem(24px);
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          background-color: var(--ilo-color-blue-lighter);
          border-bottom: px-to-rem(2px) solid var(--ilo-color-blue-medium);
          color: var(--ilo-color-blue);
          cursor: pointer;

          &:after {
            background-color: var(--ilo-color-blue-lighter);
            background-image: url("#{colortodataurlicon('chevron_down', rgba(210, 213, 242, 1))}");
          }
        }

        &[aria-sort="descending"] {
          &:after {
            transform-origin: center center;
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }

  &--body {
    background-color: var(--ilo-color-white);

    &--row.selected {
      background-color: var(--ilo-color-background-hover);
    }

    &--cell {
      border-bottom: px-to-rem(2px) solid var(--ilo-color-gray-light);
      font-family: var(--ilo-fonts-copy);
      font-weight: 400;
      @include typography("body-small");
      outline: 0;
      padding: spacing(4) spacing(2) spacing(5);
      position: relative;

      .ilo--table--small & {
        padding: spacing(3) spacing(2);
      }

      &:first-of-type {
        border-left: none;
      }

      &.numeric {
        text-align: right;
      }

      &:hover {
        background-color: var(--ilo-color-background-hover);
        border-bottom: 2px solid var(--ilo-color-blue-medium);
        color: var(--ilo-color-blue);
      }

      &.selected {
        background-color: var(--ilo-color-blue-ramp);
        border-bottom: 2px solid var(--ilo-color-blue-medium);
        color: var(--ilo-color-blue-medium);
        cursor: pointer;
      }

      &.column--selected {
        background-color: var(--ilo-color-background-hover);
      }

      a {
        @include linkstyles();
      }
    }
  }

  &--headline {
    align-items: center;
    display: flex;
    font-family: var(--ilo-fonts-display);
    font-weight: 700;
    margin-bottom: spacing(2);
    @include typography("highlight-large");

    .ilo--tooltip--wrapper {
      margin-left: spacing(1);
    }
  }

  &--description {
    color: var(--ilo-color-gray-accessible);
    font-family: var(--ilo-fonts-copy);
    font-weight: 400;
    @include typography("body-xsmall");

    a {
      @include linkstyles();
    }
  }

  &--zebra {
    .ilo--table--body--row:nth-child(odd) {
      background-color: var(--ilo-color-background-highlight);

      &:hover,
      &:focus {
        background-color: var(--ilo-color-background-highlight);
      }

      .ilo--table--body--cell {
        border-left: px-to-rem(1px) solid var(--ilo-color-white);

        &:hover,
        &:focus {
          background-color: var(--ilo-color-blue-ramp);
        }
      }

      &.selected {
        .ilo--table--body--cell {
          background-color: var(--ilo-color-background-hover);

          &.selected {
            background-color: var(--ilo-color-blue-ramp);
          }
        }
      }
    }
  }
}
