@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--table {
  background-color: $color-ux-table-background;
  padding: $spacing-ux-table-padding-top $spacing-ux-table-padding-right
    $spacing-ux-table-padding-bottom $spacing-ux-table-padding-left;
  position: relative;

  &--header {
    background-color: $color-ux-table-content-background;
    padding: $spacing-ux-table-content-padding-top
      $spacing-ux-table-content-padding-right
      $spacing-ux-table-content-padding-bottom
      $spacing-ux-table-content-padding-left;
  }

  &--wrapper {
    max-height: 380px;
    overflow: scroll;
    position: relative;
    width: 100%;
  }

  &--content {
    width: 100%;
  }

  &--head {
    background-color: $color-ux-table-content-background;
    box-shadow: 0px 0.8px 1.6px rgba(30, 45, 190, 0.038),
      0px 4px 8px rgba(30, 45, 190, 0.054),
      0px 10px 20px rgba(30, 45, 190, 0.08),
      0px -4px 16px rgba(30, 45, 190, 0.054);
    left: 0;
    height: auto;
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 2;

    &--cell {
      background-color: $color-ux-table-content-background;
      border-left: px-to-rem(1px) solid $color-base-neutrals-lighter;
      border-top: px-to-rem(2px) solid $color-base-neutrals-lighter;
      border-bottom: px-to-rem(2px) solid $color-base-neutrals-lighter;
      font-family: $fonts-display;
      font-weight: 700;
      @include font-styles("body-xs");
      letter-spacing: -0.02em;
      padding: $spacing-ux-table-head-padding-top
        $spacing-ux-table-head-padding-right
        $spacing-ux-table-head-padding-bottom
        $spacing-ux-table-head-padding-left;
      pointer-events: none;
      text-align: left;

      .ilo--table--small & {
        padding: $spacing-ux-table-smallhead-padding-top
          $spacing-ux-table-smallhead-padding-right
          $spacing-ux-table-smallhead-padding-bottom
          $spacing-ux-table-smallhead-padding-left;
      }

      &:first-of-type {
        border-left: none;
      }

      &.sortable {
        pointer-events: auto;
        position: relative;

        &:after {
          background-color: $color-base-neutrals-lighter;
          background-image: url("#{colortodataurlicon("arrow", $color-ux-labels-actionable)}");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 75%;
          content: "";
          display: block;
          height: px-to-rem($spacing-padding-3);
          position: absolute;
          right: px-to-rem(9px);
          width: px-to-rem($spacing-padding-3);
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          background-color: $color-base-blue-light;
          border-bottom: px-to-rem(2px) solid $color-base-blue-medium;
          color: $color-base-blue-medium;
          cursor: pointer;

          &:after {
            background-color: $color-base-blue-light;
            background-image: url("#{colortodataurlicon("arrow", $color-base-blue-medium)}");
          }
        }

        &[aria-sort="descending"] {
          &:after {
            transform-origin: center center;
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }

  &--body {
    background-color: $color-ux-table-cell-background;

    &--row.selected {
      background-color: $color-ux-table-hover-background;
    }

    &--cell {
      border-bottom: px-to-rem(2px) solid $color-base-neutrals-lighter;
      font-family: $fonts-copy;
      font-weight: 400;
      @include font-styles("body-xs");
      outline: 0;
      padding: $spacing-ux-table-cell-padding-top
        $spacing-ux-table-cell-padding-right
        $spacing-ux-table-cell-padding-bottom
        $spacing-ux-table-cell-padding-left;
      position: relative;

      .ilo--table--small & {
        padding: $spacing-ux-table-smallcell-padding-top
          $spacing-ux-table-smallcell-padding-right
          $spacing-ux-table-smallcell-padding-bottom
          $spacing-ux-table-smallcell-padding-left;
      }

      &:first-of-type {
        border-left: none;
      }

      &.numeric {
        text-align: right;
      }

      &:hover {
        background-color: $color-ux-table-selected-background;
        border-bottom: 2px solid $color-ux-labels-hover;
        color: $color-ux-labels-hover;
      }

      &.selected {
        background-color: $color-ux-table-selected-background;
        border-bottom: 2px solid $color-ux-labels-hover;
        color: $color-ux-labels-hover;
        cursor: pointer;
      }

      &.column--selected {
        background-color: $color-ux-table-hover-background;
      }

      a {
        @include linkstyles();
      }
    }
  }

  &--headline {
    align-items: center;
    display: flex;
    font-family: $fonts-display;
    font-weight: 700;
    margin-bottom: px-to-rem(7px);
    @include font-styles("headline-6");

    .ilo--tooltip--wrapper {
      margin-left: px-to-rem(6px);
    }
  }

  &--description {
    color: $color-base-neutrals-medium;
    font-family: $fonts-copy;
    font-weight: 400;
    @include font-styles("body-xxs");

    a {
      @include linkstyles();
    }
  }

  &--zebra {
    .ilo--table--body--row:nth-child(odd) {
      background-color: $color-ux-table-zebra-background;

      &:hover,
      &:focus {
        background-color: $color-ux-table-hover-background;
      }

      .ilo--table--body--cell {
        border-left: px-to-rem(1px) solid $color-base-neutrals-white;

        &:hover,
        &:focus {
          background-color: $color-ux-table-selected-background;
        }
      }

      &.selected {
        .ilo--table--body--cell {
          background-color: $color-ux-table-hover-background;

          &.selected {
            background-color: $color-ux-table-selected-background;
          }
        }
      }
    }
  }
}
