@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--tabs {
  &__theme__light {
    --ilo-tabs-selection-bg-color: var(--ilo-color-white);
    --ilo-tabs-btn-bg-color: var(--ilo-color-gray-light);
    --ilo-tabs-btn-bg-color-hover: var(--ilo-color-blue-lighter);
    --ilo-tabs-btn-bg-color-selected: var(--ilo-color-white);
    --ilo-tabs-btn-border-top-hover: var(--ilo-color-blue);
    --ilo-tabs-btn-border-top-selected: var(--ilo-color-blue-dark);
    --ilo-tabs-btn-color: var(--ilo-color-blue-dark);
    --ilo-tabs-btn-color-hover: var(--ilo-color-blue);
    --ilo-tabs-content-bg-color: var(--ilo-color-white);
  }

  &__theme__dark {
    --ilo-tabs-selection-bg-color: var(--ilo-color-blue-dark);
    --ilo-tabs-btn-bg-color: var(--ilo-color-blue-ramp);
    --ilo-tabs-btn-bg-color-hover: var(--ilo-color-blue-dark);
    --ilo-tabs-btn-bg-color-selected: var(--ilo-color-blue-dark);
    --ilo-tabs-btn-border-top-selected: var(--ilo-color-white);
    --ilo-tabs-btn-color: var(--ilo-color-white);
    --ilo-tabs-btn-color-hover: var(--ilo-color-white);
    --ilo-tabs-content-bg-color: var(--ilo-color-blue-dark);
  }

  * {
    @include globaltransition("color, background-color, border-color");
  }

  .ilo--tabs--selection {
    --tabscount: 1;
    display: block;
    background-color: var(--ilo-tabs-selection-bg-color);

    &--button {
      align-items: center;
      background-color: var(--ilo-tabs-btn-bg-color);
      border-top-width: px-to-rem(3px);
      border-top-style: solid;
      border-top-color: transparent;
      color: var(--ilo-tabs-btn-color);
      font-family: var(--ilo-fonts-display);
      font-weight: 600;
      display: flex;
      gap: spacing(1);
      height: px-to-rem(60px);
      justify-content: flex-start;
      padding-left: spacing(2);
      padding-right: spacing(6);
      text-decoration: none;
      @include typography("highlight-large");

      // Selected
      &[aria-selected="true"] {
        background-color: var(--ilo-tabs-btn-bg-color-selected);
        border-top-color: var(--ilo-tabs-btn-border-top-selected);
      }

      &:hover {
        background-color: var(--ilo-tabs-btn-bg-color-hover);
        border-top-color: var(--ilo-tabs-btn-border-top-hover);
        color: var(--ilo-tabs-btn-color-hover);
      }

      &[aria-selected="true"] {
        pointer-events: none;
      }

      &.icon {
        .ilo--icon {
          height: px-to-rem(16px);
          order: 1;
          width: px-to-rem(16px);
        }

        .ilo--tabs--selection--label {
          order: 2;
          flex: 1 1;
        }
      }
    }

    &--label {
      overflow: hidden;
      padding-top: spacing(1);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--item {
      overflow: hidden;
      display: block;
      width: 100%;

      &:last-of-type {
        .ilo--tabs--selection--button {
          border-bottom: none;
          border-right: none;
        }
      }
    }
  }

  .ilo--tabs--content {
    background-color: var(--ilo-tabs-content-bg-color);
    padding: spacing(10) spacing(6) spacing(14) spacing(6);

    [aria-expanded="false"] {
      display: none;
    }

    [aria-expanded="true"] {
      display: block;
    }
  }

  @include breakpoint("md") {
    .ilo--tabs--content {
      padding: spacing(10) spacing(16) spacing(16) spacing(16);
    }

    .ilo--tabs--selection {
      display: flex;
      flex-flow: row nowrap;
      gap: spacing(1);
      max-width: 100%;

      &--item {
        width: min(calc(var(--tabscount) / 1 * 100%), 100%);
      }
    }
  }
}
