@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--tags {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(2);
}

.ilo--tag {
  // Layout
  box-sizing: border-box;
  height: px-to-rem(35px);
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: spacing(2) spacing(3);
  width: fit-content;

  @include typography("highlight-small");

  // Colors and border
  color: var(--ilo-color-light-text-brand);
  fill: var(--ilo-color-light-action-default);
  background-color: var(--ilo-color-light-container-bg-disabled);
  border-color: var(--ilo-color-light-border-subtle);
  border-width: px-to-rem(1.5px);
  border-style: solid;
  border-radius: px-to-rem(2px);
  @include globaltransition("color background-color border-color fill");

  &__disabled {
    color: var(--ilo-color-light-text-subtle);
    fill: var(--ilo-color-dark-icon-subtle);
    pointer-events: none;
  }

  &__type {
    &__button,
    &__reset,
    &__anchor {
      box-shadow: none;
      appearance: none;
      cursor: pointer;
      outline: none;

      &:disabled {
        pointer-events: none;
      }

      &:focus-visible {
        outline: 1px solid var(--ilo-color-light-border-brand);
      }
    }

    &__button,
    &__reset,
    &__anchor {
      &:hover,
      &:focus {
        background-color: var(--ilo-color-light-container-bg-subtle);
        border-color: var(--ilo-color-dark-border-brand-3);
        color: var(--ilo-color-light-action-hover);
        fill: var(--ilo-color-light-action-hover);
      }
    }

    &__anchor {
      text-decoration: none;
    }

    &__reset {
      background-color: var(--ilo-color-light-container-bg-default);
      border-color: var(--ilo-color-light-border-default);
      color: var(--ilo-color-light-text-brand);
      fill: var(--ilo-color-light-action-default);
    }
  }

  .ilo--icon {
    bottom: px-to-rem(1px);
    fill: inherit;
    position: relative;
    margin-inline-start: px-to-rem(2px);
  }
}
