@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--tags {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(2);
}

.ilo--tag {
  // Layout
  box-sizing: border-box;
  height: px-to-rem(35px);
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: spacing(2) spacing(3);
  width: fit-content;

  // Font styles
  font-family: var(--ilo-fonts-display);
  font-size: var(--ilo-font-size-sm);
  font-weight: var(--ilo-font-weight-medium);
  line-height: var(--ilo-line-height-xlg);
  letter-spacing: var(--ilo-letter-spacing-sm);

  // Colors and border
  color: var(--ilo-color-blue-dark);
  fill: var(--ilo-color-blue-dark);
  background-color: var(--ilo-color-gray-light);
  border-color: var(--ilo-color-gray-light);
  border-width: px-to-rem(1.5px);
  border-style: solid;
  border-radius: px-to-rem(2px);
  @include globaltransition("color background-color border-color fill");

  &__disabled {
    color: var(--ilo-color-gray-accessible);
    fill: var(--ilo-color-gray-accessible);
    pointer-events: none;
  }

  &__type {
    &__button,
    &__reset,
    &__anchor {
      box-shadow: none;
      appearance: none;
      cursor: pointer;
      outline: none;

      &:disabled {
        pointer-events: none;
      }

      &:focus-visible {
        outline: 1px solid var(--ilo-color-blue);
      }
    }

    &__button,
    &__anchor {
      &:hover,
      &:focus {
        background-color: var(--ilo-color-blue-lighter);
        border-color: var(--ilo-color-blue-lighter);
        color: var(--ilo-color-blue);
        fill: var(--ilo-color-blue);
      }
    }

    &__anchor {
      text-decoration: none;
    }

    &__reset {
      background-color: var(--ilo-color-white);
      border-color: var(--ilo-color-gray-base);
      color: var(--ilo-color-blue-dark);
      fill: var(--ilo-color-blue-dark);
    }
  }

  .ilo--icon {
    bottom: px-to-rem(2px);
    fill: inherit;
    position: relative;
    margin-inline-start: px-to-rem(2px);
  }
}
