@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--text-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: map-get(
    $color,
    "formelements",
    "input",
    "default",
    "background"
  );
  @include bordervalues("input", "formelements");
  box-sizing: border-box;
  font-family: var(--ilo-fonts-copy);
  font-weight: map-get($type, "weights", "section");
  @include font-styles("label-medium");
  height: px-to-rem(48px);
  margin: spacing(0);
  outline: none;
  padding: spacing(4) spacing(3);
  width: 100%;

  &:focus {
    background-color: map-get(
      $color,
      "formelements",
      "input",
      "focus",
      "background"
    );
    @include bordervalues("input", "formelements", "focus");
    padding-left: spacing(3);
    outline: none;
  }

  &:disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &:invalid,
  &__error {
    background-color: map-get(
      $color,
      "formelements",
      "input",
      "error",
      "background"
    );
    @include bordervalues("input", "formelements", "error");
  }
}
