@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--card {
  $self: &;

  &__type {
    &__text {
      --max-width: #{px-to-rem(301px)};

      // border-bottom: px-to-rem(3px) solid var(--ilo-color-gray-accessible);
      padding: spacing(10) spacing(6) spacing(8);

      @include cornercut(72px, 40px);

      [dir="rtl"] & {
        @include cornercut(72px, 40px, left);
      }

      @include breakpoint("md", true) {
        --max-width: 100%;
      }

      &#{$self}__size {
        &__wide,
        &__fluid {
          --max-width: #{px-to-rem(523px)};

          padding: spacing(10) spacing(8) spacing(8);
        }

        &__narrow {
          --max-width: #{px-to-rem(301px)};

          padding: spacing(10) spacing(6) spacing(8);

          @include breakpoint("md", true) {
            --max-width: 100%;
          }

          #{$self}--title {
            @include typography("heading-4");
          }
        }
      }

      &#{$self}__dark {
        border-bottom: px-to-rem(3px) solid var(--ilo-color-red);
      }

      #{$self}--skeleton--eyebrow {
        @include skeleton-element(12px, 20%);
      }

      #{$self}--skeleton--title {
        @include skeleton-element(14px, 90%);
        margin-top: spacing(4);
      }

      #{$self}--skeleton--date {
        @include skeleton-element(14px, 100%);
        margin-top: spacing(2);
      }

      #{$self}--skeleton--profile {
        @include skeleton-element(14px, 80%);
        margin-top: spacing(2);
      }

      #{$self}--title {
        @include typography("heading-4");

        @include breakpoint("md") {
          @include typography("heading-3");
        }
      }

      #{$self}--date {
        display: block;
      }

      #{$self}--content {
        display: flex;
        flex-direction: column;
        position: relative;

        > * {
          justify-self: flex-start;
        }

        > *:last-child {
          justify-self: flex-end;
          margin-bottom: 0;
        }
      }
    }
  }
}
