@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: map-get(
    $color,
    "formelements",
    "input",
    "default",
    "background"
  );
  @include bordervalues("input", "formelements");
  box-sizing: border-box;
  font-family: $fonts-copy;
  font-weight: map-get($type, "weights", "section");
  @include font-styles("label-medium");
  height: px-to-rem(
    map-get($spacing, "formelements", "input", "default", "height")
  );
  @include spacingvalues("margin", "input", "formelements");
  max-width: map-get($spacing, "formelements", "input", "default", "width");
  min-height: px-to-rem($spacing-padding-15);
  min-width: map-get($spacing, "formelements", "input", "default", "width");
  outline: none;
  position: relative;
  @include spacingvalues("padding", "input", "formelements");
  width: map-get($spacing, "formelements", "input", "default", "width");

  &:focus {
    background-color: map-get(
      $color,
      "formelements",
      "input",
      "focus",
      "background"
    );
    @include bordervalues("input", "formelements", "focus");
    padding-left: calc($spacing-formelements-input-default-padding-left - 1px);
  }

  &:disabled {
    opacity: 45%;
    pointer-events: none;
  }

  &:invalid,
  &.error,
  .error & {
    background-color: map-get(
      $color,
      "formelements",
      "input",
      "error",
      "background"
    );
    @include bordervalues("input", "formelements", "error");
  }

  .right-to-left & {
    direction: rtl;
  }
}
