@use "../functions" as *;
@import "../animations";

.ilo--input--toggle {
  $c: &;

  grid-area: input;
  position: relative;
  display: inline-block;
  width: var(--toggle-width);
  height: var(--toggle-height);

  --base-toggle-width: #{px-to-rem(46px)};

  --base-toggle-height: #{px-to-rem(24px)};

  &__size__small {
    --toggle-width: var(--base-toggle-width);
    --toggle-height: var(--base-toggle-height);
  }

  &__size__medium {
    --toggle-width: calc(var(--base-toggle-width) * 1.5);
    --toggle-height: calc(var(--base-toggle-height) * 1.5);
  }

  &__size__large {
    --toggle-width: calc(var(--base-toggle-width) * 2);
    --toggle-height: calc(var(--base-toggle-height) * 2);
  }

  &__disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__error {
    #{$c}--slider {
      outline-color: var(--ilo-color-red) !important;
      outline-width: calc(var(--toggle-height) / 8);
      outline-style: solid;
    }
  }

  input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  &--slider {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ilo-color-gray-base);
    border-radius: calc(var(--toggle-height) / 2);
    @include globaltransition("background");

    &::before {
      position: absolute;
      content: "";
      height: calc(var(--toggle-height) - var(--toggle-height) / 3);
      width: calc(var(--toggle-height) - var(--toggle-height) / 3);
      left: calc(var(--toggle-height) / 6);
      bottom: calc(var(--toggle-height) / 6);
      background-color: var(--ilo-color-white);
      border-radius: 50%;
      @include globaltransition("transform, background");
    }
  }

  input[type="checkbox"]:checked + &--slider {
    background-color: var(--ilo-color-blue-dark);
  }

  input[type="checkbox"]:focus + &--slider {
    outline-color: var(--ilo-color-yellow);
    outline-width: calc(var(--toggle-height) / 8);
    outline-style: solid;
  }

  input:checked + &--slider:before {
    transform: translateX(calc(var(--toggle-width) - var(--toggle-height)));
    background-color: var(--ilo-color-blue-lighter);
  }
}
