@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--tooltip {
  $c: &;
  $arrow-width: calc(spacing(2) - px-to-rem(1));

  @include typography("body-small");
  font-family: var(--ilo-fonts-copy);
  font-weight: 400;
  background: var(--ilo-color-white);
  border: none;
  border-radius: px-to-rem(2px);
  display: inline-block;
  filter: drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.038))
    drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.054))
    drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08))
    drop-shadow(0px -4px 16px rgba(30, 45, 190, 0.054));
  color: var(--ilo-color-gray-charcoal);
  opacity: 0;
  padding: spacing(2) spacing(4) spacing(3);
  position: absolute;
  visibility: hidden;
  width: max-content;
  max-width: px-to-rem(180px);

  &--long {
    @include breakpoint("md") {
      max-width: px-to-rem(400px);
    }
  }

  &--fade {
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    z-index: 2;
    opacity: 1;
  }

  // Tooltip arrow styles
  &--arrow,
  &--arrow::before {
    position: absolute;
    visibility: hidden;
    width: 10px;
    height: 10px;
    background: inherit;
  }

  &--arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }

  &[data-popper-placement^="top"] > &--arrow {
    bottom: -4px;
  }

  &[data-popper-placement^="bottom"] > &--arrow {
    top: -4px;
  }

  &[data-popper-placement^="left"] > &--arrow {
    right: -4px;
  }

  &[data-popper-placement^="right"] > &--arrow {
    left: -4px;
  }

  &--wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &__icon {
      background-repeat: no-repeat;
      background-size: cover;
      height: px-to-rem(20px);
      min-width: px-to-rem(20px);
      @include icon("notification_info_outlined", var(--ilo-color-blue));

      &#{&}__theme__dark {
        @include icon(
          "notification_info_outlined",
          var(--ilo-color-gray-light)
        );
      }
    }
  }

  &--dark {
    background: var(--ilo-color-gray-charcoal);
    color: var(--ilo-color-gray-light);

    &.ilo--tooltip--arrow {
      border-bottom-color: var(--ilo-color-gray-charcoal);
    }

    &.ilo--tooltip--arrow {
      border-top-color: var(--ilo-color-gray-charcoal);
    }

    &.ilo--tooltip--arrow {
      border-left-color: var(--ilo-color-gray-charcoal);
    }

    &.ilo--tooltip--arrow {
      border-right-color: var(--ilo-color-gray-charcoal);
    }
  }
}

.docs-story div[height] {
  min-height: 150px;
}
