@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--tooltip {
  @include font-styles("body-xs");
  background: map-get($color, "tooltip", "default", "background");
  border: none;
  border-radius: px-to-rem(2px);
  display: inline-block;
  filter: drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.038))
    drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.054))
    drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08))
    drop-shadow(0px -4px 16px rgba(30, 45, 190, 0.054));
  color: map-get($color, "tooltip", "default", "text");
  opacity: 0;
  padding: px-to-rem($spacing-padding-1) px-to-rem($spacing-padding-1-5);
  position: absolute;
  transition: opacity 150ms ease-out;
  visibility: hidden;
  width: auto;

  &--fade {
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    z-index: 2;
  }

  &--wrapper {
    display: inline-block;
    position: relative;

    &.has-icon {
      background-repeat: no-repeat;
      background-size: cover;
      height: px-to-rem($spacing-padding-2);
      min-width: px-to-rem($spacing-padding-2);
      @include dataurlicon("info", $color-ux-labels-actionable);
    }
  }

  &--arrow {
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 0;
    height: 0;
    margin-top: -#{map-get($spacing, "tooltip", "tooltip-arrow-width")};
    position: absolute;
    width: 0;
  }

  &--alignment-top {
    left: 0;
    top: calc(-100% + map-get($spacing, "tooltip", "tooltip-arrow-height"));

    .ilo--tooltip--arrow {
      border-top-color: map-get($color, "tooltip", "default", "background");
      border-width: map-get($spacing, "tooltip", "tooltip-arrow-height")
        map-get($spacing, "tooltip", "tooltip-arrow-width") 0
        map-get($spacing, "tooltip", "tooltip-arrow-width");
      bottom: -#{map-get($spacing, "tooltip", "tooltip-arrow-height")};
      left: 50%;
      margin-left: -#{map-get($spacing, "tooltip", "tooltip-arrow-width")};
      top: auto;

      &--placement-negative {
        left: 10%;
      }

      &--placement-positive {
        left: auto;
        right: 10%;
      }

      &--placement-center {
        left: 50%;
      }
    }
  }

  &--alignment-right {
    left: calc(100% + map-get($spacing, "padding-4"));
    top: calc(50% - map-get($spacing, "tooltip", "tooltip-arrow-width"));

    .ilo--tooltip--arrow {
      border-right-color: map-get($color, "tooltip", "default", "background");
      border-width: map-get($spacing, "tooltip", "tooltip-arrow-width")
        map-get($spacing, "tooltip", "tooltip-arrow-height")
        map-get($spacing, "tooltip", "tooltip-arrow-width") 0;
      left: 0;
      margin-left: -#{map-get($spacing, "tooltip", "tooltip-arrow-height")};
      top: 50%;

      &--placement-negative {
        margin-top: 0;
        top: 10%;
      }

      &--placement-positive {
        top: auto;
        bottom: 10%;
      }

      &--placement-center {
        top: 50%;
      }
    }
  }

  &--alignment-left {
    right: calc(100% + map-get($spacing, "padding-4"));
    top: calc(50% - map-get($spacing, "tooltip", "tooltip-arrow-width"));

    .ilo--tooltip--arrow {
      border-left-color: map-get($color, "tooltip", "default", "background");
      border-width: map-get($spacing, "tooltip", "tooltip-arrow-width") 0
        map-get($spacing, "tooltip", "tooltip-arrow-width")
        map-get($spacing, "tooltip", "tooltip-arrow-height");
      left: auto;
      margin-top: -#{map-get($spacing, "tooltip", "tooltip-arrow-width")};
      right: -#{map-get($spacing, "tooltip", "tooltip-arrow-height")};
      top: 50%;

      &--placement-negative {
        margin-top: 0;
        top: 10%;
      }

      &--placement-positive {
        top: auto;
        bottom: 10%;
      }

      &--placement-center {
        top: 50%;
      }
    }
  }

  &--alignment-bottom {
    left: 0;
    top: calc(100% + map-get($spacing, "tooltip", "tooltip-arrow-height"));

    .ilo--tooltip--arrow {
      border-width: 0 map-get($spacing, "tooltip", "tooltip-arrow-width")
        map-get($spacing, "tooltip", "tooltip-arrow-height")
        map-get($spacing, "tooltip", "tooltip-arrow-width");
      left: 50%;
      margin-left: -#{map-get($spacing, "tooltip", "tooltip-arrow-width")};
      margin-top: -#{map-get($spacing, "tooltip", "tooltip-arrow-height")};
      top: 0;
      border-bottom-color: map-get($color, "tooltip", "default", "background");

      &--placement-negative {
        left: 10%;
      }

      &--placement-positive {
        left: auto;
        right: 10%;
      }

      &--placement-center {
        left: 50%;
      }
    }
  }

  &--dark {
    background: map-get($color, "tooltip", "dark", "background");
    color: map-get($color, "tooltip", "dark", "text");

    &.ilo--tooltip--alignment-bottom .ilo--tooltip--arrow {
      border-bottom-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-top .ilo--tooltip--arrow {
      border-top-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-left .ilo--tooltip--arrow {
      border-left-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-right .ilo--tooltip--arrow {
      border-right-color: map-get($color, "tooltip", "dark", "background");
    }
  }
}
