@use "../tokens" as *;
@use "../functions" as *;
@use "../animations" as *;
@import "../mixins";

.ilo--tooltip {
  $c: &;
  $arrow-width: calc(spacing(2) - px-to-rem(1));

  @include font-styles("body-xs");
  background: map-get($color, "tooltip", "default", "background");
  border: none;
  border-radius: px-to-rem(2px);
  display: inline-block;
  filter: drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.038))
    drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.054))
    drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08))
    drop-shadow(0px -4px 16px rgba(30, 45, 190, 0.054));
  color: map-get($color, "tooltip", "default", "text");
  opacity: 0;
  padding: spacing(2) spacing(4) spacing(3);
  position: absolute;
  visibility: hidden;
  width: auto;
  @include globaltransition("opacity");

  &--fade {
    opacity: 1;
    @include globaltransition("opacity");
  }

  &--visible {
    visibility: visible;
    z-index: 2;
    opacity: 1;
  }

  &--wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &__icon {
      background-repeat: no-repeat;
      background-size: cover;
      height: spacing(4);
      min-width: spacing(4);
      @include dataurlicon("info", $color-ux-labels-actionable);

      &#{&}__theme__dark {
        @include dataurlicon("info", $color-tooltip-dark-icon);
      }
    }
  }

  &--arrow {
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 0;
    height: 0;
    margin-top: -#{$arrow-width};
    position: absolute;
    width: 0;
  }

  &--alignment-top {
    left: 0;
    top: calc(-100% + 12px);

    .ilo--tooltip--arrow {
      border-top-color: map-get($color, "tooltip", "default", "background");
      border-width: spacing(3) $arrow-width 0 $arrow-width;
      bottom: -#{spacing(3)};
      left: 50%;
      margin-left: -#{$arrow-width};
      top: auto;

      &--placement-negative {
        left: 10%;
      }

      &--placement-positive {
        left: auto;
        right: 10%;
      }

      &--placement-center {
        left: 50%;
      }
    }
  }

  &--alignment-right {
    left: calc(100% + 32px);
    top: calc(50% - $arrow-width);

    .ilo--tooltip--arrow {
      border-right-color: map-get($color, "tooltip", "default", "background");
      border-width: $arrow-width spacing(3) $arrow-width 0;
      left: 0;
      margin-left: -#{spacing(3)};
      top: 50%;

      &--placement-negative {
        margin-top: 0;
        top: 10%;
      }

      &--placement-positive {
        top: auto;
        bottom: 10%;
      }

      &--placement-center {
        top: 50%;
      }
    }
  }

  &--alignment-left {
    right: calc(100% + 32px);
    top: calc(50% - $arrow-width);

    .ilo--tooltip--arrow {
      border-left-color: map-get($color, "tooltip", "default", "background");
      border-width: $arrow-width 0 $arrow-width spacing(3);
      left: auto;
      margin-top: -#{$arrow-width};
      right: -#{spacing(3)};
      top: 50%;

      &--placement-negative {
        margin-top: 0;
        top: 10%;
      }

      &--placement-positive {
        top: auto;
        bottom: 10%;
      }

      &--placement-center {
        top: 50%;
      }
    }
  }

  &--alignment-bottom {
    left: 0;
    top: calc(100% + spacing(3));

    .ilo--tooltip--arrow {
      border-width: 0 $arrow-width spacing(3) $arrow-width;
      left: 50%;
      margin-left: -#{$arrow-width};
      margin-top: -#{spacing(3)};
      top: 0;
      border-bottom-color: map-get($color, "tooltip", "default", "background");

      &--placement-negative {
        left: 10%;
      }

      &--placement-positive {
        left: auto;
        right: 10%;
      }

      &--placement-center {
        left: 50%;
      }
    }
  }

  &--dark {
    background: map-get($color, "tooltip", "dark", "background");
    color: map-get($color, "tooltip", "dark", "text");

    &.ilo--tooltip--alignment-bottom .ilo--tooltip--arrow {
      border-bottom-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-top .ilo--tooltip--arrow {
      border-top-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-left .ilo--tooltip--arrow {
      border-left-color: map-get($color, "tooltip", "dark", "background");
    }

    &.ilo--tooltip--alignment-right .ilo--tooltip--arrow {
      border-right-color: map-get($color, "tooltip", "dark", "background");
    }
  }
}

.docs-story div[height] {
  min-height: 150px;
}
