@use "../tokens" as *;
@use "../functions" as *;
@import "../mixins";

.ilo--video {
  width: 100%;

  .video-js {
    height: auto;
  }

  .vjs-loading-spinner {
    display: none;
  }

  .vjs-tech {
    width: 100%;
  }

  &--caption {
    border-left: px-to-rem(3px) solid $color-ux-caption-border-left;
    color: $color-font-caption;
    font-weight: 400;
    margin-top: spacing(4);
    padding-left: spacing(2);
    @include font-styles("image-caption");
  }

  &--element {
    height: auto;
    object-fit: cover;
    width: inherit;
  }

  &--wrapper {
    line-height: 0;
    position: relative;
    overflow: hidden;
  }

  // ? drupal style reset issue
  button {
    padding: 0;
  }
  // Remove extra controls
  .vjs-time-divider,
  .vjs-remaining-time,
  .vjs-current-time,
  .vjs-control-text,
  .vjs-custom-control-spacer {
    display: none;
  }

  // Show Controls
  &:hover,
  &:focus,
  &:focus-within {
    .vjs-control-bar {
      opacity: 1;
      transition: opacity 150ms ease-out;
    }
  }

  // Youtube spacing
  .vjs-youtube {
    padding-bottom: 56.25%;
  }

  // Initial state
  &--element:not(.vjs-has-started) {
    .vjs-poster {
      background-size: cover;
      object-fit: cover;
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }

    .vjs-control-bar {
      & {
        bottom: auto;
        opacity: 1;
        top: 0;
        width: px-to-rem(124px);

        &:hover,
        &:focus {
          .vjs-duration,
          .vjs-play-control {
            background-color: $color-ux-video-controls-hover-background;
            color: $color-ux-video-controls-hover-icon;
          }

          .vjs-play-control {
            @include dataurlicon(
              "triangle_right",
              $color-ux-video-controls-hover-icon
            );
          }
        }

        .vjs-play-control {
          @include videobutton("triangle_right");
        }

        .vjs-duration {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          font-size: px-to-rem(14px);
          height: px-to-rem(40px);
          width: px-to-rem(80px);
          background-color: $color-ux-video-controls-default-background;
          color: $color-ux-video-controls-default-icon;
        }

        @include breakpoint("lg") {
          width: px-to-rem(80px);
          flex-direction: column;
          height: px-to-rem(124px);
          gap: px-to-rem(4px);
          .vjs-play-control {
            @include videobutton("triangle_right", "big");
          }
        }
      }

      // Hide controls for initial state
      .vjs-fullscreen-control {
        display: none;
      }

      .vjs-progress-control {
        display: none;
      }

      .vjs-volume-panel {
        display: none;
      }
    }
  }

  // Video With Non Initial State
  .vjs-control-bar {
    order: 1;
    opacity: 0;
    transition: opacity 150ms ease-out;
    position: absolute;
    display: flex;
    width: 100%;
    height: px-to-rem(40px);
    bottom: 0;

    // TODO: BIG SCREEN
    .vjs-duration {
      display: none;
    }

    .vjs-poster {
      display: none;
    }

    // Play Button
    .vjs-play-control {
      @include videobutton("triangle_right");
      margin-right: px-to-rem(2px);
      &.vjs-paused,
      &.vjs-ended {
        @include videobutton("triangle_right");
      }

      &.vjs-playing {
        @include videobutton("pause");
      }
    }

    // Fullscreen control
    .vjs-fullscreen-control {
      order: 5;
      @include videobutton("fullscreen", "standard");
    }

    // Duration Bar
    .vjs-progress-control {
      order: 2;
      margin-right: px-to-rem(2px);
      background-color: $color-ux-video-controls-default-background;
      flex-grow: 1;

      .vjs-mouse-display {
        display: none;
      }

      .vjs-progress-holder {
        position: relative;
        width: 96%;
      }

      .vjs-load-progress,
      .vjs-play-progress {
        height: px-to-rem(8px);
        left: 2%;
        top: px-to-rem(16px);
        position: absolute;
        z-index: 10;
      }

      .vjs-play-progress {
        background-color: $color-ux-video-controls-hover-background;
        z-index: 15;

        .vjs-time-tooltip {
          display: none;
        }
      }

      .vjs-load-progress {
        background-color: $color-base-neutrals-light;
        z-index: 15;
      }

      &:hover,
      &:focus {
        .vjs-play-progress {
          position: relative;

          .vjs-time-tooltip {
            color: $brand-ilo-grey-light;
            font-size: px-to-rem(14px);
            height: px-to-rem(32px);
            align-items: center;
            background-color: $color-ux-credit-background;
            display: flex;
            justify-content: center;
            right: 0;
            position: absolute;
            bottom: calc(300% + 12px);
            width: 70px;
            @include font-styles("image-credit");

            &:after {
              background-position: top left;
              background-repeat: no-repeat;
              background-size: contain;
              @include dataurlicon("caret_down", $color-base-neutrals-dark);
              content: "";
              height: px-to-rem(12px);
              position: absolute;
              left: calc(50% - 6px);
              bottom: -#{px-to-rem(12px)};
              width: px-to-rem(12px);
            }
          }
        }
      }
    }

    // Volume Control
    .vjs-volume-panel {
      order: 3;
      border-bottom: 1px solid;
      bottom: 0;
      flex-direction: column;
      margin-right: px-to-rem(2px);
      position: relative;
      width: 40px;

      // Mute Button
      .vjs-mute-control {
        @include videobutton("videosoundon");
        height: px-to-rem(40px);

        &[title="Unmute"] {
          @include videobutton("videosoundoff");
        }
      }

      &.vjs-hover .vjs-volume-control {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
      }

      // Volume rocker
      .vjs-volume-control {
        background: $color-ux-video-controls-hover-background;
        border-left: px-to-rem(3px) solid rgb(184, 196, 204);
        display: none;
        height: px-to-rem(40px);
        position: absolute;
        transform: rotate(270deg);
        transform-origin: -4px -4px;
        top: px-to-rem(9px);
        width: px-to-rem(138px);

        .vjs-volume-bar {
          height: px-to-rem(4px);
          position: relative;
          width: calc(100% - 26px);
          //TODO: * JUMPING
        }

        .vjs-volume-tooltip {
          display: none;
        }

        .vjs-mouse-display {
          height: px-to-rem(4px);
          position: absolute;
          width: 100%;
          background-color: $color-base-neutrals-light;
        }

        .vjs-volume-level {
          height: px-to-rem(4px);
          left: 0;
          top: 0;
          position: absolute;
          background-color: $color-ux-video-controls-hover-icon;

          &:before {
            content: "";
            background: $color-ux-video-controls-hover-icon;
            border-radius: 50%;
            height: px-to-rem(16px);
            width: px-to-rem(16px);
            position: absolute;
            right: px-to-rem(-16px);
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .ilo--video--caption {
    border-left: none;
    border-right: 3px solid #b8c4cc;
    padding-left: 0;
    padding-right: spacing(2);
  }
}
