@use "../functions" as *;
@import "./image";
@import "../mixins";

// ======================================
// Video Button
// ======================================
@mixin videobutton($name, $size: "standard") {
  $height: if($size == "big", 72px, 32px);
  $box: if($size == "big", 80px, 40px);
  $width: $height;
  $icon-color-default: rgba(237, 240, 242, 1);
  $icon-color-hover: rgba(30, 45, 190, 1);

  cursor: pointer;
  border: none;
  background-color: var(--ilo-color-gray-charcoal);
  width: $box;
  height: $box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $width $height;
  @include dataurlicon($name, $icon-color-default);

  &:hover,
  &:focus {
    background-color: var(--ilo-color-blue-light);
    @include dataurlicon($name, $icon-color-hover);
  }
}

.ilo--video {
  width: 100%;

  .video-js {
    height: auto;
  }

  .vjs-loading-spinner {
    display: none;
  }

  .vjs-tech {
    width: 100%;
  }

  &--element {
    height: auto;
    object-fit: cover;
    width: inherit;
  }

  &--wrapper {
    line-height: 0;
    position: relative;
    overflow: hidden;
  }

  @include image-caption-styles;

  // ? drupal style reset issue
  button {
    padding: 0;
  }
  // Remove extra controls
  .vjs-time-divider,
  .vjs-remaining-time,
  .vjs-current-time,
  .vjs-control-text,
  .vjs-custom-control-spacer {
    display: none;
  }

  // Show Controls
  &:hover,
  &:focus,
  &:focus-within {
    .vjs-control-bar {
      opacity: 1;
      transition: opacity 150ms ease-out;
    }
  }

  // Youtube spacing
  .vjs-youtube {
    padding-bottom: 56.25%;
  }

  // Initial state
  &--element:not(.vjs-has-started) {
    .vjs-poster {
      background-size: cover;
      object-fit: cover;
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }

    .vjs-control-bar {
      & {
        bottom: auto;
        opacity: 1;
        top: 0;
        width: px-to-rem(124px);

        &:hover,
        &:focus {
          .vjs-duration,
          .vjs-play-control {
            background-color: var(--ilo-color-blue-light);
            color: var(--ilo-color-blue);
          }

          .vjs-play-control {
            @include dataurlicon("triangle_right", rgba(30, 45, 190, 1));
          }
        }

        .vjs-play-control {
          @include videobutton("triangle_right");
        }

        .vjs-duration {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          font-size: px-to-rem(14px);
          height: px-to-rem(40px);
          width: px-to-rem(80px);
          background-color: var(--ilo-color-gray-charcoal);
          color: var(--ilo-color-gray-light);
        }

        @include breakpoint("lg") {
          width: px-to-rem(80px);
          flex-direction: column;
          height: px-to-rem(124px);
          gap: px-to-rem(4px);
          .vjs-play-control {
            @include videobutton("triangle_right", "big");
          }
        }
      }

      // Hide controls for initial state
      .vjs-fullscreen-control {
        display: none;
      }

      .vjs-progress-control {
        display: none;
      }

      .vjs-volume-panel {
        display: none;
      }
    }
  }

  // Video With Non Initial State
  .vjs-control-bar {
    order: 1;
    opacity: 0;
    transition: opacity 150ms ease-out;
    position: absolute;
    display: flex;
    width: 100%;
    height: px-to-rem(40px);
    bottom: 0;

    // TODO: BIG SCREEN
    .vjs-duration {
      display: none;
    }

    .vjs-poster {
      display: none;
    }

    // Play Button
    .vjs-play-control {
      @include videobutton("triangle_right");
      margin-right: px-to-rem(2px);
      &.vjs-paused,
      &.vjs-ended {
        @include videobutton("triangle_right");
      }

      &.vjs-playing {
        @include videobutton("pause");
      }
    }

    // Fullscreen control
    .vjs-fullscreen-control {
      order: 5;
      @include videobutton("fullscreen");
    }

    // Duration Bar
    .vjs-progress-control {
      order: 2;
      margin-right: px-to-rem(2px);
      background-color: var(--ilo-color-gray-charcoal);
      flex-grow: 1;

      .vjs-mouse-display {
        display: none;
      }

      .vjs-progress-holder {
        position: relative;
        width: 96%;
      }

      .vjs-load-progress,
      .vjs-play-progress {
        height: px-to-rem(8px);
        left: 2%;
        top: px-to-rem(16px);
        position: absolute;
        z-index: 10;
      }

      .vjs-play-progress {
        background-color: var(--ilo-color-blue-light);
        z-index: 15;

        .vjs-time-tooltip {
          display: none;
        }
      }

      .vjs-load-progress {
        background-color: var(--ilo-color-gray-base);
        z-index: 15;
      }

      &:hover,
      &:focus {
        .vjs-play-progress {
          position: relative;

          .vjs-time-tooltip {
            color: var(--ilo-color-gray-light);
            font-size: px-to-rem(14px);
            height: px-to-rem(32px);
            align-items: center;
            background-color: var(--ilo-color-gray-charcoal);
            display: flex;
            justify-content: center;
            right: 0;
            position: absolute;
            bottom: calc(300% + 12px);
            width: 70px;
            @include typography("body-xsmall");

            &:after {
              background-position: top left;
              background-repeat: no-repeat;
              background-size: contain;
              @include dataurlicon("caret_down", rgba(45, 45, 45, 1));
              content: "";
              height: px-to-rem(12px);
              position: absolute;
              left: calc(50% - 6px);
              bottom: -#{px-to-rem(12px)};
              width: px-to-rem(12px);
            }
          }
        }
      }
    }

    // Volume Control
    .vjs-volume-panel {
      order: 3;
      border-bottom: 1px solid;
      bottom: 0;
      flex-direction: column;
      margin-right: px-to-rem(2px);
      position: relative;
      width: 40px;

      // Mute Button
      .vjs-mute-control {
        @include videobutton("sound_on");
        height: px-to-rem(40px);

        &[title="Unmute"] {
          @include videobutton("sound_off");
        }
      }

      &.vjs-hover .vjs-volume-control {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
      }

      // Volume rocker
      .vjs-volume-control {
        background: var(--ilo-color-blue-light);
        border-left: px-to-rem(3px) solid var(--ilo-color-gray-base);
        display: none;
        height: px-to-rem(40px);
        position: absolute;
        transform: rotate(270deg);
        transform-origin: -4px -4px;
        top: px-to-rem(9px);
        width: px-to-rem(138px);

        .vjs-volume-bar {
          height: px-to-rem(4px);
          position: relative;
          width: calc(100% - 26px);
          //TODO: * JUMPING
        }

        .vjs-volume-tooltip {
          display: none;
        }

        .vjs-mouse-display {
          height: px-to-rem(4px);
          position: absolute;
          width: 100%;
          background-color: var(--ilo-color-gray-base);
        }

        .vjs-volume-level {
          height: px-to-rem(4px);
          left: 0;
          top: 0;
          position: absolute;
          background-color: var(--ilo-color-blue);

          &:before {
            content: "";
            background: var(--ilo-color-blue);
            border-radius: 50%;
            height: px-to-rem(16px);
            width: px-to-rem(16px);
            position: absolute;
            right: px-to-rem(-16px);
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .vjs-fullscreen {
    .vjs-fullscreen-control {
      @include videobutton("reduce");
    }
  }
}
