/* -------------------------- */
/* -------- Overpass -------- */
/* -------------------------- */

/* --- Overpass Normal --- */

@font-face {
  font-family: "Overpass";
  src: url("~@ilo/fonts/assets/Overpass-Regular.eot");
  src: url("~@ilo/fonts/assets/Overpass-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/Overpass-Regular.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/Overpass-Regular.woff")
      format("woff"),
    url("~@ilo/fonts/assets/Overpass-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("~@ilo/fonts/assets/Overpass-Italic.eot");
  src: url("~@ilo/fonts/assets/Overpass-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/Overpass-Italic.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/Overpass-Italic.woff")
      format("woff"),
    url("~@ilo/fonts/assets/Overpass-Italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* --- Overpass Light --- */

@font-face {
  font-family: "Overpass";
  src: url("~@ilo/fonts/assets/Overpass-Light.eot");
  src: url("~@ilo/fonts/assets/Overpass-Light.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/Overpass-Light.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/Overpass-Light.woff")
      format("woff"),
    url("~@ilo/fonts/assets/Overpass-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* --- Overpass SemiBold --- */

@font-face {
  font-family: "Overpass";
  src: url("~@ilo/fonts/assets/Overpass-SemiBold.eot");
  src: url("~@ilo/fonts/assets/Overpass-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/Overpass-SemiBold.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/Overpass-SemiBold.woff")
      format("woff"),
    url("~@ilo/fonts/assets/Overpass-SemiBold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("~@ilo/fonts/assets/Overpass-SemiBoldItalic.eot");
  src: url("~@ilo/fonts/assets/Overpass-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/Overpass-SemiBoldItalic.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/Overpass-SemiBoldItalic.woff")
      format("woff"),
    url("~@ilo/fonts/assets/Overpass-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* --------------------------- */
/* -------- Noto Sans -------- */
/* --------------------------- */

/* --- Noto Sans Normal --- */

@font-face {
  font-family: "Noto Sans";
  src: url("~@ilo/fonts/assets/NotoSans.eot");
  src: url("~@ilo/fonts/assets/NotoSans.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/NotoSans.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/NotoSans.woff") format("woff"),
    url("~@ilo/fonts/assets/NotoSans.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~@ilo/fonts/assets/NotoSans-Italic.eot");
  src: url("~@ilo/fonts/assets/NotoSans-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/NotoSans-Italic.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/NotoSans-Italic.woff")
      format("woff"),
    url("~@ilo/fonts/assets/NotoSans-Italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* --- Noto Sans 700 --- */

@font-face {
  font-family: "Noto Sans";
  src: url("~@ilo/fonts/assets/NotoSans-Bold.eot");
  src: url("~@ilo/fonts/assets/NotoSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/NotoSans-Bold.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/NotoSans-Bold.woff")
      format("woff"),
    url("~@ilo/fonts/assets/NotoSans-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~@ilo/fonts/assets/NotoSans-BoldItalic.eot");
  src: url("~@ilo/fonts/assets/NotoSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ilo/fonts/assets/NotoSans-BoldItalic.woff2")
      format("woff2"),
    url("~@ilo/fonts/assets/NotoSans-BoldItalic.woff")
      format("woff"),
    url("~@ilo/fonts/assets/NotoSans-BoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
