//*------------------------------------*\
//    $ANIMATIONS
//*------------------------------------*/
@use "tokens" as *;
@import "mixins";

// ======================================
// Global transition
// ======================================
/// Applies the global transition to any transitionable property
/// @param {String} $properties - the name of the property on which to transition
/// @return {CSS} transition for the given properties
@mixin globaltransition($properties) {
  transition-property: unquote($properties);
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

// ======================================
// Animation of empty gradient
// ======================================
@keyframes emptygradient {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// ======================================
// Animation of loading graphic
// ======================================
@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
