/// The value used to prefix selectors and CSS Custom Properties across the
/// codebase
/// @access public
/// @type String
/// @group config
$prefix: "ilo" !default;

/// The base font size for the design system
/// @access public
/// @type Number
/// @group config
$base-font-size: 18.66px;
