//*------------------------------------*\
//    $MIXINS
//*------------------------------------*/
@use "tokens" as *;
@use "functions" as *;
@use "animations" as *;
@use "theme/breakpoints" as *;

// ======================================
// Output font styles
// ======================================
/// Retrieve the usual font styles for a given type styling
/// @param {String} $stylename - the name of the style to get
/// @return {CSS} font size, line-height, and letter-spacing for this type style
@mixin font-styles($stylename) {
  font-size: map-get($type, $stylename, "size");
  letter-spacing: map-get($type, $stylename, "letter-spacing");
  line-height: map-get($type, $stylename, "line-height");
}

// ======================================
// Visually Hidden
//
// Visually hide the element from the
// screen but still have it accessible
// via screenreaders
//
// ======================================
@mixin isVisuallyHidden() {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ======================================
// Breakpoint
// ======================================

@mixin breakpoint($breakpoint, $max: false) {
  @if map-has-key($breakpoints-foundation, $breakpoint) {
    @if not $max {
      @media screen and (min-width: map-get($breakpoints-foundation, $breakpoint)) {
        @content;
      }
    }

    @if $max {
      @media screen and (max-width: #{map-get($breakpoints-foundation, $breakpoint) - 1px}) {
        @content;
      }
    }
  }
}

// ======================================
// Text Margin
//
// calculates reduced margin to account
// for line-height and descenders
// ======================================

@mixin textmargin(
  $margin,
  $marginval,
  $stylename,
  $descender,
  $stylename2: false,
  $descender2: false
) {
  @if $stylename2 != false {
    #{$margin}: px-to-rem(
      margin-adjust(
        $marginval,
        map-get($type, "descenders", $descender),
        map-get($type, $stylename, "size"),
        map-get($type, $stylename, "line-height")
      )
    );
  } @else {
    #{$margin}: px-to-rem(
      margin-adjust(
        $marginval,
        map-get($type, "descenders", $descender),
        map-get($type, $stylename, "size"),
        map-get($type, $stylename, "line-height"),
        map-get($type, "descenders", $descender2),
        map-get($type, $stylename2, "size"),
        map-get($type, $stylename2, "line-height")
      )
    );
  }
}

// ======================================
// Border Values
// ======================================

@mixin bordervalues($mappath, $location, $state: "default") {
  border-bottom: px-to-rem(
      map-get($spacing, $location, $mappath, $state, "border", "bottom")
    )
    solid map-get($color, $location, $mappath, $state, "border", "bottom");
  border-left: px-to-rem(
      map-get($spacing, $location, $mappath, $state, "border", "left")
    )
    solid map-get($color, $location, $mappath, $state, "border", "left");
  border-right: px-to-rem(
      map-get($spacing, $location, $mappath, $state, "border", "right")
    )
    solid map-get($color, $location, $mappath, $state, "border", "right");
  border-top: px-to-rem(
      map-get($spacing, $location, $mappath, $state, "border", "top")
    )
    solid map-get($color, $location, $mappath, $state, "border", "top");
}

// ======================================
// Border Radius Values
// ======================================

@mixin borderradius($mappath) {
  border-bottom-left-radius: map-get($radius, $mappath, "bottom-left");
  border-bottom-right-radius: map-get($radius, $mappath, "bottom-right");
  border-top-left-radius: map-get($radius, $mappath, "top-left");
  border-top-right-radius: map-get($radius, $mappath, "top-right");
}

// ======================================
// Box Padding Values
// ======================================

@mixin boxpadding($mappath, $size) {
  padding-bottom: map-get($spacing, "boxpadding", $mappath, $size, "bottom");
  padding-left: map-get($spacing, "boxpadding", $mappath, $size, "left");
  padding-right: map-get($spacing, "boxpadding", $mappath, $size, "right");
  padding-top: map-get($spacing, "boxpadding", $mappath, $size, "top");
}

// ======================================
// Data URL Icon
// ======================================

@mixin dataurlicon($name, $color: $color-base-neutrals-black) {
  background-image: url("#{colortodataurlicon($name, $color)}");
  background-repeat: no-repeat;
}

@mixin icon($name, $color: black) {
  $icon: map-get($icons, $name);
  mask-image: url("#{$icon}");
  mask-repeat: no-repeat;
  -webkit-mask-image: url("#{$icon}");
  -webkit-mask-repeat: no-repeat;
  background-color: $color;
}

// ======================================
// Video Button
// ======================================
@mixin videobutton($name, $size: "standard") {
  $height: if($size == "big", 72px, 32px);
  $box: if($size == "big", 80px, 40px);
  $width: $height;
  $color: $color-ux-video-controls-default-icon;

  cursor: pointer;
  border: none;
  background-color: $color-ux-video-controls-default-background;
  width: $box;
  height: $box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $width $height;
  @include dataurlicon($name, $color);

  &:hover,
  &:focus {
    background-color: $color-ux-video-controls-hover-background;
    $color: $color-ux-video-controls-hover-icon;
    @include dataurlicon($name, $color);
  }
}

// ======================================
// Link styles
// ======================================

@mixin linkstyles($theme: "light") {
  $color-default: var(--ilo-link-color-default-light);
  $color-visited: var(--ilo-link-color-visited-light);
  $color-hover: var(--ilo-link-color-hover-light);
  $color-active: var(--ilo-link-color-active-light);
  $color-focus: var(--ilo-link-color-focus-light);
  $background-default: var(--ilo-link-background-default-light);
  $background-hover: var(--ilo-link-background-hover-light);
  $background-focus: var(--ilo-link-background-focus-light);

  @if ($theme == "dark") {
    $color-default: var(--ilo-link-color-default-dark);
    $color-visited: var(--ilo-link-color-visited-dark);
    $color-hover: var(--ilo-link-color-hover-dark);
    $background-default: var(--ilo-link-background-default-dark);
    $background-hover: var(--ilo-link-background-hover-dark);
    $background-focus: var(--ilo-link-background-focus-dark);
  }

  // Default styles
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  background: transparent;
  text-decoration-thickness: #{px-to-rem(1px)};
  text-underline-offset: #{px-to-rem(6px)};
  padding-bottom: #{spacing(1)};

  color: $color-default;
  text-decoration-color: $color-default;

  &:visited {
    color: $color-visited;
    text-decoration-color: $color-visited;
  }

  &:hover {
    color: $color-hover;
    background-color: $background-hover;
    text-decoration-color: $color-hover;
    text-decoration-thickness: #{px-to-rem(3px)};
  }

  &:active,
  &:focus {
    color: $color-focus;
    text-decoration-color: $color-focus;
    text-decoration-thickness: #{px-to-rem(3px)};
    background-color: $background-focus;
    outline: none;
  }
}

// ======================================
// Cornercut
// ======================================

@mixin cornercut(
  $width: $spacing-padding-8,
  $height: $spacing-padding-5,
  $dir: "right",
  $side: "top"
) {
  @if ($side == "top") {
    @if ($dir == "right") {
      clip-path: polygon(
        0 0,
        calc(100% - $width) 0,
        100% $height,
        100% 100%,
        0 100%
      );
    }

    @if ($dir == "left") {
      clip-path: polygon($width 0, 100% 0, 100% 100%, 0 100%, 0 $height);
    }
  }

  @if ($side == "bottom") {
    @if ($dir == "right") {
      clip-path: polygon(0 0, 100% 0, calc(100% - $width) $height, 0 100%);
    }

    @if ($dir == "left") {
      clip-path: polygon(0 0, 100% 0, 100% $height, $width 100%);
    }
  }
}

// ======================================
// Background box for a caption icon tooltip (see Hero)
// ======================================

@mixin caption-icon-wrapper($dir: "right", $width, $height) {
  --ilo-caption-icon-wrapper-bg-color: var(--ilo-color-gray-charcoal);
  background: var(--ilo-caption-icon-wrapper-bg-color);
  height: $height;
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: #{$height} solid transparent;

    @if ($dir == "right") {
      left: 100%;
      border-right: none;
      border-left: calc(#{$height} - 4px)
        solid
        var(--ilo-caption-icon-wrapper-bg-color);
    }

    @if ($dir == "left") {
      left: auto;
      right: 100%;
      border-left: none;
      border-right: calc(#{$height} - 4px)
        solid
        var(--ilo-caption-icon-wrapper-bg-color);
    }
  }
}

@mixin hero-grid-rows($min-height: $spacing-hero-image-min-height) {
  grid-template-rows:
    minmax($min-height, 1fr)
    $spacing-hero-tooltip-height
    $spacing-hero-card-corner-cut-height-sm
    auto;
}

// ======================================
// List with markers that don't get chopped
// off by containers with overflow: hidden;
// Applies list styles to the List component
// and also lists in RichText.
// ======================================

@mixin invincible-list($bullet-color: var(--ilo-color-gray-base)) {
  li {
    position: relative;
    margin-bottom: spacing(4);
    display: table;
    border-collapse: separate;
    border-spacing: spacing(3) 0;
    margin-left: calc(spacing(3) * -1);
    margin-right: calc(spacing(3) * -1);

    font-family: var(--ilo-fonts-copy);
    font-weight: var(--ilo-font-weight-regular);
    font-size: var(--ilo-font-size-md);
    line-height: var(--ilo-line-height-2xlg);

    @include breakpoint("md") {
      font-size: var(--ilo-font-size-lg);
    }
  }

  // Ordered list styles
  ol {
    counter-reset: item;

    li {
      counter-increment: item;

      &::before {
        content: counter(item) ".";
        display: table-cell;
        text-align: right;
        width: px-to-rem(26px);
      }
    }
  }

  // Unordered list styles
  ul {
    li {
      &::before {
        content: "";
        display: table-cell;
        width: px-to-rem(26px);
        @include icon("caret_right", $bullet-color);

        // Adjust for RTL
        [dir="rtl"] & {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@mixin typography($variant, $mobile: false) {
  @if $variant ==
    "heading-1" or
    $variant ==
    "heading-2" or
    $variant ==
    "heading-3" or
    $variant ==
    "heading-4" or
    $variant ==
    "blockquote" or
    str-index($variant, "highlight") !=
    null
  {
    font-family: var(--ilo-fonts-display);
  } @else {
    font-family: var(--ilo-fonts-copy);
  }

  @if $variant == "heading-1" {
    font-size: var(--ilo-font-size-5xlg);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-xsm);
    letter-spacing: var(--ilo-letter-spacing-xsm);
    @if $mobile {
      font-size: var(--ilo-font-size-4xlg);
      line-height: var(--ilo-line-height-sm);
    }
  } @else if $variant == "heading-2" {
    font-size: var(--ilo-font-size-3xlg);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-md);
    letter-spacing: var(--ilo-letter-spacing-xsm);
    @if $mobile {
      font-size: var(--ilo-font-size-xlg);
    }
  } @else if $variant == "heading-3" {
    font-size: var(--ilo-font-size-xlg);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-md);
    letter-spacing: var(--ilo-letter-spacing-xsm);
    @if $mobile {
      font-size: var(--ilo-font-size-lg);
      line-height: var(--ilo-line-height-lg);
    }
  } @else if $variant == "heading-4" {
    font-size: var(--ilo-font-size-lg);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-lg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-md);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "blockquote" {
    font-size: var(--ilo-font-size-4xlg);
    font-weight: var(--ilo-font-weight-light);
    line-height: var(--ilo-line-height-sm);
    letter-spacing: var(--ilo-letter-spacing-xsm);
    @if $mobile {
      font-size: var(--ilo-font-size-2xlg);
      line-height: var(--ilo-line-height-md);
    }
  } @else if $variant == "highlight-large" {
    font-size: var(--ilo-font-size-lg);
    font-weight: var(--ilo-font-weight-medium);
    line-height: var(--ilo-line-height-lg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-md);
      line-height: var(--ilo-line-height-lg);
    }
  } @else if $variant == "highlight-medium" {
    font-size: var(--ilo-font-size-md);
    font-weight: var(--ilo-font-weight-medium);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-sm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "highlight-medium-bold" {
    font-size: var(--ilo-font-size-md);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-sm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "highlight-small" {
    font-size: var(--ilo-font-size-sm);
    font-weight: var(--ilo-font-weight-medium);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-sm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "highlight-small-bold" {
    font-size: var(--ilo-font-size-sm);
    font-weight: var(--ilo-font-weight-bold);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-sm);
    @if $mobile {
      font-size: var(--ilo-font-size-sm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "body-xlarge" {
    font-size: var(--ilo-font-size-xlg);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-2xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-lg);
      line-height: var(--ilo-line-height-2xlg);
    }
  } @else if $variant == "body-large" {
    font-size: var(--ilo-font-size-lg);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-2xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-md);
      line-height: var(--ilo-line-height-2xlg);
    }
  } @else if $variant == "body-medium" {
    font-size: var(--ilo-font-size-md);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-2xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-md);
      line-height: var(--ilo-line-height-2xlg);
    }
  } @else if $variant == "body-small" {
    font-size: var(--ilo-font-size-sm);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-sm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "body-xsmall" {
    font-size: var(--ilo-font-size-xsm);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-xsm);
      line-height: var(--ilo-line-height-xlg);
    }
  } @else if $variant == "body-2xsmall" {
    font-size: var(--ilo-font-size-2xsm);
    font-weight: var(--ilo-font-weight-regular);
    line-height: var(--ilo-line-height-3xlg);
    letter-spacing: var(--ilo-letter-spacing-md);
    @if $mobile {
      font-size: var(--ilo-font-size-2xsm);
      line-height: var(--ilo-line-height-3xlg);
    }
  } @else {
    @error "Typography variant '#{$variant}' not recognized";
  }
}

@mixin skeleton-element($height, $width) {
  height: px-to-rem($height);
  width: $width;
  background: var(--skeleton-element-bg-color);

  @include pulse-animation();
}
