/**
* This file is an opinionated reset that is based on https://nicolas-cusan.github.io/destyle.css/
* it aims to provide a clean layer for styling, the reset should be used with normalize.css in order to create
* a normalized base
**/

*,
::before,
::after {
  box-sizing: border-box;
}

body,
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl,
ul,
ol,
fieldset,
option,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

textarea {
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/// Makes SVGs accessible in high contrast mode
/// @link https://github.com/IBM/carbon-elements/issues/345#issuecomment-466577293 Carbon-elements #345
@media screen and (-ms-high-contrast: active) {
  svg {
    fill: ButtonText;
  }
}
