@use "vars" as *;

$carbon--theme--ilo: (
  interactive-01: #0b77c2,
  interactive-02: #0b77c2,
  interactive-03: #d7dfe7,
  interactive-04: #0b77c2,
  ui-background: #ffffff,
  ui-01: #ebf1f4,
  ui-02: #cccccc,
  ui-03: #d7dfe7,
  ui-04: #d3e1e8,
  ui-05: #8c9ba5,
  text-01: #031c2d,
  text-02: #5a6872,
  text-03: #96a2a8,
  text-04: #ffffff,
  text-05: #5a6872,
  icon-01: #1d2023,
  icon-02: #97a2a9,
  icon-03: #ffffff,
  link-01: #0b77c2,
  link-02: #085387,
  inverse-link: #8ccfff,
  field-01: #ffffff,
  field-02: #cccccc,
  inverse-01: #f3f7f9,
  inverse-02: #333945,
  support-01: #c5192d,
  support-02: #689e18,
  support-03: #f7b825,
  support-04: #007dbc,
  inverse-support-01: #ff4056,
  inverse-support-02: #9eea2d,
  inverse-support-03: #ffcf60,
  inverse-support-04: #17b1ff,
  overlay-01: #0b1923,
  danger-01: #c5192d,
  danger-02: #c5192d,
  inverse-focus-ui: #0b77c2,
  hover-primary: #085387,
  active-primary: #1a4262,
  hover-primary-text: #085387,
  hover-secondary: #085387,
  active-secondary: #1a4262,
  hover-tertiary: #c5d0db,
  active-tertiary: #c5d0dc,
  hover-ui: #ffffff,
  hover-light-ui: #5e5e5e,
  active-ui: #ffffff,
  active-light-ui: #cccccc,
  selected-ui: #ffffff,
  selected-light-ui: #cccccc,
  inverse-hover-ui: #313c44,
  hover-selected-ui: #0b77c2,
  hover-danger: #981323,
  active-danger: #451e22,
  hover-row: #0b77c2,
  visited-link: #085387,
  disabled-01: #586b77,
  disabled-02: #8c9ba5,
  disabled-03: #5a6872,
  decorative-01: #cccccc,
  skeleton-01: #8c9ba5,
  skeleton-02: #dfe3e6,
  brand-01: #0b77c2,
  brand-02: #0b77c2,
  brand-03: #d7dfe7,
  active-01: #ffffff,
  hover-field: #ffffff,
  danger: #c5192d,
  caption-01: (
    font-size: 0.75rem,
    font-weight: 400,
    line-height: 1.34,
    letter-spacing: 0.32px,
  ),
  caption-02: (
    font-size: 0.875rem,
    font-weight: 400,
    line-height: 1.29,
    letter-spacing: 0.32px,
  ),
  label-01: (
    font-size: 0.75rem,
    font-weight: 400,
    line-height: 1.34,
    letter-spacing: 0.32px,
  ),
  label-02: (
    font-size: 0.875rem,
    font-weight: 400,
    line-height: 1.29,
    letter-spacing: 0.32px,
  ),
  helper-text-01: (
    font-size: 0.75rem,
    line-height: 1.34,
    letter-spacing: 0.32px,
  ),
  helper-text-02: (
    font-size: 0.875rem,
    line-height: 1.29,
    letter-spacing: 0.32px,
  ),
  body-short-01: (
    font-size: 0.875rem,
    font-weight: 400,
    line-height: 1.29,
    letter-spacing: 0.16px,
  ),
  body-long-01: (
    font-size: 0.875rem,
    font-weight: 400,
    line-height: 1.43,
    letter-spacing: 0.16px,
  ),
  body-short-02: (
    font-size: 1rem,
    font-weight: 400,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  body-long-02: (
    font-size: 1rem,
    font-weight: 400,
    line-height: 1.5,
    letter-spacing: 0,
  ),
  code-01: (
    font-family:
      unquote(
        "'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace"
      ),
    font-size: 0.75rem,
    font-weight: 400,
    line-height: 1.34,
    letter-spacing: 0.32px,
  ),
  code-02: (
    font-family:
      unquote(
        "'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace"
      ),
    font-size: 1rem,
    font-weight: 400,
    line-height: 1.43,
    letter-spacing: 0.32px,
  ),
  heading-01: (
    font-size: 0.875rem,
    font-weight: 600,
    line-height: 1.29,
    letter-spacing: 0.16px,
  ),
  productive-heading-01: (
    font-size: 1rem,
    font-weight: 600,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  heading-02: (
    font-size: 1rem,
    font-weight: 600,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  productive-heading-02: (
    font-size: 1.125rem,
    font-weight: 600,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  productive-heading-03: (
    font-size: 1.25rem,
    font-weight: 600,
    line-height: 1.4,
    letter-spacing: 0,
  ),
  productive-heading-04: (
    font-size: 1.75rem,
    font-weight: 600,
    line-height: 1.29,
    letter-spacing: 0,
  ),
  productive-heading-05: (
    font-size: 1.5rem,
    font-weight: 600,
    line-height: 1.25,
    letter-spacing: 0,
  ),
  productive-heading-06: (
    font-size: 2.625rem,
    font-weight: 300,
    line-height: 1.199,
    letter-spacing: 0,
  ),
  productive-heading-07: (
    font-size: 3.375rem,
    font-weight: 300,
    line-height: 1.19,
    letter-spacing: 0,
  ),
  expressive-heading-01: (
    font-size: 0.875rem,
    font-weight: 600,
    line-height: 1.25,
    letter-spacing: 0.16px,
  ),
  expressive-heading-02: (
    font-size: 1rem,
    font-weight: 600,
    line-height: 1.5,
    letter-spacing: 0,
  ),
  expressive-heading-03: (
    font-size: 1.25rem,
    font-weight: 400,
    line-height: 1.4,
    letter-spacing: 0,
    breakpoints: (
      xlg: (
        font-size: 1.25rem,
        line-height: 1.25,
      ),
      max: (
        font-size: 1.5rem,
        line-height: 1.334,
      ),
    ),
  ),
  expressive-heading-04: (
    font-size: 1.75rem,
    font-weight: 400,
    line-height: 1.29,
    letter-spacing: 0,
    breakpoints: (
      xlg: (
        font-size: 1.75rem,
        line-height: 1.25,
      ),
      max: (
        font-size: 2rem,
      ),
    ),
  ),
  expressive-heading-05: (
    font-size: 2rem,
    font-weight: 400,
    line-height: 1.25,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 2.25rem,
        font-weight: 300,
        line-height: 1.22,
        letter-spacing: 0,
      ),
      lg: (
        font-size: 2.625rem,
        font-weight: 300,
        line-height: 1.19,
        letter-spacing: 0,
      ),
      xlg: (
        font-size: 3rem,
        font-weight: 300,
        line-height: 1.17,
        letter-spacing: 0,
      ),
      max: (
        font-size: 3.75rem,
        font-weight: 300,
        letter-spacing: 0,
      ),
    ),
  ),
  expressive-heading-06: (
    font-size: 2rem,
    font-weight: 600,
    line-height: 1.25,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 2.25rem,
        font-weight: 600,
        line-height: 1.22,
        letter-spacing: 0,
      ),
      lg: (
        font-size: 2.625rem,
        font-weight: 600,
        line-height: 1.19,
        letter-spacing: 0,
      ),
      xlg: (
        font-size: 3rem,
        font-weight: 600,
        line-height: 1.17,
        letter-spacing: 0,
      ),
      max: (
        font-size: 3.75rem,
        font-weight: 600,
        letter-spacing: 0,
      ),
    ),
  ),
  expressive-paragraph-01: (
    font-size: 1.5rem,
    font-weight: 300,
    line-height: 1.334,
    letter-spacing: 0,
    breakpoints: (
      lg: (
        font-size: 1.75rem,
        line-height: 1.29,
      ),
      max: (
        font-size: 2rem,
        line-height: 1.25,
      ),
    ),
  ),
  quotation-01: (
    font-size: 1.25rem,
    font-weight: 400,
    line-height: 1.3,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 1.25rem,
        font-weight: 400,
        letter-spacing: 0,
      ),
      lg: (
        font-size: 1.5rem,
        font-weight: 400,
        line-height: 1.334,
        letter-spacing: 0,
      ),
      xlg: (
        font-size: 1.75rem,
        font-weight: 400,
        line-height: 1.29,
        letter-spacing: 0,
      ),
      max: (
        font-size: 2rem,
        font-weight: 400,
        line-height: 1.25,
        letter-spacing: 0,
      ),
    ),
  ),
  quotation-02: (
    font-size: 2rem,
    font-weight: 300,
    line-height: 1.25,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 2.25rem,
        line-height: 1.22,
      ),
      lg: (
        font-size: 2.625rem,
        line-height: 1.19,
      ),
      xlg: (
        font-size: 3rem,
        line-height: 1.17,
      ),
      max: (
        font-size: 3.75rem,
      ),
    ),
  ),
  display-01: (
    font-size: 2.625rem,
    font-weight: 300,
    line-height: 1.19,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 2.625rem,
      ),
      lg: (
        font-size: 3.375rem,
      ),
      xlg: (
        font-size: 3.75rem,
        line-height: 1.17,
      ),
      max: (
        font-size: 4.75rem,
        line-height: 1.13,
      ),
    ),
  ),
  display-02: (
    font-size: 2.625rem,
    font-weight: 600,
    line-height: 1.19,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 2.625rem,
      ),
      lg: (
        font-size: 3.375rem,
      ),
      xlg: (
        font-size: 3.75rem,
        line-height: 1.16,
      ),
      max: (
        font-size: 4.75rem,
        line-height: 1.13,
      ),
    ),
  ),
  display-03: (
    font-size: 2.625rem,
    font-weight: 300,
    line-height: 1.19,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 4.25rem,
        line-height: 1.15,
      ),
      lg: (
        font-size: 5.75rem,
        line-height: 1.11,
        letter-spacing: -0.64px,
      ),
      xlg: (
        font-size: 7.625rem,
        line-height: 1.07,
      ),
      max: (
        font-size: 9.75rem,
        line-height: 1.05,
        letter-spacing: -0.96px,
      ),
    ),
  ),
  display-04: (
    font-size: 2.625rem,
    font-weight: 600,
    line-height: 1.19,
    letter-spacing: 0,
    breakpoints: (
      md: (
        font-size: 4.25rem,
        line-height: 1.15,
      ),
      lg: (
        font-size: 5.75rem,
        line-height: 1.11,
        letter-spacing: -0.64px,
      ),
      xlg: (
        font-size: 7.625rem,
        line-height: 1.07,
        letter-spacing: -0.64px,
      ),
      max: (
        font-size: 9.75rem,
        line-height: 1.05,
        letter-spacing: -0.96px,
      ),
    ),
  ),
  spacing-01: 0.125rem,
  spacing-02: 0.25rem,
  spacing-03: 0.5rem,
  spacing-04: 0.75rem,
  spacing-05: 1rem,
  spacing-06: 1.5rem,
  spacing-07: 2rem,
  spacing-08: 2.5rem,
  spacing-09: 3rem,
  spacing-10: 4rem,
  spacing-11: 5rem,
  spacing-12: 6rem,
  spacing-13: 10rem,
  fluid-spacing-01: 0,
  fluid-spacing-02: 2vw,
  fluid-spacing-03: 5vw,
  fluid-spacing-04: 10vw,
  layout-01: 1rem,
  layout-02: 1.5rem,
  layout-03: 2rem,
  layout-04: 3rem,
  layout-05: 4rem,
  layout-06: 6rem,
  layout-07: 10rem,
  container-01: 1.5rem,
  container-02: 2rem,
  container-03: 2.5rem,
  container-04: 3rem,
  container-05: 4rem,
  size-xsmall: 1.5rem,
  size-small: 2rem,
  size-medium: 2.5rem,
  size-large: 3rem,
  size-xlarge: 4rem,
  size-2XLarge: 5rem,
  icon-size-01: 1rem,
  icon-size-02: 1.25rem,
  corporate-1: #007dbc,
  corporate-2: #000000,
  corporate-3: #ffffff,
  corporate-4: #36b5c5,
  corporate-5: #00b485,
  corporate-6: #008868,
  corporate-7: #1a4262,
  corporate-8: #982b56,
  corporate-9: #ef404c,
  corporate-10: #f47847,
  corporate-11: #b79f8d,
  corporate-12: #ecdfbb,
  brand: #007dbc,
  brand-dark: #1a4262,
  interactive: #0b77c2,
  overlay: #0b1923,
  focus: #0b77c2,
  focus-inverse: #0b77c2,
  focus-inset: #ffffff,
  highlight: #bbe3ff,
  background: #ffffff,
  background-hover: #ffffff,
  background-active: #ffffff,
  background-inverse: #333945,
  background-inverse-max: #232831,
  background-inverse-hover: #313c44,
  background-selected: #ffffff,
  background-selected-hover: #ffffff,
  background-brand: #0b77c2,
  layer: #ebf1f4,
  layer-active: #dfe3e6,
  layer-hover: #0b77c2,
  layer-selected: #0b77c2,
  layer-selected-hover: #0b77c2,
  layer-selected-inverse: #0b77c2,
  layer-selected-disabled: #0b77c2,
  layer-accent: #d7dfe7,
  layer-accent-active: #7e8b93,
  layer-accent-hover: #586b77,
  layer-disabled: #586b77,
  text-primary: #031c2d,
  text-secondary: #5a6872,
  text-placeholder: #96a2a8,
  text-helper: #5a6872,
  text-on-color: #ffffff,
  text-inverse: $brand-dk-blue,
  text-disabled: #020202,
  text-error: #c5192d,
  text-warning: #b98407,
  text-success: #3f600f,
  text-info: #085387,
  text-on-color-disabled: #5a6872,
  button-primary: $brand-yellow,
  button-primary-hover: $brand-grey,
  button-primary-active: $ilo-blue,
  button-secondary: #0b77c2,
  button-secondary-hover: #085387,
  button-secondary-active: #1a4262,
  button-tertiary: #d7dfe7,
  button-tertiary-hover: #c5d0db,
  button-tertiary-active: #c5d0dc,
  button-danger-primary: #c5192d,
  button-danger-secondary: #c5192d,
  button-danger-hover: #981323,
  button-danger-active: #451e22,
  button-ghost-hover: #f0f3f6,
  button-ghost-active: #dde8ed,
  button-inverse: #ffffff,
  button-inverse-hover: #ffffff,
  button-inverse-active: #ffffff,
  button-main-navigation: #3b94d3,
  button-main-navigation-hover: #509fd8,
  button-disabled: #c5cdd2,
  button-separator: #c5192d,
  link-primary: #0b77c2,
  link-primary-hover: #085387,
  link-secondary: #085387,
  link-visited: #085387,
  link-on-color: #ffffff,
  link-inverse: #8ccfff,
  field: #ffffff,
  field-hover: #ffffff,
  field-border: #77a0b6,
  field-option-hover: #e0ebfd,
  field-option-active: #dfe3e6,
  field-disabled: #f9fbfc,
  toggle-off: #8c9ba5,
  icon-primary: #1d2023,
  icon-secondary: #97a2a9,
  icon-tertiary: #77a0b6,
  icon-on-color: #ffffff,
  icon-on-color-disabled: #ffffff,
  icon-inverse: #ffffff,
  icon-disabled: #8c9ba5,
  border-subtle: #f0f3f6,
  border-strong: #d3e1e8,
  border-inverse: #8c9ba5,
  border-interactive: #007dbc,
  border-subtle-selected: #f0f3f6,
  border-disabled: #dfe6eb,
  support-error: #c5192d,
  support-success: #689e18,
  support-warning: #f7b825,
  support-info: #007dbc,
  support-error-light: #f1c6cb,
  support-success-light: #ccdbcd,
  support-warning-light: #fdedc9,
  support-info-light: #dae9f4,
  support-error-inverse: #ff4056,
  support-success-inverse: #9eea2d,
  support-warning-inverse: #ffcf60,
  support-info-inverse: #17b1ff,
  skeleton-background: #8c9ba5,
  skeleton-element: #dfe3e6,
  logo-white: #ffffff,
  logo-black: #000000,
  logo-blue: #0b77c2,
  datavis-sequential-default-sequential-default-1: #9deaff,
  datavis-sequential-default-sequential-default-2: #73c3fe,
  datavis-sequential-default-sequential-default-3: #4aa1e2,
  datavis-sequential-default-sequential-default-4: #0780c0,
  datavis-sequential-default-sequential-default-5: #005f9b,
  datavis-sequential-default-sequential-default-6: #003f76,
  datavis-sequential-default-sequential-default-7: #002153,
  datavis-sequential-secondary-sequential-secondary-1: #bdf9c4,
  datavis-sequential-secondary-sequential-secondary-2: #89eaa8,
  datavis-sequential-secondary-sequential-secondary-3: #5fd79a,
  datavis-sequential-secondary-sequential-secondary-4: #41c196,
  datavis-sequential-secondary-sequential-secondary-5: #33aa96,
  datavis-sequential-secondary-sequential-secondary-6: #319298,
  datavis-sequential-secondary-sequential-secondary-7: #367a96,
  datavis-categorical-categorical-1: #007dbc,
  datavis-categorical-categorical-2: #36b5c5,
  datavis-categorical-categorical-3: #00b485,
  datavis-categorical-categorical-4: #008868,
  datavis-categorical-categorical-5: #1a4262,
  datavis-categorical-categorical-6: #982b56,
  datavis-categorical-categorical-7: #ef404c,
  datavis-categorical-categorical-8: #f47847,
  datavis-categorical-categorical-9: #b79f8d,
  datavis-categorical-categorical-10: #ecdfbb,
  datavis-diverging-diverging-1: #73c5d0,
  datavis-diverging-diverging-2: #ecdfbb,
  datavis-alert-alert-1: #5fd79a,
  datavis-alert-alert-2: #a0db90,
  datavis-alert-alert-3: #d0de85,
  datavis-alert-alert-4: #fbe07a,
  datavis-alert-alert-5: #fbb16a,
  datavis-alert-alert-6: #f77f5b,
  datavis-alert-alert-7: #ef404c,
) !default;
