// Set prefix on default styles
@use "config";

// Import our normalize styles
@use "normalize";

// Load the css resets
@use "reset";

//Import type styles
@use "typography";

// Import our custom components css
@use "components";
