/* -------------------------- */
/* -------- Overpass -------- */
/* -------------------------- */

/* --- Overpass Medium --- */

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* --- Overpass Light --- */

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Light.eot");
  src: url("../fonts/Overpass-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-Light.woff2") format("woff2"),
    url("../fonts/Overpass-Light.woff") format("woff"),
    url("../fonts/Overpass-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* --- Overpass Bold --- */

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Bold.eot");
  src: url("../fonts/Overpass-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-Bold.woff2") format("woff2"),
    url("../fonts/Overpass-Bold.woff") format("woff"),
    url("../fonts/Overpass-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-BoldItalic.eot");
  src: url("../fonts/Overpass-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Overpass-BoldItalic.woff2") format("woff2"),
    url("../fonts/Overpass-BoldItalic.woff") format("woff"),
    url("../fonts/Overpass-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* --------------------------- */
/* -------- Noto Sans -------- */
/* --------------------------- */

/* --- Noto Sans Normal --- */

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.eot");
  src: url("../fonts/NotoSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSans.woff2") format("woff2"),
    url("../fonts/NotoSans.woff") format("woff"),
    url("../fonts/NotoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Italic.eot");
  src: url("../fonts/NotoSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSans-Italic.woff2") format("woff2"),
    url("../fonts/NotoSans-Italic.woff") format("woff"),
    url("../fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* --- Noto Sans 700 --- */

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSans-Bold.woff2") format("woff2"),
    url("../fonts/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-BoldItalic.eot");
  src: url("../fonts/NotoSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NotoSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/NotoSans-BoldItalic.woff") format("woff"),
    url("../fonts/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
