/* ---------------------------------- */
/* -------- Noto Sans Arabic -------- */
/* ---------------------------------- */

/* --- Noto Sans Normal --- */

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.ttf")
    format("truetype");
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.woff2")
      format("woff2"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.woff") format("woff"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -- Noto Sans Regualr Also gets used for Italic in Arabic */
@font-face {
  font-family: "Noto Sans";
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.ttf")
    format("truetype");
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.woff2")
      format("woff2"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.woff") format("woff"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* --- Noto Sans 700 --- */

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.ttf")
    format("truetype");
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.woff2") format("woff2"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.woff") format("woff"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -- Noto Sans Bold also gets used for Bold Italic in Arabic */
@font-face {
  font-family: "Noto Sans";
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.ttf")
    format("truetype");
  src: url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.woff2") format("woff2"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.woff") format("woff"),
    url("../assets/Noto_Sans_Arabic/NotoSansArabic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
