/* ---------------------------------- */
/* -------- Vazirmatn -------- */
/* ---------------------------------- */

/* --- Vazirmatn Normal --- */

@font-face {
  font-family: "Vazirmatn";
  src:
    url("../assets/Vazirmatn-Regular.ttf") format("truetype"),
    url("../assets/Vazirmatn-Regular.woff2") format("woff2"),
    url("../assets/Vazirmatn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -- Vazirmatn Regualr Also gets used for Italic in Arabic */
@font-face {
  font-family: "Vazirmatn";
  src:
    url("../assets/Vazirmatn-Regular.ttf") format("truetype"),
    url("../assets/Vazirmatn-Regular.woff2") format("woff2"),
    url("../assets/Vazirmatn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* --- Vazirmatn SemiBold --- */

@font-face {
  font-family: "Vazirmatn";
  src:
    url("../assets/Vazirmatn-SemiBold.ttf") format("truetype"),
    url("../assets/Vazirmatn-SemiBold.woff2") format("woff2"),
    url("../assets/Vazirmatn-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- Vazirmatn Bold --- */

@font-face {
  font-family: "Vazirmatn";
  src:
    url("../assets/Vazirmatn-Bold.ttf") format("truetype"),
    url("../assets/Vazirmatn-Bold.woff2") format("woff2"),
    url("../assets/Vazirmatn-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
