@use "../../icons" as *;
@use "../../functions" as *;
@use "./internal/nav-shared" as *;
@import "../../mixins";
@import "../../config";

.ilo--main-nav {
  @include nav-base;

  &-bg {
    &--dark {
      background-color: var(--ilo-color-blue);
    }

    &--darker {
      background-color: var(--ilo-color-blue-dark);

      @include breakpoint("lg", true) {
        background-color: var(--ilo-color-blue);
      }
    }
  }

  &__container {
    @include nav-container;
  }

  &__widgets {
    @include nav-widgets-bar-content;
    &::after {
      background-color: var(--ilo-color-blue-dark);
    }

    &-bar-corner {
      @include nav-widgets-corner(var(--ilo-color-blue-dark));
    }

    &-bar {
      @include nav-widgets-bar(var(--ilo-color-blue-dark));

      &__link {
        @include nav-widgets-link(var(--ilo-color-blue-dark));
      }
    }
  }

  &__branding {
    @include nav-branding;

    &-main {
      @include nav-branding-main;
    }

    &-tag {
      @include nav-branding-tag;

      &__main {
        color: white;
      }

      &__sub {
        color: var(--ilo-color-blue-light);
      }
    }
  }

  &__nav {
    @include nav-core;

    &-menu {
      @include nav-menu;
    }

    &-mobile {
      @include nav-mobile;
    }

    &-search {
      --ilo-subsite_nav_complex-search-color: var(--ilo-color-white);
      @include nav-search;
      border: none;

      &__icon {
        @include icon("search", var(--ilo-subsite_nav_complex-search-color));
      }

      &:hover {
        --ilo-subsite_nav_complex-search-color: var(--ilo-color-blue);
        background-color: var(--ilo-color-white);
      }
    }

    &-burger {
      @include nav-burger;

      --ilo-subsite_nav_complex-burger-color: var(--ilo-color-white);

      &__icon {
        @include icon("burger", var(--ilo-subsite_nav_complex-burger-color));
      }

      &:hover {
        --ilo-subsite-nav-burger-icon: var(--ilo-color-blue);
        background-color: var(--ilo-color-white);
      }
    }

    &-search-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: px-to-rem(620px);
      }

      .ilo--form-control,
      .ilo--fieldset {
        width: 100%;
      }

      .ilo--form-control {
        padding-top: spacing(20);
        padding-bottom: spacing(22);
      }
    }
  }
}
