@use "../../icons" as *;
@use "../../functions" as *;
@use "./internal/nav-shared" as *;
@import "../../mixins";
@import "../../config";

.ilo--subsite-nav-complex {
  @include nav-base;

  &-bg {
    &--light {
      background-color: var(--ilo-color-blue-lighter);
    }

    &--dark {
      background-color: var(--ilo-color-blue);
    }
  }

  &__container {
    @include nav-container;
  }

  &__widgets {
    @include nav-widgets-bar-content;

    &-bar-corner {
      @include nav-widgets-corner(var(--ilo-color-blue));
    }

    &-bar {
      @include nav-widgets-bar(var(--ilo-color-blue));

      &__link {
        @include nav-widgets-link(var(--ilo-color-blue-dark));
      }
    }

    &::after {
      background-color: var(--ilo-color-blue);
    }
  }

  &__branding {
    @include nav-branding;

    &-main {
      @include nav-branding-main;
    }

    &-tag {
      @include nav-branding-tag;
    }
  }

  &__nav {
    @include nav-core;

    &-menu {
      @include nav-menu;
    }

    &-mobile {
      @include nav-mobile;
    }

    &-search {
      @include nav-search;
      --ilo-subsite_nav_complex-search-color: var(--ilo-color-white);
      text-decoration: none;

      &__icon {
        @include icon("search", var(--ilo-subsite_nav_complex-search-color));
      }

      &:hover,
      &:focus {
        --ilo-subsite_nav_complex-search-color: var(--ilo-color-white);
        background-color: var(--ilo-color-blue-dark);
      }
    }

    &-burger {
      @include nav-burger;
      --ilo-subsite_nav_complex-burger-color: var(--ilo-color-white);

      &__icon {
        @include icon("burger", var(--ilo-subsite_nav_complex-burger-color));
      }

      &:hover {
        --ilo-subsite_nav_complex-burger-color: var(--ilo-color-blue);
        background-color: var(--ilo-color-white);
      }
    }
  }
}
