@use "../../tokens" as *;
@use "../../functions" as *;
@import "../../mixins";
@import "../../config";

.ilo--nav-dropdown {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  background-color: var(--ilo-color-white);
  filter: drop-shadow(0px 10px 20px rgba(30, 45, 190, 0.08))
    drop-shadow(0px 4px 8px rgba(30, 45, 190, 0.05))
    drop-shadow(0px 0.8px 1.6px rgba(30, 45, 190, 0.03));
  border-bottom: 3px solid var(--ilo-color-gray-base);
  padding: spacing(8) spacing(18);
  z-index: 4;

  transition:
    opacity 225ms ease-out,
    transform 225ms ease-out,
    visibility 225ms ease-out;

  &:not(&--open) {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }

  &--open {
    z-index: 3;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__container {
    max-width: px-to-rem(1296px);
    padding-inline: spacing(4);
    margin-left: auto;
    margin-right: auto;
  }
}
