@use "../../tokens" as *;
@use "../../functions" as *;
@import "../../mixins";
@import "../../config";
@import "../../animations";

.ilo--nav-menu {
  display: flex;
  align-items: center;
  gap: spacing(12);

  @include breakpoint("xl", true) {
    gap: spacing(6);
  }

  &__list {
    display: flex;
    // gap: spacing(12);
    align-items: center;
    height: 100%;

    @include breakpoint("xl", true) {
      // gap: spacing(6);
    }
  }

  &__item {
    display: flex;
    height: 100%;
  }

  &__link {
    @include typography("highlight-medium");
    color: var(--ilo-color-white);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include globaltransition("background-color");
    padding-inline: spacing(6);

    &--active,
    &:hover,
    &:focus,
    &:active {
      background-color: var(--ilo-color-blue-dark);
      outline: none;
    }
  }

  &__more {
    @include globaltransition("background-color, border-color");

    @include breakpoint("lg", true) {
      display: none;
    }

    --ilo-nav_menu-icon-color: var(--ilo-color-white);
    border: 1px solid var(--ilo-color-white);
    border-radius: var(--ilo-border-radius);
    cursor: pointer;
    display: flex;
    gap: spacing(1);
    margin-top: -3px;
    justify-content: center;
    align-items: center;
    padding: spacing(2) spacing(4) spacing(1);
    color: var(--ilo-color-white);
    @include typography("highlight-medium-bold");

    &-icon {
      width: px-to-rem(20px);
      height: px-to-rem(20px);
      margin-top: -3px;
      @include icon("plus", var(--ilo-nav_menu-icon-color));
    }

    &--open,
    &:hover,
    &:focus,
    &:active {
      outline: none;
      border-color: var(--ilo-color-blue-dark);
      background-color: var(--ilo-color-blue-dark);
    }
  }
}
