@use "../../tokens" as *;
@use "../../functions" as *;
@import "../../mixins";
@import "../../config";

.ilo--subsite-nav-complex {
  position: relative;
  overflow: hidden;

  @include breakpoint("lg", true) {
    height: px-to-rem(70px);
  }

  &-bg {
    &--light {
      background-color: var(--ilo-color-blue-lighter);
    }

    &--dark {
      background-color: var(--ilo-color-blue);
    }
  }

  &__container {
    max-width: px-to-rem(1296px);
    margin-left: auto;
    margin-right: auto;
    padding-inline: spacing(4);

    &--light {
      background-color: var(--ilo-color-blue-lighter);
    }

    &--dark {
      background-color: var(--ilo-color-blue);
    }
  }

  &__widgets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: px-to-rem(32px);
    position: relative;
    padding-inline-end: 0;

    @include breakpoint("lg", true) {
      display: none;
    }

    &-bar-corner {
      display: block;
      background-color: var(--ilo-color-blue);
      width: px-to-rem(32px);
      height: px-to-rem(32px);
      clip-path: polygon(0 0, 100% 0, 99% 100%);
      margin-right: -1px;
      transform: skewY(0.001deg);

      [dir="rtl"] & {
        @include cornercut(spacing(10), 100%, "left");
        margin-right: 0;
        margin-left: -1px;
        clip-path: polygon(0 0, 100% 0, 1% 100%);
      }
    }

    &-bar {
      background-color: var(--ilo-color-blue);
      height: 100%;
      display: flex;
      align-items: center;
      gap: spacing(4);
      padding-inline-end: spacing(4);
      height: px-to-rem(32px);

      &__link {
        @include typography("highlight-small-bold");
        height: inherit;
        display: flex;
        align-items: center;
        padding-inline: spacing(2);
        text-decoration: none;
        color: var(--ilo-color-white);

        &:hover {
          background-color: var(--ilo-color-blue-lighter);
          color: var(--ilo-color-blue);
        }
      }

      &__language {
        &:hover {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: var(--ilo-color-blue-lighter);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100%;
      background-color: var(--ilo-color-blue);
      z-index: 1;

      [dir="rtl"] & {
        left: auto;
        right: 100%;
      }
    }
  }

  &__branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: spacing(6);

    @include breakpoint("lg", true) {
      display: none;
    }

    &-main {
      display: flex;
      justify-content: center;
      align-items: center;

      &__logo img {
        height: 100%;
        max-height: px-to-rem(72px);
        width: px-to-rem(200px);
        padding-inline-end: spacing(4);
        border-inline-end: 1px solid var(--ilo-color-blue-dark);
      }

      &__name {
        @include typography("heading-2");
        padding-inline-start: spacing(4);
      }
    }

    &-tag {
      display: flex;
      flex-direction: column;
      text-align: right;

      &__main {
        @include typography("heading-4");
      }

      &__sub {
        @include typography("body-xsmall");
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px-to-rem(64px);

    @include breakpoint("lg", true) {
      height: px-to-rem(70px);
    }

    &-menu {
      @include breakpoint("lg", true) {
        display: none;
      }
    }

    &-mobile {
      justify-content: center;
      align-items: center;
      display: none;

      @include breakpoint("lg", true) {
        display: flex;
      }

      &__logo {
        padding-inline-end: spacing(4);
        border-inline-end: 1px solid var(--ilo-color-white);
        height: px-to-rem(38px);

        img {
          height: 100%;
        }
      }

      &__name {
        padding-inline-start: spacing(4);
        color: var(--ilo-color-white);
        @include typography("heading-3");
        font-size: px-to-rem(16px); //Designs have wrong config
      }
    }

    &-search {
      --ilo-subsite_nav_complex-search-color: var(--ilo-color-white);
      height: 100%;
      display: flex;
      align-items: center;
      padding-inline: spacing(2);
      text-decoration: none;

      @include breakpoint("lg", true) {
        display: none;
      }

      display: flex;

      &__icon {
        @include icon("search", var(--ilo-subsite_nav_complex-search-color));
        width: px-to-rem(32px);
        height: px-to-rem(32px);
        cursor: pointer;
      }

      &:hover {
        --ilo-subsite_nav_complex-search-color: var(--ilo-color-blue);
        background-color: var(--ilo-color-blue-lighter);
      }
    }

    &-burger {
      display: none;

      @include breakpoint("lg", true) {
        display: flex;
      }

      --ilo-subsite_nav_complex-burger-color: var(--ilo-color-white);
      margin-block: px-to-rem(20px);
      align-items: center;
      border: none;
      cursor: pointer;

      &__icon {
        width: px-to-rem(32px);
        height: px-to-rem(32px);
        @include icon("burger", var(--ilo-subsite_nav_complex-burger-color));
      }

      &:hover {
        --ilo-subsite-nav-burger-icon: var(--ilo-color-blue);
        background-color: var(--ilo-color-white);
      }
    }
  }
}
