.changelog {
  border: 1px solid var(--ilo-color-brand-700);
  padding: 20px;
  h2 {
    color: var(--ilo-color-brand-600);
    border-color: var(--ilo-color-brand-700);

    &:after {
      content: "";
      position: absolute;
      border-left: 10px solid transparent;
      border-top: 10px solid var(--ilo-color-red-500);
    }
  }

  h3 {
    color: var(--ilo-color-brand-800);
  }

  ul {
    list-style: none;
    padding-left: 1.5em;
    color: var(--ilo-color-neutrals-black) !important;
    margin-bottom: 40px;

    li {
      position: relative;
      padding-left: 1.5em;
      font-family: monospace;
      font-size: 13px;

      &::before {
        content: "\25B6";
        color: var(--ilo-color-purple-600);
        position: absolute;
        left: 0;
      }
    }
  }

  code {
    background-color: var(--ilo-color-red-100) !important;
    padding: 4px 7px !important;
    border: 1px solid var(--ilo-color-red-600) !important;
    border-radius: var(--ilo-border-radius) !important;
    font-family: monospace;
    font-style: italic;
  }

  pre {
    margin: 20px 0 !important;
  }

  a:not([aria-hidden="true"]) {
    color: var(--ilo-color-brand-600);
    text-decoration: none;
    border-bottom: 1px solid var(--ilo-color-brand-600);
  }
}
