@import "@ilo-org/themes/build/scss/tokens";

#storybook-docs:has(.welcome) {
  position: relative;
  overflow: hidden;
}

.sbdocs:has(.welcome) {
  background-color: $brand-ilo-dark-blue;
  overflow: hidden;

  .welcome {
    margin-top: 5px;
    background-color: $brand-ilo-dark-blue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;

    &--title {
      color: $brand-ilo-white;
    }

    &--subtitle {
      color: #a0cb29;
      font-size: 1.5rem;
      margin-bottom: 0;
      display: flex;
      align-items: flex-end;
      gap: 5px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    &--version {
      font-size: 0.8rem;
      color: #d2d2d2;
      font-family: monospace;
    }

    .ilo--button {
      margin-top: 15px;
    }
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .triangle1 {
    margin-top: 70px;
    border-width: 110px 0 110px 190px;
    border-color: transparent transparent transparent #22147c;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .triangle2 {
    border-width: 400px 0 500px 900px;
    border-color: transparent transparent transparent $brand-ilo-blue;
    top: 150px;
    left: 50%;
    animation: drift-1 60s infinite;

    @media (max-width: 768px) {
      border-width: 100px 0 100px 160px;
      top: 60%;
      left: 45%;
      z-index: 2;
      animation: none;
    }

    @media (max-width: 375px) {
      border-width: 90px 0 90px 150px;
      top: 65%;
      left: 40%;
    }
  }

  .triangle3 {
    border-width: 300px 0 300px 500px;
    border-color: transparent transparent transparent $brand-ilo-dark-red;
    top: -40px;
    right: -60px;
    animation: drift-2 60s infinite;

    @media (max-width: 768px) {
      border-width: 170px 0 170px 280px;
      top: 40%;
      left: 20%;
      animation: none;
    }

    @media (max-width: 375px) {
      border-width: 110px 0 110px 200px;
      top: 50%;
    }
  }

  @keyframes drift-1 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(15%, -15%) scale(0.8);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes drift-2 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(-45%, 15%) scale(1.2);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}
