#storybook-docs:has(.welcome) {
  position: relative;
  overflow: hidden;
}

.sbdocs:has(.welcome) {
  background-color: rgba(35, 0, 80, 1);
  overflow: hidden;

  .welcome {
    margin-top: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    z-index: 1;
    position: relative;

    &--title {
      color: rgba(255, 255, 255, 1); // --ilo-color-white
    }

    &--subtitle {
      color: rgba(160, 203, 41, 1); // --ilo-color-green
      margin-bottom: 0;
      display: flex;
      align-items: flex-end;
      gap: 5px;
      span {
        font-size: 1.5rem;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }

    &--version {
      font-size: 0.8rem;
      color: rgba(210, 210, 210, 1); // --ilo-color-gray-light
      font-family: monospace;
      margin-bottom: 16px;
    }

    .ilo--button {
      margin-top: 15px;
    }
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 0;
  }

  .triangle1 {
    margin-top: 70px;
    border-width: 110px 0 110px 190px;
    border-color: transparent transparent transparent rgba(35, 0, 80, 1); // --ilo-color-blue-dark

    @media (max-width: 768px) {
      display: none;
    }
  }

  .triangle2 {
    border-width: 400px 0 500px 900px;
    border-color: transparent transparent transparent rgba(30, 45, 190, 1); // --ilo-color-blue
    top: 150px;
    left: 50%;
    animation: drift-1 75s infinite;

    @media (max-width: 768px) {
      border-width: 100px 0 100px 160px;
      top: 60%;
      left: 45%;
      z-index: 2;
    }

    @media (max-width: 375px) {
      border-width: 90px 0 90px 150px;
      top: 65%;
      left: 40%;
    }
  }

  .triangle3 {
    border-width: 300px 0 300px 500px;
    border-color: transparent transparent transparent rgba(200, 48, 60, 1); // --ilo-color-red-dark
    top: -40px;
    right: -60px;
    animation: drift-2 75s infinite;

    @media (max-width: 768px) {
      border-width: 170px 0 170px 280px;
      top: 40%;
      left: 20%;
    }

    @media (max-width: 375px) {
      border-width: 110px 0 110px 200px;
      top: 50%;
    }
  }

  @keyframes drift-1 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(15%, -15%) scale(0.8);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes drift-2 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(-45%, 15%) scale(1.2);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}
