@import "@ilo-org/themes/build/scss/tokens";
@import "@ilo-org/styles/scss/monorepo";

h1,
h2,
h3,
h4,
h5 {
  font-family: "Overpass", sans-serif !important;
}

button[title="Zoom in"]:hover,
button[title="Zoom out"]:hover,
button[title="Reset zoom"]:hover {
  color: $brand-ilo-dark-blue;
  background-color: $brand-ilo-light-blue;
}

a[class*="ilo--button"] {
  color: $brand-ilo-dark-blue;

  &:hover {
    color: $brand-ilo-blue;
  }
}
