@import "@ilo-org/styles/scss/monorepo";

.sbdocs {
  h1.sbdocs-title {
    font-family: var(--ilo-fonts-display);
    font-weight: 700;
  }

  h1.sbdocs-title + p {
    font-family: var(--ilo-fonts-copy);
    font-size: 16px;
  }

  pre {
    margin-block: 0;
  }

  code {
    padding-inline: 0.25rem;
    padding-block: 0.5rem;
    font-weight: 700;
    font-size: 0.8em;
  }
}

button[title="Zoom in"]:hover,
button[title="Zoom out"]:hover,
button[title="Reset zoom"]:hover {
  color: var(--ilo-color-blue-dark);
  background-color: var(--ilo-color-blue-light);
}

a[class*="ilo--button"] {
  color: unset;

  &:hover {
    color: unset;
  }
}
